#products,.featured-products,.product-accessories,.product-miniature{
    position: relative;
    .thumbnail-container{
        box-shadow: none;
        height: 100%;
        width: auto;
        margin-bottom: 75px;
        text-align: center;

        a{
            display: flex;
            justify-content: center;
        }

        &.not--available{
            &:after{
                content: "";
                position: absolute;
                right: 0;
                top: 0;
                left: 0;
                display: block;
                bottom: 0;
                background: rgba(0,0,0,0.100);
                z-index: 2;
            }

            .product-flags{
                display: none;
            }
        }
    }

    .product-miniature{
        height: 100%;
        flex: 0 0 30%;
        max-width: 30%;    
        padding-bottom: 0;
    }

    .product-title{
        margin-bottom: 20px;
        
        a{
            font-size: 16px;
            font-family: $ff-base;  
            font-weight: 600;
            color: black;
            text-transform: uppercase;
        }
    }

    .highlighted-informations{
        display: none;
    }

    .regular-price{
        color: black;
        font-weight: 500;
    }
    
    .product-price-and-shipping{
        font-size: 16px;
        font-weight: 700;
        font-family: $ff-base;
        color: #000;
    }

    .product-miniature{
    
        .product-flags .new{
            left: 50%;
            top: 0px !important;
            transform: translate(-50%,0);
            background: transparent;

            box-shadow: none;
            min-width: auto;
            min-height: auto;
            padding: 10px 0%;
            color: $brand-primary;
            font-size: 14px;
            font-family: $ff-base;
            position: relative;
            text-transform: none;
            text-align: center;
            font-style: italic;
            font-weight: 400;

            span {
                padding-top: 3px;
                text-shadow:#fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;
                background: transparent;
            }

            &:after{
                z-index: -1;
                content: "";
                position: absolute;
                border: 1px solid $brand-primary;
                border-radius: 50%;
                height: 35px;
                width: 35px;
                position: absolute;
                left: 50%;
                top: 47%; 
                background: #fff;
                box-shadow: #fff 1px 1px, #fff -1px 1px, #fff -1px -1px, #fff 1px -1px;
                transform: translate3d(-50%, -50%, 0);
            }
        }

        .product-description{
            position: inherit;
            width: auto;
            height: auto;

            &:after{
                display: none;
            }
        }

        .discount-percentage{
            display: none;
        }  
    }
}

//Pictos produit
.delivery__pictos{
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-top: 30px;

    span{
        position: relative;
        cursor: pointer;

        &:before{   
            font-size: 44px;
            color: black;
            font-weight: 600;
            transition: color $ease;
        }

        &:hover{
            &:before{
                color: $brand-primary;
            }
        }

        &.disabled{
            &:before{
                color: $gray;
                opacity: 0.3;
            }
        }
    }

    .retrait__boulangerie{ 

        margin: 0 5px 0 -5px;

        &:before{
            @include picto(livaison);
        }
    }

    .livraison__rdv:before{
        @include picto(velo02);   
    }

    .livraison__coli{

        margin-left: 10px;
        margin-bottom: 4px;

        &:before{
            @include picto(livraison);
            font-size: 33px;
        }
    }
}

.product-miniature.disabled{
    opacity: 0.3;
}

//Description bas produit
.desc__livraison{
    visibility: hidden;
    clip: rect(0,0,0,0);
    opacity: 0;
    min-height: 60px;
    position: absolute;
    bottom: 10px;
    left: 0;
    right: 0;
    transition: all $ease-2;

    span{
        display: block; 
        text-align: center;
        font-size: 13px;
        color: $gray;
        opacity: 0.8;
    }

    a{
        text-decoration: underline;
        color: $gray;
        font-size: 14px;
    }

    &.is--open{
        opacity: 1;
        visibility: visible;
        clip: auto;
    }
}