.links ul{
    list-style: none;
}

.wrap {
    max-width: none;
    padding: 0 !important;
}

.site-main .blog__hp__container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;

    article{
        flex: 0 0 50%;
        max-width: 50%;

        .article__container__blog{   
            padding: 60px 0;
            margin: 0 20px;
            border-top: 1px solid #e6e6e6;
        }
    }

    article:nth-child(-n+2){
        .article__container__blog{
            border-top: none;
        }
    }

    .post-thumbnail{
        border: 1px solid #e6e6e6;  

        img{
            width: 100%;
            padding: 10px;
        }
    }

    .entry-header{
        font-size: 13px;
        font-family: $ff-base;
        color: black;
        text-transform: uppercase;
        font-weight: 500;
        padding: 0 10px;
        margin: 0;
    }

    .entry-title a{
        font-size: 30px;
        line-height: 1;
        font-family: $ff-base;
        color: black;
        font-weight: 700;
        text-transform: uppercase;
        transition: color $ease;

        &:hover{
            text-decoration: none;
            color: $brand-primary;
        }

        &:focus, &:hover{
            box-shadow: none;
            outline: none;
        }
    }

    .entry-meta{
        font-family: $ff-base;
        color: #c4c5c7;
        font-size: 11px;
        font-weight: 600;
        text-transform: none;
        letter-spacing: 0px;
    }

    .entry-date{
        font-family: $ff-base;
        color: #c4c5c7;
        font-size: 11px;
        text-transform: none;
        letter-spacing: 0px;

        &:focus, &:hover{
            box-shadow: none;
            outline: none;
        }
    }

    .entry-meta a{
        &:hover{
            box-shadow: none;
        }
    }

    .entry-content{
        p{
            padding-right: 50px;
            font-weight: 500;
            padding-left: 10px;
            overflow: hidden;
        }
    }

    .edit-link{
        display: none;
    }

    //INSTAGRID
    .container{
        display: flex;
        flex-direction: column;
        flex: 0 0 50%;
        max-width: 50%;

        .title--insta{
            margin-top: 0;
            margin-bottom: 20px;
            padding-top: 10px;
        }

        #instagridz ul li{
            flex: 0 0 50%;
            max-width: 50%;
            padding: 0 12px;
        }
    }
}
.format-video {
    .wp-video {
        margin: 0 auto;
    }
}

.menu-blog__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;

    .blog-search {
        padding: 0 20px; 
        text-decoration: none; 
        &:before {
            @include picto('search-1');
            font-size: 26px;
        }
    }
}
#menu-menu-blog{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    list-style: none;
    margin-bottom: 0;

    li{
        padding: 0 20px;

        a{
            text-transform: uppercase;
            font-weight: 500;
            color: black;
            font-family: $ff-base;
            font-size: 16px;
            transition: color $ease;

            &:hover{
                color: $brand-primary;
            }

            &:focus, &:active{
                outline: none;
                text-decoration: none;
            }
        }
    }
}

.search-blog__container {
    z-index: 999999;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 100vh;
    padding: 20%;
    background: rgba($primary-color,0.98);
    opacity: 0;
    visibility: hidden;
    clip: rect(0,0,0,0);
    // transform: scale(0.7);
    transition: all $ease-2;

    &.is--open {
        // transform: scale(1);
        opacity: 1;
        visibility: visible;
        clip: auto; 
    }

    form { display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        input[type=text],
        input[type=search] {
            height: 150px;
            font-size: 80px;
            font-weight: 900; 
            background: transparent;
            border: none;
            color: white;
            
            @include placeholder {
                color: white;
                opacity: 1;
            }
        }
        button[type=submit] {
            position: relative;
            display: flex;
            bottom: auto;
            right: auto;
            padding: 0;
            border: none;
            background:none;
            cursor: pointer;
            outline: none;

            &:hover,
            &:focus {
                outline: none;
                &:before {
                    opacity: 1;
                }
            }
            
            &:before {
                @include picto('search-1');
                color: white;
                font-size: 80px;
                opacity: 0.6;
            }
        }
    }
    .search_widget__text {
        margin-top: 50px;
        font-size: 40px;
        color: white;
        text-align: center;
    }
    .search__picto {
        cursor: pointer;
        &.search__picto--open {
            &:before {
                @include picto('search-1');
                font-size: 26px;
            }
            &:hover {
                &:before {
                    color: $primary-color;
                }
            }
        }
        &.search__picto--close {
            z-index: 99;
            position: absolute;
            top: 20px;
            right: 20px;
            &:before {
                @include picto('croix');
                color: white;
                font-size: 30px;
            }
        }
    }
}

//Search Blog
.page-header__search{
    text-align: center;
    padding-top: 40px;
    width: 100%;
}

.site-main .blog__hp__container article.type-page{
    .link-more{
        display: none;
    }

    .article__container__blog{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
} 

.site-main .blog__hp__container article.type-post{
    .article__container__blog{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
    }
}

.page-title__search{
    padding: 0;
    margin: 0;
    font-family: $ff-base;
    color: black;
    font-weight: 500;
    text-transform: uppercase;
}

.blog__img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 25px;
    padding: 85px 20px;
    background-color: #f9f9f9;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

//Le + article
.read__more{
    position: relative;

    &:before{
        @include picto('plus-1');
        color: $primary-color;
        font-size: 30px;
        font-weight: 300;
        position: absolute;
        left: 10px;
        top: 0;
    }

    &:hover{
        &:before{
            transform: scale(1.2);
            transition: scale $ease-2;
        }
    }
}

.blog__title__container{

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: auto;

    .blog__title{
        font-size: 60px;
        text-transform: uppercase;
        font-family: $ff-base;
        font-weight: 700;
        color: white;
    }

    .blog__container--white{

        background: white;
        width: auto;
        height: auto;

        .blog__container--border{
            padding: 10px;
        }

        .blog__desc{
            padding: 32px 45px;
            color: #696969;
            text-align: center;
            line-height: 1.2;
            width: 465px;
            border: 1px solid #e6e6e6;
            font-size: 16px;
            font-family: $ff-base;
            font-weight: 500;

            p{
                margin-bottom: 0;
                color: black;
                font-size: 16px;
                font-family: $ff-base;
            }
        }
    }
}

.fb_iframe_widget {
    display: flex;
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 20px;

    span{
        margin: 0 auto;
        display: block !important;
    }
}


/**
 *
 * ARTICLE
 * Single
 *
 */
.the-article {
    .entry-header {
        position: relative;
        margin-bottom: -200px;  
        padding-top: 70px !important;
        padding-bottom: 220px !important;
        background: $gray-lighter; 
        text-align: center;

        .entry-title {
            font-size: 40px;
        }
    }
    .cat {
        font-size: 13px;
        font-weight: 500;
        color: #373a3f;
        text-transform: uppercase;
    }
    .posted-on {
        font-size: 13px;
        font-weight: 700;
        color: #373a3f;
        opacity: 0.4;
        text-transform: initial;
        
        a {
            font-size: 13px;
            font-weight: 700;
            color: #373a3f;
            text-transform: uppercase; 
            text-decoration: none;

            &:hover {
                box-shadow: none;
            }
        }
    }
    .entry-title {
        font-size: 30px;
        font-weight: 700;
        color: black;
        text-transform: uppercase;
    }
    .post-thumbnail {
        position: relative;
        text-align: center;

        a,
        .img__container {
            position: relative;
            display: inline-block;
            border: 1px solid #e6e6e6;  
            background: #ffffff;
        }

        img {
            padding: 10px;
            width: 100%;
        }
        .the-excerpt {
            position: absolute;
            top: 50%;
            left: 20%;
            right: 20%;
            display: block;
            padding: 7px;
            background: white;
            font-size: 16px;
            font-weight: 500;
            color: $gray;
            text-align: center;
            transform: translate3d(0,-50%,0);

            p {
                display: inline-block;
                margin: 0;
                padding: 25px;
                border: 1px solid #e6e6e6;
                font-size: 16px;
                font-weight: 500;
                line-height: 1.1;
            }
        }

    }
    .entry-content {
        padding: 0 20px;
        margin-top: 40px;
        font-size: 16px; 
        font-weight: 500;
        color: $gray;
        h2,
        h3,
        h4 {
            font-size: 20px;
            color: black;
            font-weight: 700;
        }
        h2, h3 {
            text-transform: uppercase;
        }
        h3 {
            font-size: 18px;
        }
        h5,
        h6 {
            color: black;
            font-weight: 500;
        }
        p {
            font-size: 16px;
            font-weight: 500;
            color: $gray;

            img {
                display: block; 
                margin: 40px auto;
                padding: 10px;
                border: 1px solid #e6e6e6; 
                max-width: 100%; 
            } 
        }
        a {
            color: $primary-color;
            text-decoration: none;
        }
    }
}
.actu-content {
    max-width: 100% !important;
}
/*----------  RS  ----------*/
.format-video {
    .ss-social-sharing {
        display: none;
    }
}
.ss-social-sharing {
    margin: 50px 0;
    justify-content: center;

    [class^="ss-button"]{
        width: auto;
        height: auto;
        margin: 0 15px;
        background: none;
        box-shadow: none;
        text-indent: 0;
        text-decoration: none;
        
        &:focus,
        &:hover {
            background: none;
            text-decoration: none;
            box-shadow: none;

            &:before {
                color: $primary-color;
            }
        }
    
        &:before {
            color: black;
            font-size: 22px;
        }
    }
    .ss-button-facebook:before {
        @include picto('facebook');
    }
    .ss-button-twitter:before {
        @include picto('twitter');
    }
    .ss-button-pinterest:before {
        @include picto('pinterest');
    }
}
/*----------  Navigation  ----------*/
.post-navigation {
    height: 0;
    margin: 0 !important;

    .nav-subtitle {
        margin: 0 !important;
    }
    .nav-links {
        padding: 0 !important;
    }

    .nav-next,
    .nav-previous {
        a {
            position: absolute;
            bottom: 85px;
            box-shadow: none;
            transition: all $ease;

            &:before {
                font-size: 30px;
                color: $primary-color;
                opacity: 0.5;
                transition: all $ease;
            }

            &:focus,
            &:hover {
                text-decoration: none;
                box-shadow: none;

                &:before {
                    opacity: 1;
                }
            }

            span {
                display: none;
            }
        }
    }

    .nav-previous {
        a {
            left: 20px; 

            &:before {
                @include picto('left-open-big')
            }
        }
    }
    .nav-next {
        a {
            right: 20px; 

            &:before {
                @include picto('right-open-big')
            }
        }
    }
}
/*----------  Comments  ----------*/
.comments-button__container {
    margin-bottom: 40px;
    text-align: center;

    .btn {
        padding: 0.5rem 1.25rem 0.3rem;
        background: white;
        color: black;
        text-transform: initial;
        font-family: $ff-base;
        font-size: 18px;
        font-weight: 500;
        border: 2px solid $primary-color;
        box-shadow: none;
        transition: all $ease;
        outline: none;

        &:hover {
            color: white;
            background: $primary-color;
        }
    }
}
#comments {
    padding: 0 !important;
    font-size: 16px;
    font-weight: 500;
    color: $gray;
    h3 {
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
    }
    p, 
    label {
        font-size: 18px; 
        font-weight: 500;
        color: $gray;
    }
}

.the-article.fiche-metier{

    .entry-header{
        background: none;
        padding-bottom: 220px!important;
    }

    .post-thumbnail img {
        display: block;
        margin: 0 auto 40px;
        padding: 10px;
        border: 1px solid #e6e6e6;
        max-width: 100%;
    }

    .entry-content + p{

        display: flex;

        img{
            height: 100%;
            width: auto;
            margin: 0px auto;
        }
    }
}

.page-template-template-hp-emploi {
    .circle_container {
        margin: 60px 0 0 0;
        canvas{
            position: absolute;
            left: 50%;
            margin-left: -110px;
        }
        .circle_content{
            padding: 65px 0 0 0;
            height: 220px;
            margin-bottom: 40px;
            p {
                text-transform: uppercase;
                font-size: 18px !important;
                font-weight: bold;
                line-height: 20px;
                margin: 0;
                &.h1 {
                    font-size: 68px !important;
                    line-height: 52px;
                    margin: 0;
                    sup {  
                      position: relative;
                      top: -24px;
                      font-size: 42px;
                    }
                }
            }
        }
    }

    .titre-hp-cariere {
        .column {
            width: 100%;
        }
        .entry-title {
            text-align: center;
            margin-top: 80px;
            font-size: 26px !important;
            margin-bottom: 0;
        }
    }
}

.job_listing .job-extract, .single_job_listing .job_description{
    p{
       word-break: break-word; 
       text-transform: none;
       font-size: 1rem;
    }
}
.job_listing .job-extract p {
    text-align: justify;
}

.job_listing_content{
    display: flex;
    justify-content: center;
    align-items: flex-start;   
    flex-wrap: wrap; 

    .bloc-job{
        min-height: 494px; 
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        .btn-white-to-orange{
            margin-top: auto;
        }
    }
}




.job_filters{

    .pgeListeAnnonce-menu{
        > ul li{
            position: relative;
            transition: background-color $ease;
            flex-direction: column;
            width: 100%;

            &:hover{
                background-color: darken( $brand-primary, 5% )
            }
        }
    }

    .job_checkbox{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        flex-direction: column;
        cursor: pointer;

        label{
            display: inline !important;
            color: #FFF;
            cursor: pointer;
            text-align: left !important;

            &:before{
                top: -2px;
                cursor: pointer;
            }

            &:after{
                top: 1px !important;
            }
        }
    }
    

    .search_jobs{
        div.search_keywords{
            width: 100% !important;
            padding: 0;

            input{
                border-radius: 0;
            }
        }

        .listeOffres__contrats{
            flex-direction: column;
            width: 100%;

            li{
                display: flex;
                align-items: center;
                justify-content: center;
            }

            label{
                display: block !important;
                text-align: center;
            }
        }

        .listeOffre_filtres{
            height: 100%;
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            .search_categories{
                padding: 10px;
            }

            &:focus, &:hover, &:active{
                text-decoration: none;  
            }

            i{
                margin-bottom: 5px;
            }
        }
    }

    .search_categories{
        position: absolute;
        bottom: 0;
        transform: translateY(100%);        
        left: 0;    
        transition: all $ease;  
        display: none;
        opacity: 0;
        background: $brand-primary;
        width: 100%;
        padding-top: 0 !important;
        padding-left: 20px;

        &.is--open{
           opacity: 1;
           display: block;
        }

        &.is--open--mobile{
           position: unset !important;
           bottom: unset !important;
           left: unset !important;
           display: block !important;
           opacity: 1 !important;
           transform: none !important;
           width: 100% !important;
        }

        #search_categories{
            display: block !important;
        }

        .chosen-container.chosen-container-single{
            display: none;
        }

        input{
            &::-webkit-input-placeholder {
                color: black !important;
             }
             
             &:-moz-placeholder { /* Firefox 18- */
                color: black !important;  
             }
             
             &::-moz-placeholder {  /* Firefox 19+ */
                color: black !important;  
             }
             
             &:-ms-input-placeholder {  
                color: black !important;  
             }
        }
    }
}

#modalComments {
    button.close {
        position: absolute;
        right: 10px;
        top: 10px;

        &:before {
            @include picto('croix');
            color: black;
            font-size: 22px;
        }
    }

    input, select, textarea {
        border: 1px solid #e6e6e6;
        border-radius: 3px;
        background: white;
        box-shadow: none;
        padding: 0.5rem 1rem;
    }
    input[type="submit"]{
        background: white;
        color: black;
        text-transform: initial;
        border: 2px solid $primary-color;
        box-shadow: none;
        transition: all $ease;
        outline: none;

        &:hover {
            color: white;
            background: $primary-color;
        }
    }
}
.comment-list {
    margin-bottom: 185px;

    .comment  {
        margin-bottom: 15px;
        padding: 20px;
        border: 1px solid #e6e6e6;
    }
    .comment-body {
        margin: 0;
    } 
    .comment-author,
    .comment-metadata,
    .comment-content {
        padding-left: 65px;
    }

    .comment-content {
        font-style: italic;
    }
    .comment-author {
        margin-top: 10px;
        margin-bottom: 0;
        line-height: 1;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        color: black;

        .avatar {
            top: -10px;
            left: 0;
            border: 2px solid #e6e6e6 !important;
            padding: 0 !important;
            border-radius: 50%; 
        }
    }
    .comment-metadata a {
        font-size: 11px;
        font-weight: 700;
        color: #373a3f;
        opacity: 0.4;
        box-shadow: none;
        text-decoration: none;

        &:focus,
        &:hover {
            box-shadow: none !important;
            text-decoration: none;
        }
    }

    .comment-content p {
        margin-bottom: 10px;
    }
}




@include media-breakpoint-down(sm) {
    .site-main .blog__hp__container{
        padding: 0 10px;

        article{
            flex: 0 0 100%;
            max-width: 100%;
            padding: 20px 0px;

            .article__container__blog{   
                padding: 10px 0;
                margin: 0;
                border-top: 1px solid #e6e6e6;
            }
        }

        article:nth-child(-n+2){
            .article__container__blog{
                border-top: 1px solid #e6e6e6;
            }
        }

        article:nth-child(-n+1){
            .article__container__blog{
                border-top: none;
            }
        }

        .post-thumbnail{
            margin-bottom: 0;
        }

        .entry-title{
            text-align: left;

            a{
                font-size: 20px;
            }
        }

        .entry-content p{
            padding-right: 10px;
        }

        .container{
            flex: 0 0 100%;
            max-width: 100%;
        }

        .fb_iframe_widget{
            flex: 0 0 100%;
            max-width: 100%;
        }
    }

    #menu-menu-blog{
        flex-direction: column;
    }

    .read__more:before{
        top: -20px;
    }

    .blog__title__container{
        .blog__title{
            font-size: 30px;
            text-transform: uppercase;
        }
    
        .blog__container--white{
            .blog__container--border{
                padding: 10px;
            }
    
            .blog__desc{
                padding: 20px 30px;
                width: 415px;
            }
        }
    }

    .blog__img{
        padding: 35px 20px;
    }
}

// Contact Blog

.form-rgpd {
    label {
        padding-left: 40px;
        text-transform: inherit;
        font-size: 16px;
        font-weight: 500;
        text-align: justify;
        color: #696969;

        &.box-rgpd::before {
            margin-left: 0px;
            margin-top: 0px;
        }
        
        &.box-rgpd::after {
            margin-left: 1px !important;
            margin-top: 1px !important;
        }
    }
}

.orange-link {
    color: $brand-primary;
    text-decoration: underline;
    &:hover {
        color: $brand-primary;
    }
}

.section-contact {        
    .checkbox input[type="checkbox"]:checked + label::after {
        font-family: 'FontAwesome';
        content: "\F00C";
    }

    .checkbox label::after {
        display: inline-block;
        position: absolute;
        width: 16px;
        height: 16px;
        left: 1px;
        top: 2px;
        margin-left: -19px;
        margin-top: -1px;
        padding-left: 3px;
        padding-top: 0px;
        font-size: 11px;
        color: #ff6955;
    }
}

.rgpd-bloc { // Bloc RGPD job form
    padding-left: 40px;
    padding-right: 40px;
    .box-rgpd {
        padding-left: 40px;
        text-transform: inherit;
        font-size: 16px;
        font-weight: 500;
        text-align: justify;
        color: #696969;
        &:after {
            margin-left: -18px;
            margin-top: -3px;
        }
    }
    p {
        margin-top: 20px !important;
        text-align: right;
    }
}

.job-manager-form {
    fieldset {
        label { 
            margin: 0;
            width: 40%;
            float: left;
            vertical-align: middle;
            text-transform: uppercase;
            max-width: none;
            padding-left: 0;
            text-align: left;
            margin-bottom: 2px;
            color: #000;
            font-size: 18px;
            font-weight: 500;
            text-transform: uppercase;
        }
        div.field {
            width: 60%;
            float: right;
            vertical-align: middle;
        }
    }
}

@include media-breakpoint-down(md) {

    .blog__title__container{
        .blog__container--white{
            .blog__desc{
                padding: 15px 25px;
                font-size: 14px;
                width: 345px;
            }
        }
    }

    .title--insta{
        margin-bottom: 0px;
    }
    .post-navigation {
        position: relative;
        z-index: 99;

        .nav-next,
        .nav-previous {
            a {
                top: 10px;
                bottom: auto;
            }
        }
    }
}

@include media-breakpoint-down(xs) {
    .blog__title__container{
        .blog__title{
            font-size: 24px;
        }
    
        .blog__container--white{
            .blog__desc{
                padding: 5px 5px;
                width: 255px;
                font-size: 13px;
            }
        }
    }

    .read__more:before {
        top: -10px;
    }

    .rgpd-bloc { // Bloc RGPD job form
        padding-left: 0;
        padding-right: 0;
        .box-rgpd {
            padding-left: 0;
            &:before {
                margin-left: 0;
                margin-top: -40px;
            }
            &:after {
                margin-left: 2px;
                margin-top: -41px;
            }
        }
        p {
            text-align: center;
        }
    }
    
    .job-manager-form {
        fieldset {
            label { 
                width: 100% !important;
            }
            div.field {
                width: 100% !important;
            }
        }
    }

    .post-thumbnail {
        .img__container {
            .the-excerpt {
                left: 10%;
                right: 10%;
            }
        }
    }
}