.cms__container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .box-50 {
        display: flex;
        flex: 0 0 50%;
        max-width: 50%;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding: 125px 25px;

        &.bg-primary {
            color: white;
        }
        &.bg-grey {
            color: black;
        }
    }

    .button--secondary.button--black{
        &:focus{
            background-color: unset;
            text-decoration: none;
        }

        &:hover{
            background-color: black;
        }
    }

    .cms__title {
        margin-bottom: 30px;
        font-size: 30px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        text-align: center;

        .subtitle {
            font-size: 20px;
        }
    }

    .button {
        width: auto;
    }
}

@include media-breakpoint-down(sm) {
    .cms__container {
        flex-direction: column;

        .box-m-100 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .box-50 {
            padding: 75px 10px;
        }
    }
}