.page-authentication,
#contact {
    #content.connexion,
    #content1.connexion{
        box-shadow: none;
        border: none;
        padding: 12px;

        &:after {
            display: block;
            content: "";
            position: absolute;
            width: 20px;
            height: 89%;
            box-shadow: -10px 0px 30px 5px rgba(0, 0, 0, 0.2);
            right: 0;
            top: 30px;
            z-index: -1;
        }
    }
    .header-connexion {
        position: absolute;
        left:0;
        right: 0;
        height: 300px;
    }
    .formulaires {
        padding-top: 70px;
    }

    .connexion, .inscription {
        height: auto;
        padding: 12px;

        h2 {
            margin: 0;
        }

        .login-form {
            margin-top: 0;
            border: 1px solid $input-border-color;

            .title-form {
                padding: 20px 30px 17px 30px;
                width: 100%;
                border-bottom: 1px solid $input-border-color;
                text-transform: uppercase;
                color: #000;

            }

            .text-connexion {
                margin-bottom: 10px;
                font-size: 16px;
            }

            #login-form, #register-form {
                padding: 20px 30px 17px 30px;

                .input-form {

                    .form-group {
                        margin-bottom: 0;
                    }

                    .form-control-comment {
                        display: none;
                    }

                    label {
                        max-width: none;
                        padding-left: 0;
                        text-align: left;
                        margin-bottom: 2px;
                        color: #000;
                        font-size: 18px;
                        font-weight: 500;
                        text-transform: uppercase;
                    }

                    .form-control {
                        width: 225px;
                        max-width: 225px;
                    }
                }

                button {
                    margin-bottom: 15px;
                    width: 240px;
                }

                .stay-connect {
                    margin-bottom: 0;
                    font-size: 15px;
                    font-weight: 500;
                }

                .forgot-password {
                    margin-top: 5px;
                    padding-bottom:5px;
                    text-align: left;
                    text-decoration: underline;
                }

                
            }

            .btn {
                border-radius: 3px;
            }
        }
        .login-form-inscription {
            display: flex;
            min-height: 405px; 
            flex-direction: column;
            border: 1px solid $brand-primary;

            .title-form {
                border-bottom: 1px solid $brand-primary;
            }

            #login-form, #register-form { 
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                height: 100%;

                .bloc-inscription {
                    display: flex; 
                    flex-direction: column;
                    flex-grow: 1;

                    footer {
                        margin-top: auto;
                        margin-bottom: 20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .page-authentication,
    #contact {

        .connexion, .inscription {
            h2 {
                margin: 0;
            }
            .login-form {
                #login-form, #register-form {
                    padding: 20px 10px 17px 10px;
                    button {
                        width: 100%;
                    }
                    .input-form {
                        .form-control {
                            width: 100%;
                            max-width: 100%;
                        }
                    }
                }
                footer {
                    display: inline;
                }
            }
        }
    }
}