.cross-blog__container {
    display: flex;
    flex-direction: row;
    justify-content: center;

    .box-50 {
        display: flex;
        flex: 0 0 50%;
        max-width: 50%;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .cross-blog__left {
        flex-direction: column;
        align-content: center;
        text-decoration: none;

        &:hover {
            .cross-blog__more,
            .cross-blog__subtitle {
                transform: translate3d(0,0,0);
            }
        }
    }
    .cross-blog__subtitle,
    .cross-blog__title {
        width: 100%;
        text-align: center;
        text-transform: uppercase;
        line-height: 1.2;
        color: $gray-darker;
    }
    .cross-blog__subtitle {
        font-size: 16px;
        transition: transform $ease;
        transform: translate3d(0,-10px,0); 
    }
    .cross-blog__title {
        margin: 40px 10px;
        font-size: 41px;
        font-weight: bold;
    }
    .cross-blog__more {
        transition: transform $ease;
        transform: translate3d(0,10px,0);
        &:before {
            @include picto('plus-1');
            color: $primary-color;
            font-size: 22px;
        }
    }
    .cross-blog__article {
        height: 100%;
        padding: 190px 25px;
        background-color: $primary-color;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        text-decoration: none;        

        &:hover {
            .cross-blog__inner {
                border-color: $primary-color;
            }
        }

        &:first-child {
            border-right: 1px solid white;
        }
    }    
    .cross-blog__inner {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex: 0 0 100%;
        max-width: 100%;
        padding: 50px 10px;
        border: 1px solid #e6e6e6;
        color: $gray-darker;
        transition: border-color $ease;
    }
    .cross-blog__content {
        display: flex;
        flex: 0 0 100%;
        max-width: 100%;
        justify-content: center;        
        padding: 10px;
        font-weight: 500;
        background: #fff; 
        text-align: center;

        .categorie {
            font-size: 13px;
            text-transform: uppercase;
        }
        .date {
            margin-bottom: 20px;
            font-size: 11px;
            color: #afb0b2;
        }
        .titre {
            font-size: 18px;
            text-transform: uppercase;
            max-width: 100%;
        }
    }
} 

@include media-breakpoint-down(md) {
    .cross-blog__container {
        display: block;

        .box-m-100 {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .cross-blog__left {
            padding: 35px 10px 30px;
        }
        .cross-blog__subtitle {
            font-size: 10px;
            transform: translate3d(0,0,0);
        }
        .cross-blog__title {
            margin: 25px 10px 15px;
            font-size: 26px;
        }
        .cross-blog__more {
            font-size: 16px;
            transform: translate3d(0,0,0);
        }
        .cross-blog__article {
            padding: 60px 25px; 
        }
    }
} 

@include media-breakpoint-down(xs) {
    .cross-blog__container {
        .box-xs-100 {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}