#search_filters{
    box-shadow: none;
    border: 1px solid #e6e6e6;
    position: relative;
    padding: 40px 20px 100px 30px;

    h4{
        font-family: $ff-base;
        font-weight: 700;
        font-size: 16px;
        color: black;
    }

    .picto__coli,.picto__rdv, .picto__retrait{
        position: relative;
    }

    .picto__coli:before{
       @include picto(livraison);
        font-size: 33px;
        vertical-align: middle;
        padding-right: 10px;
    }

    .picto__rdv:before{
        @include picto(velo02);
        font-size: 31px;
        vertical-align: middle; 
        padding-right: 10px;
    }

    .picto__retrait:before{
        @include picto(livaison);
        font-size: 33px;
        vertical-align: middle;
        padding-right: 10px;
    }

    .collapse{
        margin-bottom: 50px;
    } 
}

.js-search-filters-clear-all{
    background: $primary-color;
    color: white;
    font-weight: 500;
    font-family: $ff-base;
    text-transform: uppercase;
    border-radius: 5px;
    min-width: 140px;
    height: 26px;
    padding-top: 7px;
    padding-left: 15px;
    padding-right: 15px;
    display: flex;
    font-size: 12px;
    padding-top: 8px;
    align-items: center;
    justify-content: center;
    outline:none;

    &:hover,
    &:focus {
        box-shadow: none;   
        background: darken($primary-color, 5%);
        color: white;
        outline: none;
    }
}

.active_filters {
    .filter-block{
        height: 26px;
        padding: 8px 15px 3px;
        margin: 0;
        box-shadow: none;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 10px; 
        // padding-top: 7px;
        min-width: 140px;
        font-size: 16px;
        font-family: $ff-base;
        color: black;
        font-weight: 500;

        .close{
            margin-bottom: 7px;
        }
    }

    ul{
        display: flex;
        margin: 0;
        align-items: center;
    }
}