//SOCIAL WALL
.title--insta {
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    color: $gray-darker;

    .hashtag {
        display: block;
        font-size: 38px;
        font-weight: 500;
    }
}
#instagridz{
    margin-top: 25px;
    margin-bottom: 25px;
    &:after{
      content: "";
      display: table;
      clear: both;
    }
    ul{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
        max-width: map-get($container-max-widths, xl);
        margin: 0 auto;
  
        li{
            display: flex;
            flex: 0 0 calc( (100% - 90px) / 4 );
            max-width: calc( (100% - 90px) / 4 );
        }
      
      img{ display: none; }
  
      a{
        display: block;
        position: relative;
        width: 100%;
        background-position: center;
  
        &:before{
          content: "";
          display: block;
          padding-top: 100%;
        }
      }
      .instagrid-z{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba(0,0,0,0.4);
        color: white;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
  
        &:hover{
          opacity: 1;
        }
      }
    }
  }

@include media-breakpoint-down(md) {
    .title--insta {
        font-size: 16px;
        .hashtag {
            font-size: 25px; 
        }
    }
}
@include media-breakpoint-down(sm) {
    #instagridz{
        ul {
            margin-bottom: -15px;
            li {
                flex: 0 0 calc( (100% - 15px) / 2 );
                max-width: calc( (100% - 15px) / 2 );
                margin-bottom: 15px;
            }
        }
    }
}