.container__liste{
    display: flex;
    flex-direction: row;
    // padding: 10px 25px 10px 50px;
}

//Retourner en haut de la page
.infinitescroll-reached-bottom-message{
    text-align: center;
    font-size: 18px;
    font-weight: 600;

    a{
        margin: 0 auto;
        padding: 10px 15px;
        color: #acb2b5;
        display: block;
        border-radius: 3px;
        color: white !important;
        font-weight: 600;
        margin-top: 10px;
        background: $brand-primary;
        width: 200px;
    }
}

.block-faq-left-column{
    display: none;
}

.total-products{
    display: none;
}

#a_decouvrir {
    &.featured-products {
        .featured-products__title {
            margin: 45px auto 0;
        }
        .swiper-container {
            padding-bottom: 32px;
        }
    }
    .product-miniature {
       max-width: inherit;
       &.disabled{
        opacity:1;
       }
       .delivery__pictos{
            display: none;
       }
    } 

   .swiper-button-next{
        right:0;
    }
    .swiper-button-prev {
        left:0;
    }
    .thumbnail-container{
        margin-bottom: 0;
    }
}

//BLOCK CATEGORIE
.block-category{
    // min-height: 150px;
    box-shadow: none;
    // margin-bottom: 20px;
    margin-bottom: 0;
    padding: 5px 20px 20px;
    border: none;

    h1{
        font-size: 34px;
        color: black;
        font-family: $ff-base;
        font-weight: 700;
    }
}

.block-categories{
    display: none;    
}

#js-product-list-top{
    display: none;
}

#category-description{
    span{
        font-size: 15px;
        font-family: $ff-base;
        color: $gray;
    }
}

@include media-breakpoint-down(sm) {
    

    .desc__livraison{
        display: none;  
    }
}

@include media-breakpoint-down(lg) {

}

@include media-breakpoint-down(md) {
    #category .container__liste{
        padding: 0;
    }
    #main .text-sm-center .h1{
        margin: 10px 0 40px 0;
        text-align: center;
    }

    #category #products .product-miniature{
        flex: 0 0 48%;
        max-width: 48%;
    }
}

@include media-breakpoint-down(xs) {
    #category .container__liste{
        flex-direction: column;
        padding: 0;
    }
    .products{
        margin: auto;
    }
    #products{
        .product-miniature{
            .thumbnail-container{
                margin-bottom: 0;

                img{
                    width: 100%;
                    height: 100%;
                }
            }

            .product-title{
                margin: 10px 0;

                a{
                    font-size: 10px;
                }
            }

            .product-price-and-shipping{
                font-size: 10px;
            }

            .regular-price{
                font-size: 10px;
            }

            .product-flags .new{
                font-size: 10px;
    
                &:after{
                    bottom: 0;
                }
            }
        }
    }

    .delivery__pictos{
        margin-top: 10px;

        span:before{
            font-size: 24px;
        }

        .livraison__coli:before{
            font-size: 24px;
        }
    }

    .container__liste{
        padding: 5px 18px;
    }
}