.email_subscription {
    input[type="text"] {
        min-width: 320px;
        padding: 8px 0 2px 5px;
    }
}

.newsletter-container {
    padding-top: 70px;

    .row.justify-content-center {
        justify-content: center;
    }
}

.inscription-newletter {
    margin-bottom: 1.563rem;
    max-width: none;
    box-shadow: none;
    border: none;
    padding: 12px;
    background: white;
    max-width: 640px;
    margin: 0 auto;

    &:after {
        display: block;
        content: "";
        position: absolute;
        width: 20px;
        height: 250px;
        box-shadow: -10px 0px 30px 5px rgba(0, 0, 0, 0.2);
        right: 0;
        top: 30px;
        z-index: -1;
    }

    .checkbox-rgpd {
        label {
            padding-left: 40px;

            &.box-rgpd::before {
                margin-left: 0px;
                margin-top: 0px;
            }

            &.box-rgpd::after {
                margin-left: 2px;
                margin-top: 1px;
            }
        }
    }

    .newsletter-content {
        margin-top: 0;
        border: 1px solid #e6e6e6;
    }

    .title-form {
        margin: 0;
        padding: 20px 100px 17px 105px;
        width: 100%;
        border-bottom: 1px solid #e6e6e6;
        text-transform: uppercase;
        color: #000;
    }

    form {
        padding: 20px 100px 17px 100px;
    }
}

.header-connexion {
    position: absolute;
    left: 0;
    right: 0;
    height: 300px;
}

@include media-breakpoint-down(xs) {
    .email_subscription {
        input[type="text"] {
            min-width: 200px;
            padding: 8px 0 2px 5px;
        }
    }

    .inscription-newletter {
        form {
            padding: 20px 10px 17px 10px;
        }
    }
}