//Ouverture du panier sur la droite
#quick-cart {
    z-index: 999;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    width: 370px;
    height: 100vh;
    padding: 20px 0;
    background: rgba(255, 255, 255,1);
    transform: translate3d(370px,0,0);
    transition: transform $ease-2;




    &.is--open {
        transform: translate3d(0,0,0) !important;
        box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2); 
        z-index: 999 !important; 
        
        .quick-cart__title{
            opacity: 1;
            transition: opacity $ease-2 0.2s; 
        }

        .quickcart__picto.quickcart__picto--close{
            top: 37px; 
            
            &:before{
                opacity: 1;
                transition: opacity $ease-2 0.3s; 
            }
        }

        .no-items{
            opacity: 1;
            transition: opacity $ease-2 0.4s; 
        }

        #cart-subtotal-products{
            opacity: 1;
            transition: opacity $ease-2 0.6s;   

            .label, .value{
                opacity: 1;
                transition: opacity $ease-2 0.6s; 
            }
        }

        .quickcart__container__bottom{
            opacity: 1;
            transition: opacity $ease-2 0.6s; 
        }

        .quickcart__button button{
            opacity: 1;
            transition: opacity $ease-2 0.8s; 
        }

        .media{
            opacity: 1;
            transition: opacity $ease-2 0.4s; 
        }
    }

    .blockcart__quickcart {
        margin-left: 30px;
        position: relative;
    
        .picto {
            &.shopping-cart {
                &:before {
                    @include picto('panier');
                    font-size: 48px;
                    color: $primary-color;
                }
            }
        }

        .cart-products-count {
            z-index: 99;
            position: absolute;
            bottom: -2px;
            right: -2px;
            border: 2px solid #fff;
            border-radius: 50%;
        
            span {
                display: block;
                width: 18px;
                height: 18px;
                font-family: $ff-special;
                font-size: 9px;
                font-weight: 700;
                line-height: 16px;
                text-align: center;
                color: $primary-color;
                background: #fff;
                border: 1px solid $primary-color;
                border-radius: 50%;
            }
        }
    }

    .quickcart__picto {
        line-height: 1;
        &.quickcart__picto--close {
            position: absolute;
            top: 30px;
            right: 30px;
            cursor: pointer;
            &:before {
                @include picto('croix');
                color: $brand-primary;
                font-size: 26px;
                font-weight: 700;
                opacity: 0;
            }
        }
    }



    //Titre "MON PANIER"
    .quick-cart__title{
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: flex-start;
        width: 100%;
        opacity: 0;
    }
        
    .quick-cart__title--cart{
        text-transform: uppercase;
        color: $gray-darker;
        font-size: 24px;
        font-weight: 700;
        padding-left: 20px;
        padding-top: 10px;
        display: flex;
        flex-direction: column;

        span{
            font-size: 18px;
        }
    }

    //Quand pas d'article dans le panier
    .no-items{
        position: absolute;
        top: 40%;
        left: 50%;
        transform: translate(-50%,-50%);
        white-space: nowrap;
        opacity: 0;
    }

    //Pour régler l'encart nombre de produits du picto panier 
    .blockcart__quickcart .cart-products-count{
        bottom: 0px;
        right: 0px;
    }

    .blockcart__quickcart.cart-preview{
        padding-top: 5px;
    }


    .media{
        display: flex;
        padding-bottom: 30px;
        opacity: 0;
    }

    //Image et description divisé en 2
    .media-body, .media-left{
        width: 50%;
    }

    //Liste de produits
    .media-list{
        margin-top: 60px;
        max-height: 70vh;
        overflow-y: auto; 
        width: 100%;
    }

    //Centrer l'image du produit
    .media-left img{
        margin: 0 auto;
    }

    //Prix du produit
    .product-price{
        color: black;
        font-weight: 500;
        display: block;
    }

    //Intitulé du produit
    .product-name{
        text-transform: uppercase;
        display: block;
        font-size: 16px;
        color: black;
        font-weight: 700;

        .attributes {
            font-size: 12px;
            font-weight: 500;
            font-style: italic;
            color: $gray;
            margin-bottom: 10px;
        }
    }

    .quickcart__container__bottom{
        border-top: 1px solid rgba(0, 0, 0, 0.2);
        width: 100%;
        margin-top: auto;
        padding-top: 30px;
        opacity: 0;
    }

    //Container du bas
    .quickcart__container__bas{
        margin-top : auto;  
        width: 70%;
        margin: 0 auto;
    }

    .quickcart__button{
        button{
            margin-bottom: 20px;
            opacity: 0;
        }
    }

    //Sous-total
    #cart-subtotal-products{
        display: flex;
        justify-content: flex-end;
        padding-bottom: 20px;
        opacity: 0;

        //€€€€€€
        .value{
            color: $brand-primary;
            font-size: 16px;
            font-weight: 700;
            opacity: 0;
        }

        //"TOTAL TTC"
        .label{
            text-transform: uppercase;
            color: black;
            font-size: 16px;
            font-weight: 700;
            padding-right: 30px;
            opacity: 0;
        }
    }

    //On cache la livraison gratuite
    #cart-subtotal-shipping{
        display: none;
    }

    //Input des produits
    .bootstrap-touchspin input.form-control, .bootstrap-touchspin input.input-group{
        width: 100px;
    }

    .bootstrap-touchspin{
        border: 2px solid rgba(255, 255, 255,0.4);
        border-radius: 5px;
        overflow: hidden;
        box-shadow: none;

        .input-group-btn{
            display: none;
        }
    }
}

//Cursor pointer sur le cart
#_desktop_cart, #_mobile_cart{
    .header{
        cursor: pointer;
    } 

    > .blockcart:hover{
        + #quick-cart{
            transform : translate3d(280px,0,0);
            z-index: -1;
            box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.2);
        }
    }
    .quickcart__picto {
        line-height: 1;
    }
}

@include media-breakpoint-down(sm) {    
    #quick-cart{
        &.is--open{
            width: 100%;
        } 
    }
}

@include media-breakpoint-down(md) {
    .quickcart__hover{
        display: none;
    }
}



@include media-breakpoint-down(xs) {
    
}