.reassurance {
    padding-top: 75px;
    padding-bottom: 75px;
    text-transform: uppercase;
    font-size: 15px;

    .big-text__container {
        align-self: center;
        margin-top: 25px;
        margin-bottom: 25px;
    }
 
    .reassurance__item {
        position: relative;
        margin-top: 25px;
        margin-bottom: 25px;
        text-decoration: none;

        &:after {
            content:"";
            position: absolute;
            bottom: 0;
            left: 50px;
            display: block;
            width: 60px;
            height: 2px;
            background: $primary-color;
        }
    }
    .reassurance__item__inner {
        padding: 0 20px 0 80px;
        width: calc((100%) - 100px) !important;
    }

    .picto {
        &:before {
            font-size: 55px;
            color: $primary-color;
        } 
        &.picto-livraison {
            &:before {
                @include picto('livaison');
            }
        }
        &.picto-velo {
            &:before {
                @include picto('velo02');
            }
        }
        &.picto-salon {
            &:before {
                @include picto('salon');
            }
        }
    }
    
    .big-text {
        font-size: 50px;
        font-weight: 700;
        line-height: 0.8;
        color: black;
    }
 
    .reassurance__title {
        margin-top: 20px;
        font-weight: 700;
        color: $primary-color;
    }
    .reassurance__content {
        margin-bottom: 30px;
        min-height: 60px;
        font-weight: 500;
        color: black;
    }
    .reassurance__line {
        height: 3px;
        border-bottom: 3px solid #ff6955;
        width: 60px;
    }

    .swiper-wrapper {
        margin-top: 50px;
        
    }

    .swiper-button-next {
        text-align: right;
    }
}

@include media-breakpoint-down(sm) {
    .reassurance {
        .big-text__container {
            padding-left: 40px;
            padding-right: 40px;
        }
    }
}

@media screen and (max-width: 1023px) {
    .reassurance {
        .big-text__container {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}

@media screen and (min-width: 768px) {
    .reassurance {
        .reassurance__item__inner {
            padding: 0 10px 0 90px;
            width: calc((100%/2) - 100px) !important;
        }
    }
}

@media screen and (min-width: 900px) {
    .reassurance {
        .reassurance__item__inner {
            padding: 0 10px 0 90px;
            width: calc((100%/2) - 100px) !important;
        }
        .swiper-button-prev, .swiper-button-next {
            &:before {
                font-size: 30px;
            }
        }
    }
}

@media screen and (min-width: 1200px) {
    .reassurance {
        .reassurance__item__inner {
            width: calc((100%/3) - 100px) !important;
        }
        .swiper-button-prev, .swiper-button-next {
            display: none;
        }
    }
}

