.savoir-faire__container {
    display: flex;
    flex-wrap: wrap;

    &.flex-row {
        flex-direction: row;
    }

    .savoir-faire__title {
        display: block;
        width: 100%;
        padding: 40px 15px;
        color: black;
        text-transform: uppercase;
        font-weight: 700;
        font-size: 36px;
        text-align: center;
        line-height: 1;

        .subtitle{
            font-size: 20px;
            font-weight: 500;
        }
    }

    .savoir-faire__item {
        position: relative;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center; 
        text-align: center;
        padding: 210px 35px;

        + .savoir-faire__item {
            border-left: 1px solid white;
        }
        
        &:hover {
            .savoir-faire__item__inner {
                opacity: 1;
                visibility: visible;
                clip: auto;
            }
            .savoir-faire__more,
            .savoir-faire__item-title {
                transform: translate3d(0,0,0);
            }
        }

        &.savoir-faire__item-left {
            flex: 0 0 25%;
            max-width: 25%;
        }
        &.savoir-faire__item-right {
            flex: 0 0 50%;
            max-width: 50%;
        }
        &.savoir-faire__item-middle {
            flex: 0 0 25%;
            max-width: 25%;
        }
        .savoir-faire__item__inner {
            position: absolute;
            top: 0; bottom: 0;
            left: 0; right: 0;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center; 
            text-align: center;
            width: 100%;
            height: 100%;
            padding: 35px 10%;
            text-decoration: none;
            background: white;
            opacity: 0;
            visibility: hidden;
            clip: rect(0,0,0,0);
            transition: all $ease-2;
        }
    }

    .savoir-faire__item-title {
        font-size: 18px;
        font-weight: 700;
        color: $primary-color;
        text-transform: uppercase;
        transition: transform $ease-2;
        transform: translate3d(0,-10px,0); 
    }
    .savoir-faire__content {
        padding: 40px 0;
        font-size: 16px;
        color: #696969;
        line-height: 1.3;
    }
    .savoir-faire__more {
        transition: transform $ease-2;
        transform: translate3d(0,10px,0);
        &:before {
            @include picto('plus-1');
            color: $primary-color;
            font-size: 22px;
        }
    }
}

@include media-breakpoint-down(md) {
    .savoir-faire__container {
        .savoir-faire__item {
            &.savoir-faire__item-left,
            &.savoir-faire__item-middle {
                flex: 0 0 50%;
                max-width: 50%;
            }
            &.savoir-faire__item-right {
                flex: 0 0 100%;
                max-width: 100%;
                padding: 160px 0;
                border-left: none !important;
            }
            &.savoir-faire__item-left{
                padding: 160px 50px;
            }
            &.savoir-faire__item-middle{
                padding: 160px 50px;

                .savoir-faire__item__inner {
                    display: block;
                    opacity: 1;
                    visibility: visible;
                    clip: auto;
                }
            }
            .savoir-faire__item__inner {
                display: none;
            }
        }
    }
}
@include media-breakpoint-down(sm) {
    .savoir-faire__container {
        &.flex-row {
            flex-direction: column;
        }

        .savoir-faire__item {
            flex: 0 0 100% !important;
            max-width: 100% !important;

            &.savoir-faire__item-left {
                padding: 50px 0;
            }
            &.savoir-faire__item-middle{
                padding: 100px 50px;
            }
            &.savoir-faire__item-right {
                padding: 110px 0;
            }
        }

        .savoir-faire__more,
        .savoir-faire__item-title {
            transform: translate3d(0,0,0);
        }
        .savoir-faire__item-title {
            font-size: 13px;
        }
        .savoir-faire__content {
            padding: 20px 0;
            font-size: 11px;
        }
        .savoir-faire__more{
            font-size: 11px;
        }
    }
}