.page-content {
    #search_widget {
        form {
            input[type=text] {
                color: #696969;
                border: 1px solid #e6e6e6;
                border-radius: 3px;
                background: white;
                box-shadow: none;
                padding: 0.5rem 1rem;
            }
            button[type=submit] {
                &:before { 
                    color: #696969; 
                    font-size: 35px;
                }
            }
        }
    }
}

#search {
    #main {
        h2 {
            margin-top: 40px;
            text-align: center;
        }
        #content {
            p, h3, h4 {text-align: center;}
        }
    }
    .page-content {
        box-shadow: none;
        background: white;
        padding: 0;
        max-width: 100%;
    }

    .search-widget{
        padding-top: 40px;
        padding-bottom: 40px;
    }

    #products {
        margin-top: 70px;
    }
}