.shp__kayser__desc{
    > div{
        h1{
            font-size: 3.3rem;
            font-weight: 500;
            line-height: 1;
            text-transform: uppercase;
            color: black;
            margin: 0;

            strong {
                font-size: 5.75rem;
            }
        }
    }
}

.shp__notre__histoire > div {
    position: relative;
    h2{
        font-size: 1.875rem;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
        color: white;

        strong {
            font-size: 3.4375rem;
        }
    }
}

.shp__notre__equipe > div {
    h2{
        font-size: 1.875rem;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
        color: $brand-primary;
    }

    strong {
        font-size: 3.4375rem;
    }
}

.shp__savoir__faire > div {

    h2{
        font-size: 1.875rem;
        line-height: 1;
        text-transform: uppercase;
        color: black;

        strong {
            font-size: 3.4375rem;
        }
    }
}

.shp__professionnels,
.shp__cocktails__et__rec, 
.shp__hotels__et__restau,
.job {
    cursor: pointer;
}

.shp__hotels__et__restau > div,
.shp__cocktails__et__rec > div {
    position: relative;
    h2{
        font-size: 1.875rem;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
        color: white;

        a {
            color: white;
        }

        strong {
            font-size: 3.4375rem;
        }
    }
}

.shp__professionnels > div {
    position: relative;
    h2{
        font-size: 1.875rem;
        font-weight: 500;
        line-height: 1;
        text-transform: uppercase;
        color: #ff6955;

        a {
            color: #ff6955;
        }

        strong {
            font-size: 3.4375rem;
        }
    }
}


.shp__text__middle > div {

    p{
        font-size: 24px;
        text-transform: uppercase;
        color: black;   
        line-height: 1;
    }
}

.shp__white__desc > div {
    p{  
        background: white;
        padding: 40px 40px 30px 40px;
        width: 60%;
        margin: 0 auto;
    }
}

.carriere__emploi > div{
    p{
        background: white;
        padding: 40px 40px 30px 40px;
        width: 80%;
        margin: 0 auto; 
    }
}

.shp__notre__equipe > div,
.shp__notre__histoire > div,
.shp__savoir__faire > div{
    position: relative;
    
    a{
        color: inherit;
        text-decoration: none;

        &:before{
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }
    }

    &:hover{
        a:before{
            color: inherit;
            text-decoration: none;
        }
    }
}

.vce-col-inner{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p{
        margin : 0;
        padding: 0;
        font-size: 1rem;
    }

    .sous-titre {
        text-transform: uppercase;
        font-size: 1.25rem;
    }
}


.shp__savoir__faire, .shp__notre__equipe, .shp__notre__histoire{
    transition : opacity $ease-2;
    &:hover{
        opacity: 0.75;
    }
}

.vce{
    margin-bottom: 0px !important;
}

@include media-breakpoint-down(xl) {
    .shp__kayser__desc{
        > div{
            h1 {
                font-size: 2.8rem;
                strong {
                    font-size: 4.5rem;
                }
            }
        }
    }
}

@include media-breakpoint-down(md) {
    .shp__kayser__desc{
        > div{
            h1 {
                font-size: 1.8rem;
                strong {
                    font-size: 2.9rem;
                }
            }
        }
    }

    .shp__hotels__et__restau > div,
    .shp__professionnels > div,
    .shp__cocktails__et__rec > div {
        h2{
            strong {            
                font-size: 2.9rem;
            }
        }
    }

}

@include media-breakpoint-down(xs) {
    .shp__kayser__desc{
        > div{
            h1{
                font-size: 1.8rem;
                strong {
                    font-size: 2.5rem;
                }
            }
        }
    }

    .shp__savoir__faire > div,
    .shp__notre__equipe > div,
    .shp__notre__histoire > div, {
        h2{
            font-size: 30px;
        }
    }

    .shp__hotels__et__restau > div,
    .shp__professionnels > div,
    .shp__cocktails__et__rec > div {
        h2{
            strong {            
                font-size: 2.4375rem;
            }
        }
    }

    .shp__text__middle > div {
        p{
            font-size: 14px;
        }
    }
}