
/*----------  Layers Slider  ----------*/
div[id^="layerslider_"]{
    max-width: 100%;
}
.ls-container {
    z-index: 0 !important;
}

html .ls-container img,
body .ls-container img,
#ls-global .ls-container img {
    max-width: 100% !important;
    x: 0 !important;
    transform: translateX(0) !important;
    object-fit: cover;
}

/*----------  Swiper Slider  ----------*/
.swiper-container {
    width: 100%;
    padding-bottom: 100px;
}

.swiper-button-prev, 
.swiper-button-next {
    z-index: 99999;
    background: none;


    &:before {
        display: none;
        font-size: 50px;
        color: $primary-color;
    }
}
.swiper-button-next {
    &:before {
        @include picto('right-open-big')
    }
}
.swiper-button-prev {
    &:before {
        @include picto('left-open-big')
    }
}



/*----------  Specifique slider products  ----------*/
.featured-products {
    margin-top: 30px;
    margin-bottom: 30px;

    .swiper-container{
        padding: 1px 0; 
    }


    .featured-products__title {
        display: block;
        width: 100%;
        margin: 45px auto;
        font-size: 20px;
        font-weight: 500;
        text-align: center;
        text-transform: uppercase;
        color: black;   
    }

    .swiper-slide {
        outline: none;
        .product-miniature {
            flex: 0 0 100%;
            max-width: 100%;
            padding-top: 40px;
            height: 97%;
        }
    }

    .swiper-button-prev, 
    .swiper-button-next {
        &:before {
            display: block;
            font-size: 30px;
        }
    }
}

/*********** Slider Jobs *************/
.our-jobs {
    .swiper-button-next {
        top: 280px;
        left: auto;
        right: calc(50% - 40px);
        text-align: right;
    }
    
    .swiper-button-prev {
        top: 280px;
        left: calc(50% - 40px);
        right: auto;
    }

    .swiper-button-prev, 
    .swiper-button-next {
        padding-top: 20px;
        &:before {
            font-size: 30px;
        }
    }
}

/*********** Slider Témoignages *************/
.temoignages {
    .swiper-button-next {
        top: 400px;
        left: auto;
        right: calc(50% - 40px);
        text-align: right;
    }
    
    .swiper-button-prev {
        top: 400px;
        left: calc(50% - 40px);
        right: auto;
    }

    .swiper-button-prev, 
    .swiper-button-next {
        padding-top: 20px;
        &:before {
            font-size: 30px;
        }
    }
}

/*----------  Correction bouton slider  ----------*/
.swiper-button-prev.swiper-button-disabled, 
.swiper-button-next.swiper-button-disabled {
    pointer-events: auto;
}

@include media-breakpoint-down(md) {

    .swiper--our-jobs, .swiper--temoignages {
        padding-bottom: 60px;
    }

    .temoignages {
        .swiper-button-prev, 
        .swiper-button-next {    
            top: 330px;
        }
    }
}


@include media-breakpoint-down(xl) {
    .swiper-button-prev, 
    .swiper-button-next {    
        &:before {
           display: block;
        }
    }
}
@include media-breakpoint-down(sm) {
    .swiper-button-prev, 
    .swiper-button-next {
        &:before {
            font-size: 22px;
        }
    }
    .swiper-button-next {
        &:before {
            @include picto('right-open-mini', false)
        }
    }
    .swiper-button-prev {
        &:before {
            @include picto('left-open-mini', false)
        }
    }

    /*----------  Specifique slider products  ----------*/
    .featured-products {
        .featured-products__title {
            margin: 20px auto;
        }
    }
}