.storeloc__container {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-bottom: 80px;
    padding: 195px 20px;
    border-top: 1px solid #fff;

    &.storeloc__container--map {
        margin-top: 0;
        margin-bottom: 2px;
        padding: 50px 20px;
        background-image: url('../img/storelocation-map4.jpg');
        background-position: center center;
        background-size: cover;

        .storeloc__content {
            padding: 30px 73px 15px;
        }

        .storeloc__form__inner {
            max-width: 460px;
            margin: 0 auto;
        }
    }

    &.storeloc__container--shop {
        margin: 0;
        padding: 200px 0;
        background-image: url('../img/storelocation-map4.jpg');
        background-position: center center;
        background-size: cover;
    }
}
.storeloc__content {
    position: relative; 
    display: inline-block;
    padding: 40px 50px 35px;
    text-align: center;
    background: #fff;
    border: 2px solid $primary-color;
    font-weight: 700;
    font-size: 20px;
    color: $gray-darker;
    line-height: 1.3;
    text-transform: uppercase;
    text-decoration: none;
    transition: color $ease;

    .storeloc__title {
        font-size: 30px;
        font-weight: 500;
    }

    &:after {
        @include picto('storeloc');
        position: absolute;
        left: 50%;
        top: 0px;        
        color: $primary-color;
        font-size: 35px;
        transform: translate3d(-50%, -50%, 0);
    }
}


/*----------  Module : module-bevisible-map  ----------*/
#module-bevisible-map {
    
    /*----------  Input  ----------*/
    #bevisible-locator-value {
        margin: 15px 0;
        padding: 11px;
        border: 1px solid #e6e6e6;
        border-radius: 4px;
        font-family: $ff-special;
        font-size: 12px;
        font-weight: 600;
        color: #010101;
        text-transform: uppercase;

        @include placeholder {
            font-size: 12px;
            font-weight: 600;
            color: #010101;
            text-transform: uppercase;
        }
    }
    
    /*----------  Button submit  ----------*/
    .bevisible-search-button {
        box-shadow: none;
        outline: none;
        border-radius: 3px;
        text-align: center;
        vertical-align: middle;
        line-height: 38px;
        font-size: 12px;
        padding: 0 15px;
        height: 38px;
    }
    
    /*----------  Filtres  ----------*/
    .filtres__container {
        margin-left: 105px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
    }
    .filtre__item {
        display: flex;
        flex-direction: row;
        //flex-wrap: wrap;
        align-items: center;
        
        margin-right: 25px;
        font-size: 16px;
        font-weight: 500;
        color: $gray;
        text-transform: initial;
        cursor: pointer;

        .filtre__content {
            display: table;
        }

        .filtre__content__text {
            display: table-cell;
            vertical-align: middle;
            padding-top: 5px;
        }

        .picto {
            display: table-cell;
            vertical-align: middle;
            &::before {
                margin: 0 6px;
                font-size: 22px;
                vertical-align: middle;
                color: black;
            }
            &--cafe::before {
                @include picto('salon');
            }
            &--resto::before {
                @include picto('restau');
            }
            &--sansgluten::before {
                @include picto('sansgluten');
            }
        }

        .custom-checkbox {
            padding-right: 0;
        }
    }
}


/*----------  Liste store / Map  ----------*/
.store-map__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    // align-items: center; 

    .liste__store, 
    #bevisible-map-wrapper {
        flex: 0 0 50%;
        max-width: 50%;
    }

    .liste__store {
        position: relative;
        overflow: auto;
        max-height: 600px;
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 10px;

        h2 {
            margin-top: 40px;
            margin-bottom: 20px;
            font-size: 18px;
            font-weight: 700;
            text-transform: uppercase;
            color: black;
            text-align: center;
        }

        ul {
            margin: 0;
            padding: 0;

            li {
                text-align: center;
                a {
                    display: inline-block;
                    font-size: 13px;
                    font-weight: 500;
                    text-transform: uppercase;
                    color: #696969;

                    &:hover {
                        color: $primary-color;
                    }
                }
            }
        }
    }
}
.shop__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 15px;
    padding: 14px 20px 15px;
    border: 1px solid #e6e6e6; 
    &.no-border{
        border:0;margin-top: 0;padding-top: 5px;
    }
    .picto {
        margin-bottom: 0;
        &--location::before {
            @include picto('storeloc02');
            font-size: 22px;
            color: black;
        }
    }
    .shop__title,
    .shop__title a {
        font-size: 18px;
        margin-bottom: 0;
        font-weight: 700;
        color: black;
        text-transform: uppercase;
        text-decoration: none;
    }
    .shop__adresse {
        margin: 15px 0 15px;
        color: $gray;
        font-size: 16px;
        font-weight: 400;
        text-align: center;
    }
    .shop__horaire {
        margin-bottom: 10px;
        color: $gray;
        font-size: 16px;
        font-weight: 400; 
        font-style: italic;
    }

    .button {
        display: inline-block;
        min-height: 20px;
        padding: 5px 15px 0px 15px;
        color: black;
        width: auto;
        border-color: $primary-color;
        text-transform: initial;
        text-decoration: none;

        &:focus,
        &:hover {
            color: white;
        }
    }
}


/*----------  Magasin  ----------*/
.shop__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    margin-top: -85px;
    padding: 10px;
    border-color: #e6e6e6;
    background: white;

    .store-map__container {
        // flex-direction: column;
        display: block;

        #bevisible-map {
            height: 325px;
        }

        .service__title {
            margin-top: 25px;
            margin-bottom: 12px;
            font-size: 20px;
            font-weight: 500;
            color: black;
            text-transform: uppercase;
        }
    }

    .shop__information,
    .store-map__container {
        flex: 0 0 50%;
        max-width: 50%;
    }
    #bevisible-map-wrapper {
        flex: 0 0 100%;
        max-width: 100%;
    }

    .shop__information {
        position: relative;
        padding-left: 60px;

        .picto--location {
            position: absolute;
            left: 10px;
            top: 25px;

            &:before {
                font-size: 40px;
                color: $primary-color;
            }
        }
        .shop__title {
            margin-top: 35px;
            font-size: 26px;
            color: $gray-darker;
        }
        .shop__adresse {
            text-align: left;
        }
        .shop__tel {
            font-size: 16px;
            font-weight: bold;
            color: $gray;
            text-decoration: none;
        }
        .shop__horaire {
            margin-top: 30px;
            color: $primary-color;
        }

        .horaire__tab{
            margin-bottom: 40px;
        }
        .horaire {
            display: flex;
            font-size: 16px;
            font-weight: 500;
            font-style: italic;
            color: $gray;
        }
        .horaire-jour {
            flex: 0 0 100px;
            max-width: 100px;
        }
    }

    .geoloc-map,
    .contact {
        position: relative;
        display: inline-block;
        color: $primary-color;
        padding-left: 40px;
        text-decoration: none;

        &:before {
            position: absolute;
            left: 0;
            top: 50%;
            color: $primary-color;
            font-size: 22px;
        }
    }
    .geoloc-map {
        &:before {
            @include picto('itineraire');
            font-size: 50px;
            transform: translate3d(-15px,-15px,0);
        }
    }
    .contact {
        margin-top: 10px;
        &:before {
            @include picto('contact');
            transform: translate3d(0,-13px,0);
        }
    }

    .button.button__select-store {
        display: inline-block;
        min-height: 20px;
        margin-top: 40px;
        padding: 5px 15px 0px 15px;
        color: black;
        width: auto;
        border-color: $primary-color;
        text-transform: initial;
        text-decoration: none;

        &:focus,
        &:hover {
            color: white;
        }
    }
}
.description__magasin{
    margin-top: 40px;
    padding-right: 125px;
    font-size: 16px;
    color: $gray;
    font-weight: 500;
    font-style: italic;
}

.gm-style-iw{

    div{
        min-width: 140px;
    }

    strong{
        display: inline-block;
        width: 45%;
    }
}

.services__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;

    .service__item {
        flex: 0 0 calc(25% - 8px);
        max-width: calc(25% - 8px);
        margin-right: 8px;
        margin-bottom: 8px;
        background: $primary-color;
        text-align: center;

        .box {
            position: relative;
            &:before {
                content: "";
                display: block;
                padding-top: 100%; 	/* initial ratio of 1:1*/
            }

        }
        .service__content {
            position:  absolute;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
        }

        .picto {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate3d(-22px,-22px,0);

            &:before {
                font-size: 44px;
                color: white;
            }

            &--sansgluten::before {
                @include picto('sansgluten');
            }
            &--cafe::before {
                @include picto('salon');
            }
            &--resto::before {
                @include picto('restau');
            }
            &--clickncollect::before {
                @include picto('livaison');
            }
            &--wifi::before {
                @include picto('wifi');
            }
            &--terasse::before {
                @include picto('terrasse');
            }
        }

        .title { 
            position: absolute;
            bottom: 10px;
            left: 15px;
            right: 15px;
            min-height: 30px;
            font-size: 14px;
            font-weight: 500;
            color: white;
            text-align: center;
            line-height: 1;
        }
    }
    
}
.moment__link {
    img {
        width: 100%;
        height: 100%;
    }
}

@include media-breakpoint-down(md) {
    .storeloc__container {
        padding: 100px 40px;

        &.storeloc__container--map {
            .storeloc__content {
                padding: 35px 35px;
            }
        }
        &.storeloc__container--shop {
            padding: 100px 0;
        } 
    }
    .storeloc__content {
        padding: 35px 35px;
    }
}
@include media-breakpoint-down(md) {
    .store-map__container {
        .liste__store, 
        #bevisible-map-wrapper {
            flex: 0 0 100%;
            max-width: 100%;
        }
        .liste__store {
            height: auto;
            padding-left: 0;
            padding-right: 0;
        }
        #bevisible-map-wrapper {
            margin-top: 15px;
        }
    }
    .description__magasin {
        padding-right: 0;
    }

    .shop__container {    
        .shop__information,
        .store-map__container {
            flex: 0 0 100%;
            max-width: 100%;
        }
    }
}

@include media-breakpoint-down(sm) {
    #module-bevisible-map {
        .filtres__container {
            margin: 0;
        }
    }

    .shop__information {
        .btn-primary, .btn-white-other {
            font-size: 0.8em;
        }
    }
}

@include media-breakpoint-down(xs) {
    .services__inner {    
        .service__item {
            flex: 47%;
            max-width: 47%;
        }
    }
}

@media screen and (max-width: 359px) {
    .shop__information {
        .btn-primary, .btn-white-other {
            font-size: 0.7em;
        }
    }
}