/**
 *  2018 Insitaction
 *
 *  @author    Estéban Wojciechowski
 *  @copyright 2018 Insitaction 
 */

#bevisible-developed-by img {
    max-width: 100%;
    width: 100%;
}

.bevisible-bold {
    font-weight: bold;
}

.bevisible-red {
    color: #ff0000;
}

.bevisible-label {
    position: relative;
    top: 8px;
    padding: 4px 8px !important;
}
