/**
 *  2018 Insitaction
 *
 *  @author    Estéban Wojciechowski
 *  @copyright 2018 Insitaction 
 */

.bevisible-clear {
    clear: both;
}

#bevisible-wrapper {

}

#bevisible-wrapper .card-header h5{
    margin-bottom: 0;
}

#bevisible-map-wrapper {
    position: relative;
}

#bevisible-map {
    width: 100%;
}

#bevisible-locator {
    margin-top: 10px;
}

.bevisible-table {
    display: table;
}

.bevisible-row  {
    display: table-row;
}

.bevisible-cell {
    display: table-cell;
    vertical-align: middle;
}

.bevisible-cell-label {
    white-space: nowrap;
    vertical-align: middle;
    padding-right: 10px;
    font-weight: bold;
}

.bevisible-cell-label-sm {
    padding-top: 10px;
    font-weight: bold;
}

.bevisible-cell-input {
    width: 100%;
}

.bevisible-cell-button {
    padding-left: 10px;
}

.bevisible-search-button-loader {
    display: none;
    padding-right: 10px;
}

.bevisible-search-button.bevisible-loading .bevisible-search-button-loader {
    display: inline-block;
}