// Bouton background orange - border radius et font white !
%ins-button-bg{
    min-height: 50px;
    display: flex;
    width: 100%;
    background: $brand-primary;
    padding: 10px 15px 5px 15px;
    font-size: rem-calc(18);
    font-weight: 600;
    align-items: center;
    text-transform: uppercase;
    justify-content: center;
    position: relative;
    color: white;
    outline: 0;
    border: 0;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color $ease;

    &:hover,
    &:focus{
        background-color: darken($brand-primary, 5%);
    }
}

.ins-button-bg,
.button--secondary {
    @extend %ins-button-bg;
}

.button--secondary {
    min-height: 40px;
    background: transparent;
    border-width: 2px;
    border-style: solid;
    font-weight: 500;
    transition: all $ease;
    border-radius: 0;

    &.button--white {
        color: white;
        border-color: white;

        &:hover {
            background: white;
            color: black;
        }
    }
    &.button--black {
        color: black;
        border-color: black;

        &:hover {
            background: black;
            color: white;
        }
    }
}


.btn-primary {
    box-shadow: none;
} 

.bootstrap-filestyle {
    .group-span-filestyle {
        .btn {
            height: 38px;
            line-height: 1.8;
        }
    }
}

.alert {
    ul {
        margin-bottom: 0;
    }
} 

.btn-show-pwd:before {
    @include picto('cadena', false);
}

.btn-white-other {
    margin-top: 15px;
    background-color: #fff;
    color: #ff6955;
    border: 1px solid #ff6955;
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.5rem 1.25rem 0.2rem;

    &:hover, &:focus, &:active {
        color: #ff3c22;
        background-color: #fff;
        border-color: #ff3c22;
    }
}