@font-face {
  font-family: 'Noto Sans';
  src: url(~notosans-fontface/fonts/NotoSans-Regular.eot);
  src: local('Noto Sans Regular'),
  local('NotoSans-Regular'),
  url(~notosans-fontface/fonts/NotoSans-Regular.eot) format('embedded-opentype'),
  url(~notosans-fontface/fonts/NotoSans-Regular.woff2) format('woff2'),
  url(~notosans-fontface/fonts/NotoSans-Regular.woff) format('woff'),
  url(~notosans-fontface/fonts/NotoSans-Regular.ttf) format('truetype'),
  url(~notosans-fontface/fonts/NotoSans-Regular.svg) format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url(~notosans-fontface/fonts/NotoSans-Bold.eot);
  src: local('Noto Sans Bold'),
  local('NotoSans-Bold'),
  url(~notosans-fontface/fonts/NotoSans-Bold.eot) format('embedded-opentype'),
  url(~notosans-fontface/fonts/NotoSans-Bold.woff2) format('woff2'),
  url(~notosans-fontface/fonts/NotoSans-Bold.woff) format('woff'),
  url(~notosans-fontface/fonts/NotoSans-Bold.ttf) format('truetype'),
  url(~notosans-fontface/fonts/NotoSans-Bold.svg) format('svg');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Noto Sans';
  src: url(~notosans-fontface/fonts/NotoSans-Italic.eot);
  src: local('Noto Sans Italic'),
  local('NotoSans-Italic'),
  url(~notosans-fontface/fonts/NotoSans-Italic.eot) format('embedded-opentype'),
  url(~notosans-fontface/fonts/NotoSans-Italic.woff2) format('woff2'),
  url(~notosans-fontface/fonts/NotoSans-Italic.woff) format('woff'),
  url(~notosans-fontface/fonts/NotoSans-Italic.ttf) format('truetype'),
  url(~notosans-fontface/fonts/NotoSans-Italic.svg) format('svg');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Noto Sans';
  src: url(~notosans-fontface/fonts/NotoSans-BoldItalic.eot);
  src: local('Noto Sans BoldItalic'),
  local('NotoSans-BoldItalic'),
  url(~notosans-fontface/fonts/NotoSans-BoldItalic.eot) format('embedded-opentype'),
  url(~notosans-fontface/fonts/NotoSans-BoldItalic.woff2) format('woff2'),
  url(~notosans-fontface/fonts/NotoSans-BoldItalic.woff) format('woff'),
  url(~notosans-fontface/fonts/NotoSans-BoldItalic.ttf) format('truetype'),
  url(~notosans-fontface/fonts/NotoSans-BoldItalic.svg) format('svg');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(~material-design-icons/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  vertical-align: middle;
  width: 1em;
  height: 1em;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


/**
 * Fontello
 */
 @font-face {
  font-family: 'Fontello';
  src: url(../fonts/fontello/fontello.eot);
  src: url(../fonts/fontello/fontello.eot) format('embedded-opentype'),
  url(../fonts/fontello/fontello.woff) format('woff'),
  url(../fonts/fontello/fontello.woff2) format('woff2'),
  url(../fonts/fontello/fontello.ttf) format('truetype');
  font-weight: 400;
  font-style: normal;
}


/**
 *
 * Calibre
 *
 */
 @font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/Calibre-Thin.eot');
  src: url('../fonts/calibre/Calibre-Thin.woff2') format('woff2'),
       url('../fonts/calibre/Calibre-Thin.woff') format('woff'),
       url('../fonts/calibre/Calibre-Thin.ttf') format('truetype'),
       url('../fonts/calibre/Calibre-Thin.svg#Calibre-Thin') format('svg'),
       url('../fonts/calibre/Calibre-Thin.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/Calibre-ThinItalic.eot');
  src: url('../fonts/calibre/Calibre-ThinItalic.woff2') format('woff2'),
       url('../fonts/calibre/Calibre-ThinItalic.woff') format('woff'),
       url('../fonts/calibre/Calibre-ThinItalic.ttf') format('truetype'),
       url('../fonts/calibre/Calibre-ThinItalic.svg#Calibre-ThinItalic') format('svg'),
       url('../fonts/calibre/Calibre-ThinItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 100;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/Calibre-Light.eot');
  src: url('../fonts/calibre/Calibre-Light.woff2') format('woff2'),
       url('../fonts/calibre/Calibre-Light.woff') format('woff'),
       url('../fonts/calibre/Calibre-Light.ttf') format('truetype'),
       url('../fonts/calibre/Calibre-Light.svg#Calibre-Light') format('svg'),
       url('../fonts/calibre/Calibre-Light.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/Calibre-LightItalic.eot');
  src: url('../fonts/calibre/Calibre-LightItalic.woff2') format('woff2'),
       url('../fonts/calibre/Calibre-LightItalic.woff') format('woff'),
       url('../fonts/calibre/Calibre-LightItalic.ttf') format('truetype'),
       url('../fonts/calibre/Calibre-LightItalic.svg#Calibre-LightItalic') format('svg'),
       url('../fonts/calibre/Calibre-LightItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/Calibre-Regular.eot');
  src: url('../fonts/calibre/Calibre-Regular.woff2') format('woff2'),
       url('../fonts/calibre/Calibre-Regular.woff') format('woff'),
       url('../fonts/calibre/Calibre-Regular.ttf') format('truetype'),
       url('../fonts/calibre/Calibre-Regular.svg#Calibre-Regular') format('svg'),
       url('../fonts/calibre/Calibre-Regular.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/Calibre-RegularItalic.eot');
  src: url('../fonts/calibre/Calibre-RegularItalic.woff2') format('woff2'),
       url('../fonts/calibre/Calibre-RegularItalic.woff') format('woff'),
       url('../fonts/calibre/Calibre-RegularItalic.ttf') format('truetype'),
       url('../fonts/calibre/Calibre-RegularItalic.svg#Calibre-RegularItalic') format('svg'),
       url('../fonts/calibre/Calibre-RegularItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/Calibre-Medium.eot');
  src: url('../fonts/calibre/Calibre-Medium.woff2') format('woff2'),
       url('../fonts/calibre/Calibre-Medium.woff') format('woff'),
       url('../fonts/calibre/Calibre-Medium.ttf') format('truetype'),
       url('../fonts/calibre/Calibre-Medium.svg#Calibre-Medium') format('svg'),
       url('../fonts/calibre/Calibre-Medium.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/Calibre-MediumItalic.eot');
  src: url('../fonts/calibre/Calibre-MediumItalic.woff2') format('woff2'),
       url('../fonts/calibre/Calibre-MediumItalic.woff') format('woff'),
       url('../fonts/calibre/Calibre-MediumItalic.ttf') format('truetype'),
       url('../fonts/calibre/Calibre-MediumItalic.svg#Calibre-MediumItalic') format('svg'),
       url('../fonts/calibre/Calibre-MediumItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/Calibre-Semibold.eot');
  src: url('../fonts/calibre/Calibre-Semibold.woff2') format('woff2'),
       url('../fonts/calibre/Calibre-Semibold.woff') format('woff'),
       url('../fonts/calibre/Calibre-Semibold.ttf') format('truetype'),
       url('../fonts/calibre/Calibre-Semibold.svg#Calibre-Semibold') format('svg'),
       url('../fonts/calibre/Calibre-Semibold.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/Calibre-SemiboldItalic.eot');
  src: url('../fonts/calibre/Calibre-SemiboldItalic.woff2') format('woff2'),
       url('../fonts/calibre/Calibre-SemiboldItalic.woff') format('woff'),
       url('../fonts/calibre/Calibre-SemiboldItalic.ttf') format('truetype'),
       url('../fonts/calibre/Calibre-SemiboldItalic.svg#Calibre-SemiboldItalic') format('svg'),
       url('../fonts/calibre/Calibre-SemiboldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/Calibre-bold.eot');
  src: url('../fonts/calibre/Calibre-bold.woff2') format('woff2'),
       url('../fonts/calibre/Calibre-bold.woff') format('woff'),
       url('../fonts/calibre/Calibre-bold.ttf') format('truetype'),
       url('../fonts/calibre/Calibre-bold.svg#Calibre-bold') format('svg'),
       url('../fonts/calibre/Calibre-bold.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/Calibre-boldItalic.eot');
  src: url('../fonts/calibre/Calibre-boldItalic.woff2') format('woff2'),
       url('../fonts/calibre/Calibre-boldItalic.woff') format('woff'),
       url('../fonts/calibre/Calibre-boldItalic.ttf') format('truetype'),
       url('../fonts/calibre/Calibre-boldItalic.svg#Calibre-boldItalic') format('svg'),
       url('../fonts/calibre/Calibre-boldItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 700;
  font-style: italic;
}

@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/Calibre-Black.eot');
  src: url('../fonts/calibre/Calibre-Black.woff2') format('woff2'),
       url('../fonts/calibre/Calibre-Black.woff') format('woff'),
       url('../fonts/calibre/Calibre-Black.ttf') format('truetype'),
       url('../fonts/calibre/Calibre-Black.svg#Calibre-Black') format('svg'),
       url('../fonts/calibre/Calibre-Black.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: normal;
}
@font-face {
  font-family: 'Calibre';
  src: url('../fonts/calibre/Calibre-BlackItalic.eot');
  src: url('../fonts/calibre/Calibre-BlackItalic.woff2') format('woff2'),
       url('../fonts/calibre/Calibre-BlackItalic.woff') format('woff'),
       url('../fonts/calibre/Calibre-BlackItalic.ttf') format('truetype'),
       url('../fonts/calibre/Calibre-BlackItalic.svg#Calibre-BlackItalic') format('svg'),
       url('../fonts/calibre/Calibre-BlackItalic.eot?#iefix') format('embedded-opentype');
  font-weight: 900;
  font-style: italic;
}

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700');

