$gray-darker: #3d3d3d;
$gray: #696969;
$gray-light: #f9f9f9 ;
$gray-lighter: #f2f2f2;

$brand-primary: #ff6955;
$brand-secondary: #f39d72;
$brand-success: #4cbb6c;
$brand-warning: #ff9a52;
$brand-danger: #ff4c4c;

$label-color: $gray-darker;
$btn-primary-color: #fff;
$btn-primary-bg: $brand-primary;
$btn-primary-border: transparent;
$btn-secondary-color: $gray-darker;
$btn-secondary-bg: $gray-lighter;
$btn-secondary-border: transparent;
$btn-border-radius: 0;

$input-border-color: #e6e6e6;
$headings-font-weight: 700;
$tooltip-bg: $brand-danger;
$border-radius: 0;
$extra-small-space: 0.3125rem;
$small-space: 0.625rem;
$medium-space: 1.25rem;
$large-space: 1.875rem;
$extra-large-space: 2.5rem;
$warning: #FF9A52;
$warning-hover: #FDE7BB;
$alert-warning-bg: rgba(255,154,82,0.3);
$alert-warning-border: $warning;
$alert-warning-text: $gray-darker;
$btn-warning-bg: $warning;
$btn-warning-color: white;
$btn-tertiary-color: #6C868E;
$btn-tertiary-hover: #BBCDD2;

$base-font-size: 1rem;

$font-size-lg: 0.9375rem;
$font-size-sm: 0.875rem;
$font-size-xs: 0.8125rem;
$font-size-h1: 1.375rem;
$font-size-h2: 1.25rem;
$font-size-h3: 1.125rem;
$font-size-h4: 1.125rem;
$font-size-h5: 1rem;
$font-size-h6: 0.9375rem;

$display1-size: 3.125rem;
$display1-weight: 600;
$display2-size: 2.188rem;
$display2-weight: 400;
$display3-size: 1.563rem;
$display3-weight: 400;
$display4-size: 1.25rem;
$display4-weight: 400;
$text-muted: $gray;
$NotoSansPath: "~notosans-fontface/fonts";
$NotoSansVersion: "1.0.1";

// Options
//
// Quickly modify global styling by enabling or disabling optional features.

$enable-flex:               true;
$enable-rounded:            true;
$enable-shadows:            true;
$enable-gradients:          true;
$enable-transitions:        true;
$enable-hover-media-query:  true;
$enable-grid-classes:       true;
$enable-print-styles:       true;

/**
 *
 * INSITACTION
 * variables
 *
 */
$primary-color: $brand-primary;

// FONT
$ff-base: 'Calibre','Arial','sans-serif';
$ff-title: 'Avant Garde', $ff-base;
$ff-special: 'Open Sans', $ff-base;

// GRID
$container-max-widths: (
  sm: 540px,
  md: 720px,
  lg: 960px,
  xl: 1290px // 30px padding
);
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 770px,
  lg: 992px,
  xl: 1200px
);
// @include _assert-ascending($grid-breakpoints, "$grid-breakpoints");

 
//TRANSITIONS
$ease: .2s ease-in-out;
$ease-2: .4s ease-in-out;

// PICTO
$pictos: (
    'facebook':61594,
    'twitter':61593,
    'instagram':61805,
    'star':59393,
    'plus':59392,
    'minus':59394,
    'down-dir':59395,
    'down-open-big':59399,
    'up-dir':59400,
    'up-open-big':59401,
    'left-dir':59402,
    'trash':59398,
    'edit':59406,
    'search':59409,
    'credit-card':59412,
    'cancel':59403,
    'ok-1': 59422,
    'youtube-play':61802,
    'pinterest':62001,
    'compte':59404,
    'contact':59405,
    'itineraire':59397,
    'livaison':59407,
    'panier':59408,
    'restau':59396,
    'rh1':59410,
    'rh2':59411,
    'sansgluten':59415,
    'storeloc':59416,
    'terrasse':59417,
    'vegetalien':59418,
    'vegetarien':59419,
    'wifi':59421,
    'rh3':59413,
    'rh4':59414,
    'salon':59423,
    'cancel-1':59424,
    'croix':59446,
    'croix-1':59448,
    'livraison':59425,
    'left-open-big':59426,
    'right-open-big':59427,
    'left-open-mini':59429, 
    'right-open-mini':59428,
    'plus-1':59430,
    'search-1':59432,
    'camion':59433,
    'storeloc02':59434,
    'cadena':59490,
    'avoirs':59431, 
    'calendar':59435,
    'mobile':59420,
    'velo02':59468,  
); 