*:focus{
    outline: none !important;
}

.bg-grey {
    background: #f6f6f6;
}

img{
    max-width: 100%;
    height: auto;
}

.container-404 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 0 0 0 50px;

    > .flex-50 {
        flex: 0 0 50%;
        max-width: 50%;

        + .flex-50 {
            padding-left: 20px;
        }
    }

    h4 {
        margin: 0;
        font-size: 32px;
        font-weight: 700;
        color: black;

        &.big {
            font-size: 128px;
        }
    }
    p {
        margin-bottom: 0;
        color: $gray;
        font-size: 16px;
        font-weight: 500;
    }
    .btn__container{
        text-align: center;
    }
    .btn {
        display: inline-block;
        margin-top: 40px;
        padding: 8px 14px 5px;
        border: 2px solid $primary-color;
        transition: all $ease;

        &:hover,
        &:focus {
            background: $primary-color;
            color: white;
        }
    }
}
.container-404__inner {
    display: flex;
    flex-direction: column; 
    height: 100%;
    justify-content: center;
    text-align: center;

    img {
        max-width: 100%; height: auto;
    }
}
.container-404__left {
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
    border: 1px solid #e6e6e6;
    height: calc(100% - 20px);
}

@include media-breakpoint-down(md) {
    .container-404 {
        padding: 0 15px;

        > .flex-50 {
            flex: 0 0 100%;
            max-width: 100%;
            + .flex-50 {
                padding-left: 0;
            }
        }
    }
}



.answer_faq{
    word-break: normal;

    p {
        text-align: left !important;
    }
}