/*** FOOTER ***/
#footer {
    position: relative;
    margin-top: 35px;
    padding-top: 35px;

    &:after {
        content: "";
        position: absolute;
        left: 50%;
        top: 0;
        display: block;
        width: 60px;
        height: 2px;
        background: #373a3f;
        transform: translate3d(-30px, -1px,0);
    }
}
.footer-container {
    margin-top: 35px;
    padding: 40px 0 100px;
    background: $gray-light;

    .wrapper {
        color: #acb2b5;
        font-size: 12px;

        &.block-contact {
            padding-left: 15px;
        }
    }

    h3 {
        margin-bottom: 18px;
        font-weight: 700;
        font-size: 16px;
        color: #373a3f;
        text-transform: uppercase;
    }

    li {
      margin-bottom: 8px;
      line-height: 1;
    }
    li a {
        color: #acb2b5;
        cursor: pointer;
        font-size: 12px;

      &:hover {
        color: $brand-primary;
      }
    }
    .links {
      .collapse {
        display: inherit;
      }
    }
}

.page-footer{
    .account-link{ 
        text-decoration: none;
        
        i{
            font-size: 1.2rem;
            height: 1.3em;  
        }
    }
}


/*----------  NEWSLETTER  ----------*/
.block_newsletter {
    @include search-box;
    padding-top: 5px;
    font-size: $font-size-sm;
    p {
        margin: 0;
        padding-top: $small-space;      
        color: $gray-darker;
      
        &#block-newsletter-label {
            text-transform: uppercase;  
            font-size: 16px;
            font-weight: 500;

            &:before {
                @include picto('contact');
                color: $primary-color;
                margin-right: 12px;    
                padding-bottom: 5px;
                font-size: 22px;
                vertical-align: middle;
            }
        }
    }
    form {
        .input-wrapper {
            overflow: hidden;
            display: flex;
            flex-direction: row;
        }
        input[type=text] {
            padding: 10px 8px 6px;
            min-width: 150px;
        }
        input {
            display: flex;
            flex: 1;
            height: 30px;  
            box-shadow: none;
            outline: none;
            border-radius: 3px;

            &:focus,
            &:active {
                outline: none !important;
            }
        }
        input[type=submit] {
            margin: 0;
            margin-left: 3px;
            padding: 0 12px;
            font-size: 12px;
            font-family: $ff-special;
            flex: 0 0 auto;
        }
    }
}

/*----------  SOCIAL  ----------*/
.block-social {
    padding: 0 80px;

    ul {
        margin: 0;
    }
}
.block-social li {
    display: inline-block;
    margin: 0 10px; 
    cursor: pointer;

    a {
      display: block;
      height: 100%;
      padding: 10px;
      white-space: nowrap;

      &:before {
        color: $gray-darker;
        font-size: 22px;
      }
      
      &:hover {
        &:before {
            color: $primary-color;
        }
      }
    }
}
.facebook {
    a:before  {
        @include picto('facebook');
    }
}
.twitter {
    a:before  {
        @include picto('twitter');
    }
}
.rss {
    background-image: url(../img/rss.svg);
}
.youtube {
    a:before  {
        @include picto('youtube-play');
    }
}
.googleplus {
    background-image: url(../img/gplus.svg);
    &::before{
        content:"";
        background-image: url(../img/gplus-blue.svg);
    }
    &.icon-gray {
        background-image: url(../img/gplus-gray.svg);
        &:hover {
        background-image: url(../img/gplus-blue.svg);
        }
    }
}
.pinterest {
    a:before  {
        @include picto('pinterest');
    }
}
.vimeo {
    background-image: url(../img/vimeo.svg);
}
.instagram {
    a:before  {
        @include picto('instagram');
    }
}


/*----------  footer links  ----------*/
.footer__link {
    margin: 0;
    margin-top: 50px;
    text-align: center;

    li {
        display: inline-block;
    }

    a {
        display: inline-block;
        padding: 5px 10px;
        text-decoration: none;
        color: #acb2b5;
        cursor: pointer;
        font-size: 12px;

        &:hover {
            color: $brand-primary;
        }
    }
}


  /*** Responsive part ***/
@include media-breakpoint-down(md) {  
    .block-social {
        text-align: center;
        padding: 0;
    } 

    
}
@include media-breakpoint-down(sm) {  
    #footer {
        padding-top: 0.5rem;
        background: $gray-light;

        &:after {
            display: none;
        }
    }
    .footer-container {
        .wrapper {
          padding-left: 30px !important;
          padding-right: 30px !important;
        }

        h3 {
            margin-top: 12px;
            margin-bottom: 8px;
        }
        
    }
    .block_newsletter {
        padding-bottom: 0.625rem;
        border-bottom: 1px solid $gray-lighter;
    }

    .container__newsletter-rs {
        display: flex;
        flex-direction: column;
    }
    .block_newsletter {
        overflow: auto;
        display: flex;
        order: 2;
        margin: 0 8px;
        width: calc( 100% - 16px);
        border: 1px solid #e7e7e7;
        background: white;

        p#block-newsletter-label {
            padding: 12px 15px;
        }
    }
    .block-social {        
        display: flex;
        overflow: auto;
        order: 1;

        ul {
            width: 100%;
            padding: 30px 0; 
        } 
    }
}
