/**
 *
 * HEADER
 * override Theme de base
 *
 */

/*** HEADER ***/
#header {
    padding: 10px 25px 0 50px;
    // overflow: auto;
    background: white;
    color: $gray;

    .logo {
        max-width: 100%;
        margin-bottom: 10px;
    }
    a {
        color: #919191;

        &:hover {
            text-decoration: none;
            color: $brand-primary;
        }
    }
    .header-nav {
        max-height: 50px;

        #menu-icon {
            vertical-align: middle;
            cursor: pointer;
        }
        .right-nav {
            display: flex;
            flex-wrap: nowrap;
            justify-content: flex-end;
        }
        .currency-selector {
            margin-top: 0.9375rem;
            margin-left: 0.9375rem;
            white-space: nowrap;
        }
        .language-selector {
            margin-top: 0.9375rem;
            white-space: nowrap;
        }
    }
    .header-top {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;

        > .container {
            position: relative;
        }

        .menu {
            > ul {
                > li {
                float: left;
                }
            }
            padding-left: 15px;
            margin-bottom: 0.375rem;
        }
    }

    /*----------  MOBILE  ----------*/
    .mobile {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;

        #_mobile_user_info,
        #_mobile_cart,
        .search__picto {
            display: flex;
        }
        #_mobile_logo {
            margin-left: 10px;
            margin-right: auto;
        }
        #_mobile_user_info,
        .search__picto,
        .store-loc-header {
            margin: 0 10px;
        }
        #_mobile_cart {
            margin-left: 0px;

            .blockcart {
                margin-right: -4px;
                margin-left: 5px;
            }
        }
        .search__picto {
            &:before {
                margin-top: -3px;
            }
        }
    }
}
.popover {
    font-family: inherit;
}


/*----------  Logo  ----------*/
#_desktop_logo {
    display: flex;
    flex: 0 0 auto;

    .logo {
        width: 123px;
        height: 133px;
    }
}


/*----------  Flex align navigation  ----------*/
.navigation__wrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    width: auto;
}
.navigation__container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-self: flex-end;
    width: 100%;

    &.navigation__menu-search {
        flex-wrap: nowrap;
        margin-top: auto;
    }
    &.navigation__log-cart {
        margin-top: 20px;
        > div {
            display: flex;
            z-index: 15;

            &:first-child {
                margin-left: auto;
            }
        }
    }
}


/*----------  SEARCH  ----------*/
.header-top {
    #search_widget {
        z-index: 999999;
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        height: 100vh;
        padding: 20%;
        background: rgba($primary-color,0.98);
        opacity: 0;
        visibility: hidden;
        clip: rect(0,0,0,0);
        // transform: scale(0.7);
        transition: all $ease-2;

        &.is--open {
            // transform: scale(1);
            opacity: 1;
            visibility: visible;
            clip: auto;
        }

        form {
            input[type=text] {
                height: 150px;
                font-size: 80px;
                font-weight: 900;
            }
        }
        .search_widget__text {
            margin-top: 50px;
            font-size: 40px;
            color: white;
            text-align: center;
        }
    }
    .search__picto {
        cursor: pointer;
        &.search__picto--open {
            &:before {
                @include picto('search-1');
                font-size: 26px;
            }
            &:hover {
                &:before {
                    color: $primary-color;
                }
            }
        }
        &.search__picto--close {
            z-index: 99;
            position: absolute;
            top: 20px;
            right: 20px;
            &:before {
                @include picto('croix');
                color: white;
                font-size: 30px;
            }
        }
    }
}
#search_widget, {
    form {
        display: flex;
        flex-direction: row;
        justify-content: center;
        width: 100%;
        input[type=text] {
            display: flex;
            padding: 0;
            background: transparent;
            color: white;
            border: none;
            font-family: $ff-special;
            outline: none;
            line-height: 1;
            letter-spacing: -0.05em;
            @include placeholder {
                color: white;
                opacity: 1;
            }
        }
        button[type=submit] {
            position: relative;
            display: flex;
            bottom: auto;
            right: auto;
            padding: 0;
            border: none;
            background:none;
            cursor: pointer;
            outline: none;

            &:hover,
            &:focus {
                outline: none;
                &:before {
                    opacity: 1;
                }
            }

            &:before {
                @include picto('search-1');
                color: white;
                font-size: 80px;
                opacity: 0.6;
            }
        }
    }
}


/*----------  Iqit Mega Menu  ----------*/
.container-iqit-menu {
    padding: 0 50px;
}
#cbp-hrmenu > ul > li > a,
#cbp-hrmenu > ul > li > span.cbp-main-link {
    font-weight: 500;
}
.cbp-column-title {
    padding: 30px 10px 5px;
    font-weight: 700;
}
.cbp-categories-row {
    .cbp-column-title {
        padding: 5px 0;
        font-weight: 500 !important;
    }
}

.cbp-menu-column-inner{
    height: 100%;

    img{
        height: 100%;
    }
}

/*----------  Commander  ----------*/
.commander__container {
    a {
        position: relative;
        display: block;
        margin: 0 16px;
        padding: 8px 18px 4px;
        border: 2px solid $primary-color;
        font-size: 14px;
        font-weight: 500;
        color: #fff !important;
        text-decoration: none;
        transition: all 0.2s;
        background: $primary-color;

        &:focus,
        &:hover {
            background: lighten($primary-color, 10%);
            color: white !important;
            border: 2px solid lighten($primary-color, 10%);
        }
    }
}

.btn-commander-mobile {
    max-width: 90%;
    margin: 1.5rem auto;
    a{
        position: relative;
        display: block;
        margin: 0 16px 0 0;
        padding: 8px 18px 4px;
        font-size: 16px !important;
        font-weight: 500;
        text-decoration: none;
        text-align: center;
        transition: all 0.2s;
    }
    a.commande {
        border: 2px solid $primary-color;
        color: #fff !important;
        background: $primary-color;
        margin: 0;

        &:focus,
        &:hover {
            background: lighten($primary-color, 10%);
            color: white !important;
            border: 2px solid lighten($primary-color, 10%);
        }
    }

    @include media-breakpoint-up(md) {
        display: none;
    }
}

/*----------  Devis  ----------*/
.devis__container {
    a {
        position: relative;
        display: block;
        margin: 0 16px;
        padding: 8px 18px 4px;
        border: 2px solid $primary-color;
        font-size: 14px;
        font-weight: 500;
        color: #000 !important;
        text-decoration: none;
        transition: all $ease;

        &:focus,
        &:hover {
            background: $primary-color;
            color: white !important;
        }
    }
}


/*----------  Store location  ----------*/
.store-loc-header {
    position: relative;
    display: block;
    margin: 0 16px;

    .store-loc__picto {
        &:before {
            @include picto('storeloc02');
            font-size: 20px;
            color: #000000;;
        }
    }

    a {
        text-decoration: none;
        &:focus,
        &:hover {
            .store-loc__picto:before {
                color: $primary-color;
            }
        }
    }
}


/*----------  Logged  ----------*/
#_desktop_user_info,
#_mobile_user_info {
    position: relative;
    color: #919191;

    a.account {
        &:hover {
            .picto:before {
                color: $primary-color;
            }
        }
    }

    .picto {
        &.loggin{
            &:before {
                @include picto('compte');
                font-size: 20px;
                color: #000000;;
            }
        }
    }

    &:hover {
        .bloc-hover {
            opacity: 1;
            visibility: visible;
            clip: auto;
            transform: translate3d(0,0,0);
        }
    }
}
.bloc-hover {
    position: absolute;
    top: 100%;
    right: 0;
    min-width: 100%;
    padding: 16px 20px;
    border: 1px solid rgba($gray,0.25);
    background: #fff;
    opacity: 0;
    visibility: hidden;
    clip: rect(0,0,0,0);
    transform: translate3d(0,-10px,0);
    transition: all $ease-2;

    a {
        display: inline-block;
        width: 100%;
        margin: 0;

        + a {
            margin-top: 10px;
        }
    }
}


/*----------  Minicart / quick cart  ----------*/
.blockcart {
    margin-left: 30px;
    position: relative;
    z-index: 9;

    .picto {
        &.shopping-cart {
            &:before {
                @include picto('panier');
                font-size: 40px;
                color: $primary-color;
            }
        }
    }
    .cart-products-count {
        z-index: 99;
        position: absolute;
        bottom: -2px;
        right: -2px;
        border: 2px solid #fff;
        border-radius: 50%;

        span {
            display: block;
            width: 19px;
            height: 19px;
            font-family: $ff-special;
            font-size: 9px;
            font-weight: 700;
            line-height: 16px;
            text-align: center;
            color: $primary-color;
            background: #fff;
            border: 2px solid $primary-color;
            border-radius: 50%;
        }
    }
}


/*----------  MENU  ----------*/
#cbp-close-mobile {
    &:before {
        @include picto('croix');
        font-size: 16px;
        line-height: 50px;
    }
}
#iqitmegamenu-accordion {
    padding-top: 50px;

    .logo-mobile {
        position: absolute;
        left: 50px;
        top: 0;
        height: 50px;
        padding: 0;

        img {
            padding: 5px 0;
            height: 50px;
        }
    }

    li {
        position: relative;
        border-bottom: 1px solid #e6e6e6;

        a {
            font-size: 15px;
            font-weight: 500;
            padding: 15px 20px 12px;
            text-transform: uppercase;
        }

        > a {
            font-size: 18px;
            font-weight: 700;
        }

        .responsiveInykator {
            position: absolute;
            top: 12px;
            right: 20px;

            &:before {
                @include picto('down-open-big');
                font-size: 16px;
            }
        }

        &.is--open {
            .responsiveInykator::before {
                @include picto('up-open-big');
            }
        }

        /*----------  Sous menu  ----------*/
        ul {
            margin: 0;
            padding: 0;
            border-top: 1px solid #e6e6e6;

            li {

                &:last-child {
                    border: none;
                }
                a {
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }
    }
}

/*----------  Sous-menu autres  ----------*/
#cbp-hrmenu-tab-5 .cbp-links li,
#cbp-hrmenu-tab-6 .cbp-links li{
    padding-left: 10px;
}

.cbp-hrmenu #cbp-hrmenu-tab-6 .cbp-notfit {
    right: auto;
}



@include media-breakpoint-down(sm) {
    #header {
        .header-nav {
            background: white;

            .top-logo {
                line-height: 50px;
                vertical-align: middle;

                a {
                img {
                    max-height: 50px;
                    max-width: 100%;
                }
                }
            }
        }
    }
}
@include media-breakpoint-down(lg) {
    .container-iqit-menu {
        padding: 0 10px;
    }
    #cbp-hrmenu > ul > li > a,
    #cbp-hrmenu > ul > li > span.cbp-main-link {
        padding: 0 5px !important;
    }
}
@include media-breakpoint-down(md) {
    #header {
        padding: 5px 15px;
    }

    #search_widget {
        padding: 10px;

        > .container {
            height: 100%;
            > .row {
                height: 100%;
            }
        }

        form {
            height: 100%;
            flex-direction: column;

            input[type=text]{
                margin: auto;
                font-size: 40px;
                text-align: center;
            }

            button[type=submit] {
                position: absolute;
                left: 0;
                right: 0;
                bottom: 40px;
                width: 100%;
                justify-content: center;
                &:before {
                    opacity: 1;
                }
            }
        }
    }
}

@include media-breakpoint-down(xs) {
}