@import "~bourbon/app/assets/stylesheets/bourbon";
@import "partials/_variables"; 
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css";
@import "partials/_mixins";
@import "partials/_fonts";
@import "partials/_commons";

/**
 *
 * INSITACTION
 * Utilities
 *
 */ 
@import "utilities/pictos";
@import "utilities/helpers"; 
@import "utilities/buttons";  

/**
 *
 * BOOTSTRAP
 * V4.0.0-alpha.5
 *
 */
@import "components/alert";
@import "components/annonce-job";
@import "components/drop-down";
@import "components/search-widget";
@import "components/mainmenu";
@import "components/careers";
@import "components/checkout";
@import "components/customer";
@import "components/forgotten-password";
@import "components/renew-password";
@import "components/imageslider";
@import "components/featuredproducts";
@import "components/custom-text"; 
@import "components/categories";
@import "components/products";
@import "components/cart";
@import "components/block-reassurance"; 
@import "components/quickview";
@import "components/stores";
@import "components/footer";
@import "components/contact";
@import "components/errors";
@import "components/customization-modal";
@import "components/sitemap"; 
@import "components/subscribe"; 
@import "components/listeAnnonceEmploi";
/**
 *
 * INSITACTION
 *
 */ 
 @import "insita/insita";
 @import "insita/components/newsletter";


/*** WRAPPER ***/
#wrapper {

  .banner {
    margin-bottom: 1.5rem;
    display: block;
    img {
      box-shadow: 1px 1px 7px 0 rgba(0, 0, 0, 0.15);
    }
  }
  
  .breadcrumb {
    @include make-container();
    @include make-container-max-widths();
    
    background: transparent;
    font-size: 13px;
    &[data-depth="1"] {
      display: none;
    }
    ol {
      padding-left: 0;
      margin-bottom: 0;
    }
    li {
      display: inline;
      &::after {
        content: ".";
        color: $gray;
        margin: 0;
      }
      &:last-child {
        // content: "/";
        color: $gray;
        margin: 0;
        &::after {
          content: "";
        }
        a{
          font-weight: 700;
        }
      }
      a {
        color: $gray;
      }
    }
  }
}

.breadcrumbs.container{
  .breadcrumb_last{
    color: $gray;
    margin: 0;
    font-weight: 700; 
  }
  a{
    color: $gray;
  }
}

/*** MAIN ***/
#main {
  .page-header {
    margin-bottom: 1.563rem;
  }
  .page-content {
    margin-bottom: 1.563rem;
    h6 {
      margin-bottom: 1.125rem;
    }
    #notifications {
      margin-left: -15px;
      margin-right: -15px;
    }
  }
  .page-footer {
    margin-bottom: 1.563rem;
  }
}
#notifications {
  ul {
    margin-bottom: 0;
  }
}


/*** Responsive part ***/
@include media-breakpoint-down(sm) {
  #wrapper {
    box-shadow: none;
  }
  #checkout-cart-summary {
    float: none;
    width: 100%;
    margin-top: 1rem;
  }
  section.checkout-step {
    width: 100%;
  }
  .default-input {
    min-width: 100%;
  }
  label {
    clear: both;
  }
  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }
  .block-contact {
    padding-left: 0.9375rem;
    border: none;
  }
  .menu,
  .dropdown-item {
    padding-left: 0;
  }
}
@include media-breakpoint-down(md) {
  .container {
    max-width: 100%;
  }
  #header .logo {
    width: auto;
  }
  #products .product-miniature,
  .featured-products .product-miniature {
    margin: 0 auto;
  }
  .sub-menu {
    left: 0;
    min-width: 100%;
  }
  #blockcart-modal .product-image {
    width: 100%;
    display: block;
    max-width: 250px;
    margin: 0 auto 0.9375rem;
  }
  #blockcart-modal .cart-content {
    padding-left: 0;
  }
  #blockcart-modal .product-name,
  #product-availability {
    margin-top: $small-space;
  }
  #search_filters .facet .facet-label {
    text-align: left;
  }
  .block-category .category-cover {
    position: relative;
    text-align: center;
  }
  .block-category {
    padding-bottom: 0;
  }
}

// @include media-breakpoint-down(xs) {
//   #left-column, #content-wrapper {
//     padding-left: 0 !important;
//     padding-right: 0 !important;
//   }
// }


@media (max-width: 991px){
  .container {
      width: 100% !important;
  }
}