/* page annonce job */
.single-job_listing {
	.the-article {
		.entry-header {
			background: url('../img/header-careers.png') no-repeat;
			background-size: cover;
			padding-top: 100px !important;
			padding-bottom: 60px !important;
			.entry-title {
				text-align: center;
				font-size: 60px;
				font-family: "Calibre", "Arial", "sans-serif";
				color: #fff;
				font-weight: 700;
				letter-spacing: 0;
				span {
					color: #ff6955;
				}
			}
		}
		.entry-content {
			background-color: white;
			margin-top: 150px;
			margin-bottom: 70px;
		}
	//}
	//#post-318 {	
		.job_application{ // Bouton postuler bas
			.postuler-pgeAnnonce {
				width: 100%;
				background-color: $brand-primary;
				a {
					height: 350px;
					display: flex;
					flex-direction: column;
					justify-content: center;
					align-items: center;
					color: #fff !important;
					font-size: 22px;
					font-weight: 600;
					text-align: center;
					text-transform: uppercase;
					transition: all 0.2s ease-in-out;
					img {
						display: block;
						margin: 10px auto;
						box-shadow: none;
						//padding-top: 75px;
					}
					&:hover {
						background-color: #ff3c22;
					}
				}
				.img-bread {
					width: 100%;
				}
			}
		}

		// Bouton postuler absolute right 
		.btn-postuler {
			position: fixed;
			top: 362px;
			right: 0;
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 160px;
			height: 160px;
			background-color: #ff6955;
			color: #fff;
			font-size: 22px;
			font-weight: 600;
			text-align: center;
			text-transform: uppercase;
			z-index: 1;
			transition: all 0.2s ease-in-out;

			img {
				margin-bottom: 10px;
				box-shadow: none;
			}

			&:hover {
				background-color: #ff3c22;
			}
		}
	}
}
.single_job_listing {
	.job-type { //cdd-cdi...
	    padding-top: 10px !important;
		top: 250px;
	}
	.temps-travail { //partiel-plein
	    padding-top: 10px !important;
	    top: 330px;
	}

	.job-type,
	.temps-travail {
		display: flex;
	    position: absolute;
	    width: 65px;
	    height: 65px;
	    left: -80px;
	    justify-content: center;
	    align-items: center;
	    background-color: transparent !important;
	    color: $brand-primary !important;
	    font-weight: 700;
	    border: 2px solid #ff6955;
		border-radius: 50px;
		text-transform: uppercase;
		text-align: center;
		font-size: 12px;
	}
	
	.meta {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;

		li {
			margin: 0 !important;
		}

		.title-job {
			padding-top: 0;
			.entry-title {
				font-size: 50px;
				margin: 0;
			}
		}

		.date-posted {
			padding-top: 60px;
			padding-bottom: 0;
		}

		.location, .date-posted { // Delete picto
			&:before {
				content: '' !important;
				width: 0 !important;
			}
		}

		.location {
			//padding: 45px 0 60px;
			font-size: 24px;
			text-align: center;
			a {
				color: $gray;
			}
		}

		.job-extract {
			margin: 0 auto;
			padding: 5px;

			p {
				line-height: 1.3;
				padding: 25px 30px 20px 30px;
				border: 1px solid #e6e6e6;
				margin-top: 60px;
				margin-bottom: 60px;
			}
		}
	}

	.company {display: none !important;}

	.job_description {
		padding-left: 20px;
		padding-right: 20px;
	}
}

.autres-annonces {
	p {
		padding-top: 30px;
		margin-bottom: 20px;
		font-size: 25px;
		color: #000;
		line-height: 1;
		text-align: center;
		text-transform: uppercase;
		span {
			display: block;
			font-weight: bold;
			font-size: 40px;
		}
	}

	ul.job_listings {
		border: none;
		li.job_listing {
			width: 24.8%;
			padding: 0 !important;
			border: none;
			display: inline-block;
			.bloc-job {		
				border: 1px solid #eee;
				margin: 10px;
				padding: 25px;	
				color: #696969;
				font-weight: 500;
				img, .company { display: none; }
				.position {
					width: 100%;
					padding: 0;
					.date {
						line-height: 1;
						font-weight: 700;
						font-size: 14px;
					}
					h3 {
						margin: 0;
						padding: 0px !important;
						font-size: 24px !important;
						text-transform: uppercase;
						font-weight: 700;
						color: #333;
					}
				}
				.meta {
					width: 100% !important;
					text-align: left;
					padding: 0;
					li {
						list-style-type: none;
						&.job-type {
							color: #333;
						}
					}				
				}
				.location {
					margin-top: 15px;
					padding: 15px 0 0 0;
					border-top: 1px solid #eee;
				}
				.job-extract {
					padding-top: 40px;
					padding-bottom: 50px;
					line-height: 1.1rem;
				}
				a {
					padding: 3px 20px;
					height: 29px;
					border: 2px solid #ff6955;
					text-align: center;
					font-weight: 500;
					width: 140px;				
				}
			}
		}
	}
}

.linkedin {
	padding-top: 60px;
	font-weight: 600;
	color: #000;
	text-align: center;
	text-transform: uppercase;

	img {
		margin-left: 2px;
		vertical-align: text-bottom;
	}
}

@media screen and (max-width: 767px) {
	.single-job_listing {
		.the-article {
			.entry-header {
				.entry-title {
					line-height: 3.5rem;
					span {
						display: block;
					}
				}
			}
			.job_application {
				.postuler-pgeAnnonce {
					a {
						height: 150px;
					}
				}		
			}
		}
		.meta {
			.job-extract {
				p {
					padding: 15px 20px 10px 20px;
				}
			}
		}
		.job_description {
			padding-left: 0;
			padding-right: 0;
		}
	}
	.autres-annonces {
		p {
			font-size: 20px;
			span {
				font-size: 30px;
			}
		}
		ul.job_listings {
			li.job_listing {
				width: 100%;								
			}
		}
	}
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
	.autres-annonces {
		ul.job_listings {
			li.job_listing {
				width: 49.2%;									
			}
		}
	}
}

@media screen and (min-width: 1024px) and (max-width: 1399px) {
	.autres-annonces {
		ul.job_listings {
			li.job_listing {
				width: 33.1%;									
			}
		}
	}
}

@media screen and (max-width: 1023px) {
	.btn-postuler {
		display: none !important;
	}
	.single-job_listing {
		.the-article {
			.job_application {
				.postuler-pgeAnnonce {
					a {
						height: 230px;
					}
				}		 
			}
		}
	}
}