/* shp careers & employs */

#post-310 {
	.entry-header {
		background-image: url('../img/header-careers.png');
		background-position: center center;
		background-repeat: no-repeat;
		background-size: cover;

		padding: 3em 0;

		h1.entry-title { // Carrières & emplois
			text-align: center;
		    padding: 110px 0 20px;
		    font-size: 60px;
		    font-family: $ff-base;
			color: #fff;
			font-weight: 700;
			letter-spacing: 0;
		    span {
		    	color: $brand-primary;
		    }

		}

	    .bg-familySpirit { // L'esprit de famille
	    	width: 90%;
	    	margin: 0 auto;
	    	padding: 5px;
	    	font-size: 13px;
	    	background-color: #fff;
	    	div {
	    		padding: 5px;
	    		border: 1px solid  $input-border-color;

	    		p {
					font-size: 18px;
	    			&:first-child {
					    text-transform: uppercase;
					    // font-size: 18px;
					    margin-bottom: 10px;
	    			}
	    			&:last-child {
						// font-size: 14px;
						line-height: 1;
	    			}
	    		}
	    	}
	    }
	}

	.entry-content {
		font-size: 16px;
		font-family: $ff-base;
		p {
		    font-family: $ff-base;
			font-size: 16px;
		}
		.progress-bars {
			margin: 90px 0 110px;
		}

		.img1-hpCarriere {
			height: 300px;
		}

		.vce-text-block-wrapper {
			display: flex;
			flex-direction: column;
			justify-content: center;
			height: 100%;
	        min-height: 350px;
		    max-height: 350px;
		    background-repeat: no-repeat;
		    background-size: cover;
		    background-position: center center;

			h3 {margin-bottom: 10px;
				line-height: 0.6rem;}
			h2 {padding-top: 0;
				line-height: 1.6rem;
				font-size: 1.925rem;}
		}

		.hpce_talent-management,
		.hpce_apprentissage,
		.hpce_formation {
			h2 {
				text-transform: uppercase;
				text-align: center;
				color: #000;
				padding: 0 0 0 !important;
				margin: 0;
			}
			>div {
				//padding: 0 25px;
				p {
					text-align: center;
					color: #000;
					font-size: 14px;
					padding: 0 20px;
					&:first-child {
						padding-top: 20px;
					}
				}
			}
		}

		.hpce_candidaturespontanee {
			.vce-col-inner { // Box shadow candidature spontanée
				&:after {
				  z-index: -1;
				  position: absolute;
				  content: "";
				  bottom: 15px;
				  right: 10px;
				  left: auto;
				  width: 50%;
				  top: 80%;
				  max-width:500px;
				  background: #777;
				  box-shadow: 0 9px 19px #f2f2f2;
				}
			}
			.vce-text-block {
				padding: 10px;
			}
			.vce-text-block-wrapper {
				min-height: 330px;
		    	max-height: 330px;
		    	background-color: #fff;
		    	border: 1px solid  $input-border-color;
			}
			h2 {
				font-weight: bold;
				font-size: 26px;
				span {
					font-weight: normal;
				}
			}
			p {color:#000;font-size: 14px;}
			a {
			    margin: 25px auto 0;
				padding: 9px 45px 5px 45px;
			    height: 30px;
			    font-size: 15px;
			    font-weight: 500;
				border: 2px solid $brand-primary;
			}
		}

		.widget-title { //Nos offres récentes
			width: 98%;
			margin: 0 auto;
			margin-top: -27px;
			padding-top: 15px;
			padding-bottom: 10px;
			padding-left: 20px;
			background-color: $brand-primary;
			color: white;
			font-size: 1.25rem;
			letter-spacing: 0;
			font-weight: 700;
		}
		.job_listings {
		    width: 98%;
    		margin: 5px auto 0;
    		padding: 0 20px;
    		border: 1px solid  $input-border-color;
			
			.job_listing {
			    display: flex;
			    flex-direction: row;
			    justify-content: space-between;
				min-height: 4em;
			    border-top: 0 !important;
			    align-items: center;

			    &:not(:last-child) {
				    border-bottom: 1px solid $input-border-color;
				}
				
				&:last-child {
				    border-bottom: none;
			    }

			    .position {
					display: flex;
					flex-direction: column;
					height: 80%;
					justify-content: center;
					width: 20%;

					h3 {
						text-transform: uppercase;
						font-weight: 700;
						font-size: 1rem;
						margin: 0;
					}
			    }
			    .meta {
			    	display: flex;
			    	width: 200px;
			    	justify-content: space-between;
					align-items: center;
					width: 60%;
					
					.job-type, .temps-travail, .location {
						font-weight: 500;
						width: 33.33%;
						text-align: left;
					}
					.job-type {
						color: #333;
					}
					.temps-travail, .location {
						color: #696969;
					}
					.job-type, .temps-travail, .location {
						&::after {
							content: "" !important;
						}
					}
			    }
	    		a {
	    			padding: 3px 20px;
	    			height: 30px;
	    			border: 2px solid $brand-primary;
					text-align: center;
					font-weight: 500;
	    		}
			}
		}
		.btn-seeAllOffers { // Bouton voir toutes les annonces
		    display: block;
		    width: 60%;
		    height: 32px;
		    margin: 0 auto;
			padding: 4px 13px;
			border: 2px solid $brand-primary;
			text-align: center;   
			font-weight: 500;
			text-decoration: none;
		}

		.candidature-spontanee {
			display: flex;
			flex-direction: column;
			.cs-text {
				p {
					text-align: center;
					margin: 0;
					line-height: 1;

					&:first-child {
    					margin-top: 50px;
    					margin-bottom: 30px;
						font-size: 26px;
						font-weight: normal;
						color: #717171;
						text-transform: uppercase;
						span { // "Candidature"
							display: block;
							clear: right;
							font-weight: bold;
							color: $gray-darker;
						}
					}

					&:not(:first-child) {
						margin: 0 10px;
					}
				}

				a {
				    display: block;
				    margin: 30px auto;
				    padding: 3px 11px;
				    width: 25%;
				    height: 32px;
				    border: 2px solid $brand-primary;
				    font-weight: 500;
				    text-align: center;
				}
			}
			.cs-img {
				padding: 0 !important;
				img {
					margin-bottom: 45px;
				}
			}
		}
	}
}

.page-id-310 {
	.container:not(#breadcrumb_container) {
		width: 100%;
		
		.our-jobs { // Section nos métiers
			.our-jobs__title {
				margin-top: 50px;
			    font-size: 26px;
			    color: $gray-darker;
			    text-align: center;
			    text-transform: uppercase;
			}
			ul {
				margin-bottom: 90px !important;
				li {
				    display: flex;
				    margin: 0 5px;
				    padding: 10px;
				    font-weight: bold;
				    text-transform: uppercase;
					box-shadow: 0px 5px 9px 0px #e6e6e6;
					transition: all 0.2s ease-in-out;

				    &:hover {
				    	background-color: $brand-primary;
				    	cursor: pointer;
				    	a {
				    		color: #fff;
				    	}
				    }
				}

				.job {
					display: flex;
					width: 100%;
					height: 215px;
					justify-content: center;
					align-items: center;
					border: 2px solid #e6e6e6;
					a {
						font-family: $ff-base;
						font-size: 18px;
					}
				}
			}
		}
		.temoignages { // Section découvrez leurs témoignages
			background-color: #f0f0f0;

			.temoignages__title {
				margin-bottom: 0;
				padding: 60px 22px;
				line-height: 1em;
				color: #000;
				font-size: 26px;
				text-align: center;
				text-transform: uppercase;

				span {
					display: block;
					font-weight: bold;
				}

			}
			
			ul {
				display: flex;
				list-style: none;
				padding-bottom: 80px !important;
				li {
					display: flex;
					width: 100%;
					flex-direction: column;
					margin: 0 15px;

					.video__title {
						color: #000;
						font-size: 26px;
						font-weight: 700;
						text-transform: uppercase;
						padding-top: 20px;
						padding-left: 20px;
						line-height: 1.6rem;

						span {
							display: block;
    						font-weight: bold;
						}
					}

					.temoignage__metier {
						p {
							margin: 0;
							padding-left: 20px;
							padding-right: 20px;
							font-size: 26px;
							font-weight: 500;
							color: #000;
						}
					}
				}
			}
		}
	}
}

.btn-white-to-orange {
	transition: all 0.2s ease-in-out !important;
	text-decoration: none !important;
	&:hover {
		background: #ff6955 !important;
		color: white !important;
	}
}

@media screen and (max-width: 767px) {

	#post-310 {
		.entry-header {	
			h1.entry-title {
				line-height: 3.5rem;
				span {
					display: block;
				}	
			}
		}
		.entry-content .progress-bars {
			margin: 0;
		}
		.entry-content {
			.job_listings {
				padding: 0 10px;				
				.job_listing {
					flex-wrap: wrap;
					padding: 10px 0;
					.position {
						width: 100%;
						text-align: center;
					}
					.meta {
						width: 100%;
						padding: 10px 0;
						.job-type, .temps-travail, .location {
							text-align: center;
							margin: 0;
						}
						.job-type {
							color: #333;
						}
						.temps-travail, .location {
							color: #696969;
						}
						.job-type, .temps-travail, .location {
							&::after {
								padding: 0;
							}
						}
					}
					a {
						margin: auto;
					}
				}
			}
		}
	}

	.page-id-310 {
		.container {
			.our-jobs, .temoignages { // Section nos métiers
				ul li {
					width: calc((100%) - 30px) !important;
				}
			}
			.temoignages {
				ul li {
					.video__title {
						text-align: center;
						padding-left: 0;
					}
				}
			}
		}
	}
}

@media screen and (min-width: 768px) {
	.page-id-310 {
		.container {
			.our-jobs, .temoignages { // Section nos métiers
				ul li {
					width: calc((100%/2) - 30px) !important;
				}
			}
		}
	}
}


@media screen and (min-width: 900px) {
	#post-310 {
		.entry-header .bg-familySpirit {
			width: 620px;
		}
		.entry-content {
			.img1-hpCarriere {
				height: 470px;
			}
			.vce-text-block-wrapper {
		        min-height: 450px;
			    max-height: 450px;
			}
			.hpce_candidaturespontanee {
				.vce-text-block-wrapper {
					min-height: 430px;
			    	max-height: 430px;
				}
			}
			.widget-title, .job_listings { //Nos offres récentes
				width: 780px;
			}
			.btn-seeAllOffers { // Bouton voir toutes les annonces
				width: 20%;
			}
			.candidature-spontanee {
				display: flex;
				flex-direction: row;
				.cs-text {
				    float: left;
				    margin: 0 0px;
				    padding: 7px 10px;
				    height: fit-content;
				    box-shadow: 0px 2px 2px 0px #e6e6e6;

				    >div {
					    display: inline-block;
					    padding: 43px 0;
			    	    width: 100%;
					    border: 2px solid $input-border-color;
				    }
				}
				.cs-img {
					float: right;
				}
			}
		}
	}

	.page-id-310 {
		.container {

			.our-jobs { // Section nos métiers
				width: 1290px;
				max-width: 100%;
				margin: 0 auto;
				ul li {
					width: calc((100%/3) - 30px) !important;
				}
			}
			.temoignages { // Section découvrez leurs témoignages
				width: 100%;
				margin: 0 auto;
				.swiper--temoignages {
					width: 1290px;
					max-width: 100%;
					margin: 0 auto;
					ul li {
						width: calc((100%/3) - 30px) !important;
					}
				}					
			}
		}
	}
}

@media screen and (min-width: 1200px) {
	.page-id-310 {
		.container {
			.our-jobs { // Section nos métiers
				ul li {
					width: calc((100%/4) - 30px) !important;
				}
			}
		}
	}
}