.cart-grid {
  margin-bottom: 1rem;
}

.cart-items {
  margin-bottom: 0;
}
.cart-item {
  padding: 1rem 0;

  .product-line-grid {
    display: flex;
    flex-direction: row;
    align-items: center;
  }
}
.box-shadow-container {
  position: relative;
    .box-shadow {
      background-color: white;
      display: inline-block;
      width: 70px;
      position: absolute;
      right: -10px;
      top: 0;
      bottom: 0;
    
      &:after{
        display: block;
        position: absolute;
        content: "";
        top: 10%;
        width: 21px;
        right: 0;
        height: 83%;
        box-shadow: -10px 0px 30px 5px rgba(0, 0, 0, 0.2);
        z-index: -1;
      }
    
    }

    .rea-panier {
      position: relative;
      padding: 0 1.25rem 1.25rem 1.25rem;
      .text-reassurance {
        font-weight: 500;
        margin-right: 5px;
        &:before {
          @include picto('cadena');
          margin-right: 5px;
        }
      }
    }
}
.cart-summary {
  z-index: 1;
}
.cart-summary-line {
  @include clearfix;
  clear: both;
  .label {
    padding-left: 0;
    font-weight: normal; 
    white-space: inherit;
  }
  .value {
    color: $gray-darker;
    float: right;
  }
  &.cart-summary-subtotals {
    .label,
    .value {
      font-weight: normal;
    }
  }
}
/** CART BODY **/
.cart-grid-body {
  a.label {
    &:hover {
      color: $brand-primary;
    }
  }
  .card-block {
    margin-top: 34px;
    margin-bottom: 10px;
    padding: 1rem 0;
    h1 {
      font-weight: bold;
      font-size: 28px;
      color:#000;
      margin-bottom: 0;
    }
  }
  .cart-overview {
    padding: 1rem;
  }
}
/** CART RIGHT **/
.cart-grid-right {

  .separator {
    border-color: rgba(0, 0, 0, 0.125);
  }

  #cart-subtotal-products {
    margin-bottom: 15px;
    .label {
      text-transform: uppercase;
      color: $gray-darker;
      font-weight: 500;
      font-size: 16px;
    }
  }
  

  .subtotal {
    font-size: 16px;
    color: $gray;
    font-weight: 500;
    display: flex;
    justify-content: space-between;
  }
  .subtotal-shipping, #cart-subtotal-shipping {
    display: none;
  }

  .cart-total {
    .label {
      font-weight: bold;
      text-transform: uppercase;
    }
    .value {
      font-weight: bold;
      color: $brand-primary;
    }
  }

  .checkout {
    padding-top: 0;
    a {
      width: 100%;
      border-radius: 3px;
      box-shadow: none;
    }
    
  }
}
#js-checkout-summary{
  .block-promo {
    .cart-voucher {
      padding: 0;
    }
  }
}
.block-promo {
  .cart-voucher {
    padding-left: 20px;
    padding-right: 20px;
  }
  .label-promo {
    margin-bottom: 7px;
    color: #000;
    font-weight: 500;
  }

  form {
    display: flex;
    padding-bottom: 15px;
    .promo-input {
      width: 100%;
      padding: 5px 0 0 10px;
      margin-right: 10px;
      border-radius: 3px;
      border: 1px solid $input-border-color;
      height: 30px;
    }

    button {
      padding: 7px 0;
      height: 30px;
      width: 40px;
      border-radius: 3px;
      box-shadow: none;
    }
  }
}

.checkbox label.couvert-panier {
  padding-left: 33px;;
}
.couverts {
  &:before {
    @include picto('restau');
    position: absolute;
    font-size: 26px;
    left: 43px;
    top: -1px;
    font-weight: 500;
  }
}
.message-destinataire {
  margin-top: 20px;

  .col-md-6 {
    margin-bottom: 5px;
  }

  .col-md-7 {
    margin-bottom: 20px;

    .msg-destinataire {
      padding: 0.5em;
      width: 100%;
      height: 105px;
      border-radius: 5px;
      border: 1px solid $input-border-color;
      resize: none;
    }
  }
}
.continue-achat {
  border: 1px solid $brand-primary;
  color: $brand-primary;
  max-width: 200px;
  font-size: 11px;
  min-height: 35px;
  background: white;
  &:hover {
    color: $btn-primary-color !important;
    background: $brand-primary;
  }
} 
/** CONTENT LEFT **/
.product-line-grid-left {
  img {
    max-width: 100%;
  }
}
/** CONTENT BODY **/
.product-line-grid-body {
  > .product-line-info {
    > .label {
      padding: 0;
      font-weight: bold;
      text-transform: uppercase;
      font-size: 16px;
      line-height: inherit;
      text-align: left;
      white-space: inherit;
    }
    > ul.attributes {      
      font-size: 14px;
      font-weight: 500;
      font-style: italic;
      color: $gray;
      margin-bottom: 10px;
    }
    > .out-of-stock {
      color: red;
    }
    > .available {
      color: $brand-success;
    }
    > .unit-price-cart {
      padding-left: 0.3125rem;
      font-size: 0.875rem;
      color: $gray;
    }
  }
}
/** CONTENT LEFT **/


.product-line-grid-body {
  .product-line-info.product-price {
    color: #000;
    font-weight: 500;
  }
}
.product-line-grid-right {
  
  .qty {
    padding-right: 0;
  }
  .cart-line-product-actions,
  .product-price {
    padding-right: 20px;
    font-size: 18px;
    line-height: 36px;
    .remove-from-cart {
      &:before  {
        @include picto('trash');
        color: $gray-darker;
        display: inline-block;
    }
    }
  }
}
.other-product-cart {
  margin-top: 130px;
  margin-bottom: 50px;
}
.label-cross-product {
  text-align: center;
  color: #000;
  text-transform: uppercase;
  font-size: 20px;
  font-weight: 500;
}
/*** Responsive part ***/
@include media-breakpoint-down(md) {
  .box-shadow-container .rea-panier {
    padding: 0 0 0 1rem;
  }
}

@include media-breakpoint-down(sm) {
  .box-shadow-container {
    .box-shadow {
      display: none;
    }
  }
  .product-line-grid-body {
    margin-bottom: 1rem;
  }
}

@include media-breakpoint-down(xs) {
  .cart-grid {
    margin-bottom: 1rem;
      &.row {
        margin:0;
      }
  }
  .cart-items {
    padding: 1rem 0;
  }
  .cart-item {
    border-bottom: 1px solid $gray-light;
    &:last-child {
      border-bottom: 0;
    }
  }
  .cart-grid-body {
    .cart-overview {
      padding: 0;
    }
    .no-items {
      padding: 1rem;
      display: inline-block;
    }
  }
  .product-line-grid-left {
    padding-right: 0 !important;
  }

  .product-line-grid-right {
    .qty {
      padding-right: 0;
    }
    .corbeille {
      padding: 0;
    }
  }
  .box-shadow {
    display: none;
  }
}

@media (max-width: 768px) {
  .continue-achat {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
  }
}

@media (max-width: 360px) {
  .product-line-grid-right {
    .qty {
      width: 100%;
    }
    .price {
      width: 100%;
    }
  }
}
