body#checkout {
  color: $gray-darker;
  #header .header-nav {
    max-height: none;
    padding: 5rem 0 0.9375rem;
    border: none;
    margin-bottom: 0;
    .logo {
      max-height: 4.375rem;
      width: auto;
    }
  }
  .custom-checkbox {
    display: flex;
    span {
      flex: 0 0 15px;
      margin-top: 0.1875rem;
    }
  }

  #checkout-personal-information-step {
    .form-group {
      display: flex;
    }

    .form-control-comment {
      padding-left: 10px;
    }
  }

  section.card {
    border: none;

    .card-block {
      border: 1px $input-border-color solid;
      padding: 1.25rem 2rem 1.25rem 1.25rem;

      &:first-child {
        border-bottom: none;
      }

      &:last-child {
        border-top: none;
      }
    }

    .cart-summary-products {
      p {
        text-transform: uppercase;
        font-size: 16px;
        font-weight: 500;
      }
    }

    .rea-panier {
      padding: 1.25rem;
    }
  }
  section#content {
    margin-bottom: 1.563rem;
  }
  .container {
    min-height: 100%;
  }
  section.checkout-step {
    margin-bottom: 20px;
    background-color: white;
    border: 1px $input-border-color solid;

    &.-reachable, &.-unreachable {
      border: 1px solid $input-border-color;
      background-color: $input-border-color;
    }

    &.-current {
      border: 1px $brand-primary solid;
      background-color: transparent;
      .step-title {
        color: $brand-primary;
      }
    }
    &.-complete {
      border: 1px $input-border-color solid;
      background-color: transparent;
      .step-title {
        color: $gray;
      }
    }
    &:first-child {

    }
    .step-title {
      padding: 25px 15px 20px 30px;
      text-transform: uppercase;
      cursor: pointer;
      margin-bottom: 0;
      font-weight: 500;
    }
    .content {
      padding: 25px 15px 20px 30px;
    }
    .step-edit {
      color: $brand-primary !important;
      text-transform: capitalize;
      text-decoration: underline;
      font-weight: normal;
      .edit {
        font-size: $base-font-size;
      }
    }
    .not-allowed {
      cursor: not-allowed;
      opacity: 0.5;
    }
    .content,
    .done,
    .step-edit {
      display: none;
    }
    &.-current {
      .content {
        display: block;
      }
    }
    &.-current.-reachable.-complete {
      border: 1px $brand-primary solid;

      .done,
      .step-edit {
        display: none;
      }
      .step-number {
        display: inline-block;
      }
      .content {
        display: block;
      }
    }
    &.-reachable.-complete {
      h1 {
        .done {
          display: inline-block;
        }
        .step-number {
          display: none;
        }
        .step-edit {
          cursor: pointer;
          display: block;
          float: right;
          margin-right: 0.125rem;
          color: $gray;
        }
      }
      .content {
        display: none;
        padding: 18px 15px 13px 30px;
      }
    }
    small {
      color: $gray;
    }
    .default-input {
      min-width: 40%;
      &[name=address1],
      &[name=address2] {
        min-width: 60%;
      }
    }

    .form-optin {
      display: none !important;
    }

    .input-group .form-control {
      width: auto; 
    }

    .input-form.input-newsletter {
      max-width: none;
    } 
    .radio-field {
      margin-top: 1.875rem;
      label {
        display: inline;
      }
    }
    .checkbox-field div {
      margin-top: 3.75rem;
    }
    .checkbox-field + .checkbox-field div {
      margin-top: 0;
    }
    .select-field div {
      background: $gray-lighter;
      padding: 0.625rem 3.125rem;
    }
    #conditions-to-approve {
      padding-top: 1rem;
    }
    .payment-options {
      label {
        display: table-cell;
      }
      .custom-radio {
        margin-right: $medium-space;
      }
      .payment-option {
        margin-bottom: 0.5rem;
      }
    }
    .step-number {
      display: inline-block;
      padding: 0.625rem;
    }
    .address-selector {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-wrap: wrap;
    }
    .address-item {
      background: $gray-lighter;
      flex: 0 0 49%;
      margin-bottom: $small-space;
      border: 3px solid transparent;
      &.selected {
        background: white;
        border: $brand-primary 3px solid;
      }
    }
    .address-alias {
      display: inline-block;
      font-weight: 600;
      margin-bottom: 0.625rem;
    }
    .address {
      margin-left: 1.563rem;
      font-weight: normal;
    }
    .radio-block {
      padding: 0.9375rem;
      text-align: left;
      cursor: pointer;
    }
    .custom-radio {
      margin-right: 0;
      input[type="radio"] {
        height: 1.25rem;
        width: 1.25rem;
      }
    }
    .delete-address,
    .edit-address {
      color: $gray;
      display: inline-block;
      margin: 0 0.3125rem;
      .delete,
      .edit {
        font-size: $base-font-size;
      }
    }
    hr {
      margin: 0;
    }
    .address-footer {
      text-align: center;
      padding: 0.625rem;
    }
    #delivery-addresses,
    #invoice-addresses {
      margin-top: 1.25rem;
    }
    .add-address {
      margin-top: 1.25rem;
      a {
        color: $gray-darker;
        i {
          font-size: $font-size-lg;
        }
      }
    }
    .delivery-option {
      background: transparent;
      padding: 0.9375rem 0;
      margin-bottom: 0.9375rem;
      label {
        text-align: inherit;
      }
    }
    #delivery_option_label_1:before{ @include picto('livaison', false);
                                      font-size: 3.5em;
                                      margin: 0.1em 0.15em; }
    #delivery_option_label_6:before{ @include picto('velo02', false); 
                                      font-size: 3em;
                                      margin: 0.1em 0.3em; }
    #delivery_option_label_12:before{ @include picto('camion', false); 
                                      font-size: 3em;
                                      margin: 0.1em 0.3em; }
    #delivery_option_label_5:before{ @include picto('livraison', false); 
                                      font-size: 2.5em;
                                      margin: 0.1em 0.45em; }
    .carrier-delay,
    .carrier-name {
      display: inline-block;
      word-break: break-word;
      text-align: left;
    }
    #customer-form,
    #delivery-address,
    #invoice-address,
    #login-form {
      margin-left: 0.3125rem;
      margin-top: 1.563rem;
      .form-control-label {
        padding-left: 0;
        color: #000;
        font-size: 18px;
        font-weight: 500;
        text-align: left;
        text-transform: uppercase;
      }
      .radio-inline {
        padding: 0;
      }
    }
    .sign-in {
      font-size: $font-size-sm;
    }

    form {
      .input-form {
        max-width: 220px;
      }

      .continue {
        padding: 10px 53px 7px 53px;
        min-height: auto;
        width: 170px;
        border-radius: 0;
        text-transform: capitalize;
        background-color: transparent;
        border: 2px solid $brand-primary;
        color: #000;
        box-shadow: none;
      }
    }
  }
  .additional-information {
    font-size: $font-size-sm;
    margin-left: 2.875rem;
    margin-top: 1.25rem;
  }
  .condition-label {
    margin-left: 2.5rem;
    margin-top: 0.625rem;
    label {
      text-align: inherit;
    }
  }
  .cancel-address {
    margin: 0.625rem;
    display: block;
    color: $gray;
    text-decoration: underline;
  }
  .modal-content {
    padding: $medium-space;
    background-color: $gray-light;
  }

  .cart-summary-products {
    margin-bottom: 35px;
    #cart-summary-product-list {
      margin-bottom: 40px;
      font-size: $font-size-sm;
      img {
        width: 100%;
      }
      .media-body {
        margin: auto;
        display: flex;
        font-size: 16px;
        flex-direction: column;
        vertical-align: middle;

        .product-name {
          color: $gray-darker;
          font-weight: bold;
          text-transform: uppercase;
        }

        .product-name {
          color: $gray-darker;
          font-weight: bold;
          text-transform: uppercase;

          .attributes {
            color: $gray;            
            font-size: 12px;
            font-weight: 500;
            font-style: italic;
            margin-bottom: 10px;
          }
        }

        .product-quantity, .product-price {
          color: $gray;
          font-weight: 500;
        }
      }
    }
  }
  

  .modif-panier {
    text-decoration: underline;
  }

  .cart-summary-line {
    .label, .value {
      color: $gray;
      font-weight: 500;
    }
  }

  .cart-summary-line.cart-total {
    .label {
      color: #000;
      text-transform: uppercase;
      font-weight: bold;
    }
    .value {
      color: $brand-primary;
      font-weight: bold;
    }
  }

  .delivery-options-list {
    .form-fields {
      max-width: 675px;

      .delivery-option {
        display: flex;
        align-items: center;

        .custom-radio {
          margin-right: 20px;
        }
        .carrier-logo {
          min-width: 65px;

          img {
            margin-right: 25px;
          }
        }
        
        label {
          margin: 0;
          display: flex;
          flex-direction: row;
          width: 100%;
          &#delivery_option_label_12 {
            &:before {
              font-size: 2.3em !important;
              margin: 0.2em 0.55em !important;
            }
          }
        }

        .label-livraison {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          align-items: center;
          width: 100%;
          
          .mode-livraison {
            display: flex;
            flex-direction: column;
            text-transform: uppercase;
            color: #000;

            .carrier-name {
              margin: 0;
              font-weight: 500;
            }

            .carrier-delay {
              font-weight: bold;
            }
          }

          .carrier-price {
            font-size: 16px;
            color: $brand-primary;
            font-weight: bold;
          }
        }
      }

      .order-options {
        display: flex;
        flex-direction: column;

        .info-livraison{
          font-size: 16px;
          width:570px;
          margin-left: auto;

          .adresse-boulangerie {
            color: #000;
            span {
              color: $brand-primary;
              font-weight: bold;
            }
          }
          .choix-date-heure {
            color: #000;
          }
        }

        .datepicker-here {
          display: inline-block;
          margin-bottom: 35px;
        }

        .timepicker {
          margin-left: 35px;
          padding: 12px 15px;
          vertical-align: top;
          height: 41px;
          width: 100px;
          border-color: $input-border-color;
          border-radius: 5px;
        }

        #delivery {
          margin-left: auto;
          max-width: 570px;

          label {
            color: #000;
          }
        }
      }
    } 
  }

  #order-summary-content {
    padding-top: 0.9375rem;
    h4.h4 {
      margin-top: 0.625rem;
      margin-bottom: 1.25rem;
      color: $gray-darker;
    }
    h4.black {
      color: #000000;
    }
    h4.addresshead {
      margin-top: 0.1875rem;
    }
    .noshadow {
      box-shadow: none;
    }
    #order-items {
      border-right: 0;
      h3.h3 {
        color: $gray-darker;
        margin-top: 1.25rem;
      }
      table {
        tr {
          &:first-child {
            td {
              border-top: 0;
            }
          }
        }
      }
    }


    .order-confirmation-table {
      padding: 1rem;
      margin-bottom: 2rem;
      background-color: #fff;
      border: 3px solid #e5e5e5;
      border-radius: 0;
    }
    .summary-selected-carrier {
      margin-bottom: 0.75rem;
      background-color: #fff;
      border: 1px solid #e5e5e5;
      border-radius: 0;
      padding: 1rem;
    }
    .step-edit {
      display: inline;
      color: $gray;
    }
    .step-edit:hover {
      cursor: pointer;
    }
    a {
      .step-edit {
        color: $gray;
      }
    }
  }
  #gift_message, #delivery{
    max-width: 100%;
    border-color: $gray-darker;
    textarea {
      resize: none;
      border-radius: 5px;
      border-color: $input-border-color;
      max-width: 100%;
      margin-bottom: 10px;
    }
  }
  #footer {
    padding: 0.9375rem;
    background: white;
    color: $gray;
  }
}
/**** ORDER CONFIRMATION *****/
body#order-confirmation {
  #content-hook_order_confirmation {
    p {
      margin-bottom: 0;
    }
  }
  #order-details {
    color: $gray;
    > .card-title {
      margin-bottom: 0.5rem;
      margin-top: 1rem;
    }
    ul {
      margin-bottom: $medium-space;
      li {
        margin-bottom: $small-space;
      }
    }
  }
  #order-items {
    hr {
      border-top-color: $input-border-color;
    }
    table {
      width: 100%;

      .subtotal {
        font-size: 16px;
        color: $gray;
        font-weight: 500;
      }

      .total {
        color: $brand-primary;
      }
      tr {
        height: $large-space;
        td {
          &:last-child {
            text-align: right;
          }
        }
      }
    }
    .order-line {
      margin-top: 1rem;
      display: flex;
      flex-direction: row;
      align-items: center;

      .product-name {
        padding: 0;
        font-weight: bold;
        text-transform: uppercase;
        font-size: 16px;
        line-height: inherit;
        text-align: left;
        white-space: inherit;
      }

      .product-price {
        padding-left: 0;
      }
    }
    .image {
      img {
          width: 100%;
          border: 1px solid gray-lighter;
          margin-bottom: 1rem;
      }
    }
    .details {
      margin-bottom: 1rem;
      .customizations {
        margin-top: 0.625rem;
      }
    }
    .qty {
      margin-bottom: 1rem;
    }
  }
  #order-confirmation {
    #registration-form {
      width: 50%;
      margin: 0 auto 1rem;
    }
  }
}


@include media-breakpoint-down(md) {
  body#checkout .checkout-step {
    #conditions-to-approve {

      .checkbox label::after {
        left: 20px;
      }
    }
  }
  .done {
    margin: 0;
    padding: 0;
  }
  body#checkout section.checkout-step .address-item {
    flex-grow: 1;
  }
  body#checkout section.checkout-step .delivery-option-2 {
    flex-direction: column;
  }
  body#checkout  {
    .delivery-options-list .form-fields {
      .order-options{ 
        #delivery, .info-livraison {
          max-width: 100%;
        } 
      }
    }
  }
  .delivery-option {
    display: flex;
    margin: auto;
    .custom-radio {
      flex: 0 0 auto;
    }
  }
  .condition-label {
    label[for="conditions_to_approve[terms-and-conditions]"] {
      text-align: left;
    }
  }
  #order-confirmation {
    #registration-form {
      width: 100%;
    }
  }
}

@include media-breakpoint-down(sm) {
  body#checkout section.checkout-step.-reachable.-complete h1 .step-edit {
    float: right;
    margin-top: 0.25rem;
    margin-left: 0;
  }
  body#checkout {
    #header .header-nav {
      max-height: none;
      padding: 0;
    }
    section.checkout-step {
      .content {
        padding: 0.9375rem;
      }
    }
    .form-group {
      margin-bottom: 0.5rem;
    }

    .address-selector {
      flex-direction: column;

      .address-item {
        width: 100%;
        flex: 0 0 100%;
      }
    }

    .delivery-options-list {
      .form-fields .order-options {
        .info-livraison {
          max-width: 100%;

          .datepicker-here {
            margin-bottom: 20px;
          }

          .timepicker {
            margin-left: 0;
            margin-bottom: 20px;
          }
        }

        #delivery {
          max-width: 100%;
        }
      }
    }

  }
  #order-items {
    border-right: 0;
    margin-bottom: 2.5rem;
    .card-title {
      border-bottom: 1px solid $gray-light;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }
    hr {
      border-top-color: $input-border-color;
    }
  }
  .bold {
    font-weight: bold;
  }
  #order-details {
    padding-left: 0.9375rem;
    .card-title {
      border-bottom: 1px solid $gray-light;
      margin-bottom: 1rem;
      padding-bottom: 1rem;
    }
  }

}

@include media-breakpoint-down(xs) {
  body#checkout {
    section.checkout-step {
      .content {
        padding: 18px 15px 13px 30px;
      }


    }

    #checkout-personal-information-step .form-group{
      flex-wrap: wrap;  
    }

    .checkbox label {
      padding-left: 30px;
  
      &:before  {
        margin-left: 0;
      }
    }
  }

  #payment-confirmation {
    button {
      font-size: 0.875rem;
      &.btn {
        white-space: normal;
      }
    }
  }
}


.cart-empty {
  .cart-summary {
  }
}
.js-payment-binary {
  display: none;
  .accept-cgv {
    display: none;
  }
  &.disabled {
    opacity: 0.6;
    cursor: not-allowed;
    &::before {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      pointer-events: none;
    }
    .accept-cgv {
      display: block;
    }
  }
}

#widget-colissimo-choix-relais {
  border: 1px solid $input-border-color;  
}

#widget-colissimo-msg {
  padding: 10px;
}

#ColissimoRelais {
  border-bottom: 1px solid $input-border-color;
  padding: 10px;
}

#removeColissimoRelais {
  &::before{    
    @include picto('trash');
  }
}

.point-relais{
  display:block;  
  .ligne {
    display:block;
  }
}