.contact-rich {
  color: $gray;
  // margin-bottom: 2rem;
  word-wrap: break-word;
  h4 {
    text-transform: uppercase;
    color: $gray-darker;
    margin-bottom: 2rem;
  }
  .block {
    height: auto;
    overflow: hidden;
    .icon {
      float: left;
      width: 3.5rem;
      i {
        font-size: 2rem;
      }
    }
    .data {
      color: $gray-darker;
      font-size: $font-size-sm;
      width: auto;
      overflow: hidden;
      &.email{
        padding-top: 0.375rem;
      }
    }
  }
}
.contact-form {
  background: white;
  padding: 1rem;
  color: $gray;
  width: 100%;
  h3 {
    text-transform: uppercase;
    color: $gray-darker;
  }
}


.section-contact {
  padding: 20px 30px 17px 30px;

  .block {
    position: relative;

    &.block-location,
    &.block-phone,
    &.block-mail {
      padding-left: 50px; 
      &:before {
        color: black;
        font-size: 30px;
        position: absolute;
        left: 15px;
        top: 8px;
      } 
    }
    &.block-location:before {
      @include picto('storeloc02');
    }
    &.block-phone:before {
      @include picto('mobile');
      left: 18px;
    }
    &.block-mail:before {
      @include picto('contact');
    }
  }
}

.contact-rich {
  .section-contact {
    padding-left: 0;
    padding-right: 0;

    .block {
      padding-left: 60px;
      padding-right: 60px;
    }
  }
}

@include media-breakpoint-down(xs) {
  .section-contact {
    padding: 5px;
    .form-fields {
      padding: 0;  
    }
  }
  .formulaires.container {
    max-width: 90% !important;
  }
  .form-footer {
    display: flex;
    justify-content: center;
  }
  .form-rgpd {
    label {
      font-size: 14px !important;
      line-height: 18px;
      &:before {
        margin-left: 0 !important;
      }
      &:after {
        margin-left: 0 !important;
      }
    }
  }
}