/*** SOME GENERIC STYLES ***/
@mixin customer-area-base-box {
  @include box-shadow;
  background: white;
  padding: 1rem;
}
@mixin customer-area-box {
  @include customer-area-base-box;
  font-size: $font-size-sm;
  color: $gray;
}
.table-labeled {
  th {
    vertical-align: middle;
  }
  td {
    vertical-align: middle;
  }
  .label {
    font-weight: 400;
    border-radius: 3px;
    font-size: inherit;
    padding: 0.25rem 0.375rem;
    margin: 0.125rem;
    color: white;
    background-color: $brand-primary !important;
    white-space: nowrap;
  }
}
.page-order {
  .table {
    margin-bottom: 0;
  }
  table {
    th {
      padding: 0.5rem;
    }
    td {
      padding: 0.5rem;
    }
    thead {
      th {
        text-align: center;
      }
    }
  }
}
#authentication {
  .tooltip.tooltip-bottom {
    padding: 0;
    margin: 0;
  }
  .custom-checkbox {
    display: flex;
    span {
      flex: 0 0 0.9375rem;
    }
    label {
      padding-left: 0.625rem;
    }
  }
}
#identity,
#authentication {
  .page-header {
    text-transform: uppercase;
  }

  .radio-inline {
    padding: 0;
    .custom-radio {
      margin-right: 0;
    }
  }
}

/* Page Mes adresses */
#addresses {
  .page-header {
    margin-top: 50px;
    text-transform: uppercase;
    color: #000;
  }

  .address {
    box-shadow: 10px 10px 50px -26px rgba(0, 0, 0, 0.75);
    padding: 12px;

    .address-body {
      padding: 0;
      border: 1px solid $input-border-color;

      h4 {
        padding: 12px;
        color: #ff6955;
      }

      address {
        padding: 12px
      }

      .address-footer {
        text-align: center;
        border-top: 1px solid $input-border-color;
      }
    }
  }
}

#address {
  form {
    .form-fields {
      margin-top: 15px;
    }
  }
}
/*** Most of the customer accpunt pages ***/
.page-customer-account {
  #content {
    padding: 12px;
    background-color: white;

    &.my-info:before {
      display: block;
      content: "";
      position: absolute;
      width: 20px;
      height: 425px;
      box-shadow: -10px 0px 30px 5px rgba(0, 0, 0, 0.2);
      right: 20px;
      top: 30px;
      z-index: -1;
    }

    .bloc-info {
      border: 1px solid $input-border-color;
    }

    .page-header {
      margin-bottom: 0;
      padding: 20px 100px 17px 100px;
      width: 100%;
      border-bottom: 1px solid $input-border-color;
      text-transform: uppercase;
      color: #000;

      h1 {
        margin-bottom: 0;
      }
    }

    .formulaire-inscription {
      padding: 20px 100px 17px 100px;

      .form-group {
        margin-bottom: 25px;
        display: flex;
        flex-direction: row;

        label {
          padding-left: 0;
          color: #000;
          font-size: 18px;
          font-weight: 500;
          text-align: left;
          text-transform: uppercase;

          &.radio-inline {
            color: $gray;
            text-transform: capitalize;
            margin-right: 5px !important;
          }
        }

        .input-form {
          margin-right: 10px;
        }
      }

      .form-control-comment {
        font-style: italic;
      }

      .form-optin {
        display: none;
      }

      .form-newsletter { 
        label {
          max-width: 100%;
          padding-left: 10px;
          text-transform: inherit;
          font-size: 16px;
          font-weight: 500;
          color: #696969;
        } 
      }

      .form-rgpd {

        .input-rgpd {
          max-width: none;
        }

        label {
          padding-left: 40px;
          text-transform: inherit;
          font-size: 16px;
          font-weight: 500;
          text-align: justify;
          color: #696969;

          &.box-rgpd::before {
            margin-left: 0px;
            margin-top: 0px;
          }
    
          &.box-rgpd::after {
            margin-left: 2px;
            margin-top: 1px;
          }
        }
      }
      
      button {
        margin: 35px auto 100px;
        max-width: 240px;
      }

      .form-control {
        max-width: 220px;
        height: 32px;
        &.js-visible-password {
          padding-right: 3rem;
        }
      }

      button.btn-show-pwd {
        position: relative;
        z-index:3;
        margin: 0 0 0 -31px;
        padding: 0.2rem 0.4rem;
      }

      .account-link {
        margin-right: 1rem;

        i {
          font-size: 1rem;
        }

        span {
          font-size: 0.875rem;
          vertical-align: middle;
        }
      }
    }
    .order-actions {
      a {
        padding: 0 0.125rem;
      }
    }
    .forgot-password {
      text-align: center;
      font-size: $font-size-sm;
      margin-top: 1rem;
      padding-bottom: 0.9375rem;
    }
    .no-account {
      text-align: center;
      font-size: $base-font-size;
    }
  }
}
/*** Login page ***/
.page-authentication {
  #content {
    @include customer-area-base-box;
    max-width: 640px;
    margin: 0 auto;
  }
}
/*** Addresses page ***/
.page-addresses {
  .address {
    @include box-shadow;
    background: white;
    margin-bottom: 1.875rem;
    font-size: $font-size-sm;
    color: $gray-darker;
    .address-body {
      padding: 1rem;
      h4 {
        font-size: $base-font-size;
        font-weight: 700;
      }
      address {
        min-height: 9rem;
      }
    }
    .address-footer {
      padding: 0.5rem 1rem;
      a {
        color: $gray;
        margin-right: 0.5rem;
        &:hover {
          color: $gray-darker;
        }
        i {
          font-size: $base-font-size;
        }
        span {
          font-size: $font-size-lg;
          vertical-align: middle;
        }
      }
    }
  }
  .addresses-footer {
    margin: 0 0.9375rem;
    a {
      color: $gray-darker;
      &:hover {
        color: $gray-darker;
      }
      i {
        font-size: $base-font-size;
      }
      span {
        font-size: $base-font-size;
        vertical-align: middle;
        margin-top: $small-space;
      }
    }
  }
}
/*** Order details page ***/
.page-order-detail {
  font-size: 0.875rem;
  color: $gray;

  .page-header {
    margin-top: 50px;
    text-transform: uppercase;
    color: #000;
  }
  .box {
    margin-bottom: 1rem;
    padding: 1rem;
    border: 1px solid $input-border-color;
  }
  h3 {
    font-size: $base-font-size;
    font-weight: 700;
    text-transform: uppercase;
    color: $gray-darker;
    margin-bottom: 1rem;
  }
  #order-infos {
    ul {
      margin: 0;
    }
  }
  #order-history {
    .history-lines {
      .history-line {
        padding: 0.5rem 0;
        border-bottom: 1px solid $gray-lighter;
        &:last-child {
          border-bottom: 0;
        }
        .label {
          display: inline-block;
          margin: 0.25rem 0;
          padding: 0.25rem 0.375rem;
          color: white;
          border-radius: 3px;
        }
      }
    }
  }
  .addresses {
    margin: 0 -0.9375rem;
    h4 {
      font-size: $base-font-size;
      font-weight: 700;
    }
  }
  #order-products {
    &.return {
      margin-bottom: 1rem;
      th {
        &.head-checkbox {
          width: 30px;
        }
      }
      td {
        padding: 1.375rem 0.75rem;
        &.qty {
          min-width: 125px;
          .current {
            width: 30%;
            float: left;
            text-align: right;
            padding-right: 0.5rem;
          }
          .select {
            width: 70%;
            float: left;
            margin: -0.625rem 0;
            padding-left: 0.25rem;
            select {
              text-align: center;
            }
          }
        }
      }
    }
  }
  .order-items {
    padding: 0 !important;
    .order-item {
      padding: 1rem 1rem 0;
      border-bottom: 1px solid $gray-lighter;
      .checkbox {
        width: 30px;
        float: left;
        padding: 0 0.9375rem;
      }
      .content {
        width: calc(100% - 30px);
        float: left;
        padding: 0 0.9375rem;
      }
      .desc {
        .name {
          font-weight: bold;
        }
        margin-bottom: 1rem;
      }
      .qty {
        margin-bottom: 1rem;
        .q {
          margin-bottom: 0.25rem;
        }
        .s {
          margin-bottom: 0.25rem;
        }
      }
    }
  }
  .messages {
    .message {
      margin-top: 0.5rem;
      border-bottom: 1px solid $gray-lighter;
      &:last-child {
        border-bottom: 0;
      }
      > div {
        margin-bottom: 0.5rem;
      }
    }
  }
  .customization {
    margin-top: 0.75rem;
  }

  button {
    margin: 0 auto;
    max-width: 240px;
  }
}
/*** Order return page ***/
#order-return-infos {
  .thead-default th {
    color: $gray-darker;
  }
  .customization {
    margin-top: 0.75rem;
  }
}
/*** My account landing page ***/
.page-my-account {
  .title-header {
    margin-bottom: 0;
    margin-top: 60px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 28px;
    color: #000;

    h1{
      font-size: 44px;
    }
  }

  #content {
    .links {
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-start;
      width: 100%;

      .content-bloc {
        height: 100%;
        padding: 0.5rem;
        box-shadow: 10px 10px 50px -26px rgba(0,0,0,0.35);
      }
      a {
        text-align: center;
        display: inline-block;
        font-size: $base-font-size;
        font-weight: 700;
        text-transform: uppercase;
        color: $gray;
        padding: 0 0.9375rem;
        margin-bottom: 1.875rem;
        height: 200px;

        .identity-link {
          &:before {
            @include picto('compte');
            font-size: 2.6rem;
            width: 100%;
            color: #3d3d3d;
            padding-bottom: 2.4rem;
          }
        }

        .address-link, .addresses-link {
          &:before {
            @include picto('storeloc');
            font-size: 2.6rem;
            font-weight: 600;
            width: 100%;
            color: #3d3d3d;
            padding-bottom: 2.2rem;
          }
        }

        .history-link {
          &:before {
            @include picto('calendar');
            font-size: 3rem;
            font-weight: 600;
            width: 100%;
            color: #3d3d3d;
            padding-top: 1.3rem;
            padding-bottom: 2rem;
          }
        }

        .order-slips-link {
          &:before {
            @include picto('avoirs');
            font-size: 2.6rem;
            font-weight: 600;
            width: 100%;
            color: #3d3d3d;
            padding-bottom: 2.1rem;
          }
        }
        span.link-item {
          display: flex;
          flex-direction: column;
          height: 100%;
          border: 1px solid $input-border-color;
          padding: 0.5rem;
          vertical-align: middle;
          justify-content: center;
        }
        i {
          display: block;
          font-size: 2.6rem;
          width: 100%;
          color: $gray-darker;
          padding-bottom: 3.4rem;
        }
        &:hover {
          color: $gray-darker;
          .link-item:before {
            color: $brand-primary;
          }
        }
      }
    }
  }
}
/*** History page ***/
#history {
  &.page-customer-account #content {
    .page-header {
      padding-left: 0;
      border: none;
    }

    table {
      .thead-default {
        th, td {
          background-color: #fff;
        }
      }

      tbody tr:nth-of-type(odd) {
        background-color: #fff;
      }

      tbody tr th {
        color: $brand-primary;
      }
    }
    .orders {
      margin: 0 -1rem;
      .order {
        a {
          h3 {
            color: $gray;
          }
        }
        padding: 0.75rem 1rem;
        border-bottom: 1px solid $gray-lighter;
        .label {
          display: inline-block;
          margin: 0.25rem 0;
          padding: 0.25rem 0.375rem;
          color: white;
          border-radius: 3px;
        }
        &:last-child {
          border-bottom: 0;
        }
      }
    }
  }
}

/*** FOOTER ***/
.page-footer {
  .account-link {
    margin-right: 1rem;
    i {
      font-size: $base-font-size;
    }
    span {
      font-size: $font-size-sm;
      vertical-align: middle;
    }
  }
}

.login-form {
  margin-top: 15px;
}

@include media-breakpoint-down(xs) {

  .page-customer-account #content {
    .page-header {
      padding: 20px 12px 17px 12px;
    }

    .formulaire-inscription {
      padding: 20px 12px 17px 12px;

      .form-group {
        flex-wrap: wrap;
        
      }

      .form-newsletter label {
        padding-left: 30px;

        &:before {
          margin-left: 0;
        }
      }
    }
  }

  .page-my-account {
    .title-header {
      h1{
        font-size: 40px;
        text-align: center;
      }
    }
  }

  .text-sm-center {
    display: flex;
    justify-content: center;
  }
}