
.block-contact {
  border-left: $gray-light 2px solid;
  padding-left: 3rem;
  color: $gray;
  .block-contact-title{
    color:$gray-darker;
  }
}
.linklist {
  .blockcms-title a {
    color:$gray-darker;
  }
}
.account-list a {
  color: $gray;
  &:hover {
    color: $brand-primary;
  }
}
.blockcms-title,
.myaccount-title,
.myaccount-title a,
.block-contact-title {
  font-weight: 700;
  font-size: $base-font-size;
}

#block_myaccount_infos{
  .myaccount-title a{
    color:$gray-darker;
  }
}


@include media-breakpoint-down(sm) {

}
@include media-breakpoint-down(md) {
  .block-contact {
    padding-left: 1.5rem;
  }
}
