.page-id-190 {

	.entry-header { // Header spécifique à la page liste offres d'emploi
		background: url('../img/header-careers.png') no-repeat;
		background-size: cover;
		padding-top: 100px !important;
		padding-bottom: 60px !important;

		h1.entry-title {
			text-align: center !important;
			font-size: 60px !important;
			font-family: "Calibre", "Arial", "sans-serif" !important;
			color: #fff !important;
			font-weight: 700 !important;
			letter-spacing: 0 !important;
			span {
				color: #ff6955 !important;
			}
		}
	}

	.container { // Suite du Header (rectangle blanc avec extrait)
		width: 100%;
		.entry-header-content {
			background-color: white;
			margin-top: 75px;
			margin-bottom: 50px;
			.bg-familySpirit { // L'esprit de famille
				margin: -100px auto;
				padding: 5px;
				font-size: 13px;
				background-color: #fff;
				div {
					padding: 20px 40px;
					border: 1px solid  $input-border-color;
					p {
						font-size: 18px; 
						line-height: 1;
						margin-bottom: 0; 
					}
				}
			}
		}
		.entry-content {
			background-color: white;
			margin-top: 75px;
			margin-bottom: 50px;
		}
	}

	.job_filters {
		.search_jobs {
			padding: 0 !important;
		}
	}

	ul.job_listings {
		li.job_listing {
			display: flex;
			flex-basis: 100%;
			padding: 0 !important;
			border: none;
			display: inline-block;
			
			.bloc-job {		
				border: 1px solid #eee;
				margin: 10px;
				padding: 25px;	
				color: #696969;
				font-weight: 500;
				img, .company { display: none; }
				.position {
					width: 100%;
					padding: 0;
					.date {
						line-height: 1;
						font-weight: 700;
						font-size: 14px;
					}
					h3 {
						margin: 0;
						padding: 0px !important;
						font-size: 24px !important;
						text-transform: uppercase;
						font-weight: 700;
						color: #333;
					}
				}
				.meta {
					width: 100% !important;
					text-align: left;
					padding: 0;
					li {
						list-style-type: none;
						&.job-type {
							color: #333;
						}
					}				
				}
				.location {
					margin-top: 15px;
					padding: 15px 0 0 0;
					border-top: 1px solid #eee;
				}
				.job-extract {
					padding-top: 40px;
					padding-bottom: 50px;
					line-height: 1.1rem;
				}
				a {
					padding: 3px 20px;
    				height: 29px;
					border: 2px solid #ff6955;
					text-align: center;
					font-weight: 500;
					width: 140px;				
				}
			}
		}
	}
}
.pgeListeAnnonce-menu {
	background-color: $brand-primary;

	ul {
	    display: flex;
	    flex-direction: column;
	    justify-content: space-around;
	    margin: 0 auto;
	    width: auto;
	    list-style: none;

		li {
			display: flex;
			align-items: center;
		    padding: 12px;
			font-weight: 600;
			text-transform: uppercase;
			cursor: pointer;
			line-height: 1em;
			a {
				color: #fff !important;
				&:hover {
					color: #fff !important;
				}
			}
			i {
				margin-left: 10px;
			}
		} 
	}
}
.pgeListeAnnonce-btn_candidature { // Section Je postule page liste emploi
	display: flex;
    flex-direction: column;
    align-items: center;
    background: $brand-primary;
    p {
    	margin-top: 100px;
		color: #000;
		font-size: 26px;
		font-weight: 700;
		line-height: 1.2em;
		text-align: center;
		text-transform: uppercase;
    	span{
    		display: block;
    		font-size: 36px;
    	}
    }

    a {
    	margin-bottom: 100px;
    	padding: 3px 45px 5px 45px;
    	height: 32px;
    	color: #fff;
		border: 2px solid white;
		font-weight: 500;
		transition: all 0.2s ease-in-out !important;
		text-decoration: none !important;
		&:hover {
			color: #ff6955 !important;
			background: white !important;
		}	
    }
}

@media screen and (max-width: 767px) {
	.page-id-190 {	
		.entry-header {
			.entry-title {
				line-height: 3.5rem;
				span {
					display: block;
				}
			}
		}
		ul.job_listings {
			li.job_listing {
				width: 100%;								
			}
		}
	}
}

@media screen and (min-width: 768px){
	.page-id-190 {	
		ul.job_listings {
			li.job_listing {
				flex-basis: 25%;							
			}
		}
	}
}


@media screen and (min-width: 900px) {
	.pgeListeAnnonce-menu {
		ul {
			flex-direction: row;
			width: 900px;
		}
	}
}