#sitemap {
  header {
    h1 {
      margin-top: 34px;
      margin-bottom: 10px;
      padding: 1rem 0;
      text-transform: uppercase;
    }
  }
}

.sitemap-title {
  font-weight: bold;
  font-size: 28px;
  color: #000;
  margin-bottom: 0;
}

.sitemap {
  margin-top: 0.9375rem;

  h2 {
    color: $gray-darker;
    text-transform: uppercase;
    font-size: 1.1rem;
    font-weight: 600;
    border-bottom: 1px solid $gray;
    margin-left: -15px;
    width: 100%;
    height: 35px;
  }

  ul {
    margin-left: -15px;
    margin-top: 20px;

    &.nested {
      margin-left: 20px;
    }

    li {
      font-size: 0.9rem;
      margin-bottom: 1rem;
    }
  }
}

@include media-breakpoint-down(xs) {
  .sitemap {
    margin-top: 0;
  }
}
