.page-authentication {

    #content.inscription {
        max-width: none;
        box-shadow: none;
        border: none;
        padding: 12px;

        &:after {
            display: block;
            content: "";
            position: absolute;
            width: 20px;
            height: 400px;
            box-shadow: -10px 0px 30px 5px rgba(0, 0, 0, 0.2);
            right: 0;
            top: 30px;
            z-index: -1;
        }
    }
    .inscription-form {
        padding-top: 70px;

        .inscription {
            .already-account {
                a {
                    text-decoration: underline;   
                }                
            }

            .register-form {
                margin-top: 0;
                border: 1px solid $input-border-color;
            }

            .title-form {
                padding: 20px 100px 17px 100px;
                width: 100%;
                border-bottom: 1px solid $input-border-color;
                text-transform: uppercase;
                color: #000;
            }
            
            .formulaire-inscription {
                padding: 20px 100px 17px 100px;
                
                .radio-inline {
                    margin-right: 30px !important;
                    
                    .custom-radio {
                        color: $gray;
                        text-transform: capitalize;
                        margin-right: 5px !important;
                    }
                }

                button {
                    margin: 35px auto 100px;
                    max-width: 240px;
                }

                .form-birthday {

                    .input-birthday {
                        margin-right: 10px;
                    }

                    .form-control-comment {
                        font-style: italic;
                    }

                } 

                .form-optin {
                    display: none;
                }

                .form-newsletter {
                    label {
                        max-width: 275px;
                        padding-left: 10px;
                        text-transform: inherit;
                        font-size: 16px;
                        font-weight: 500;
                        color: $gray;
                    }

                }
            }

            .form-group  {
                margin-bottom: 25px;
                display: flex;
                flex-direction: row;

                .radio-inline, label {
                    color: $gray;
                    text-transform: capitalize;
                    font-weight: normal;
                    margin: 0;
                }

                label {
                    padding-left: 0;
                    color: #000;
                    font-size: 18px;
                    font-weight: 500;
                    text-align: left;
                    text-transform: uppercase;
                }

                .form-control {
                    max-width: 220px;
                    height: 32px;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .page-authentication .inscription-form {

        .inscription {
            .title-form {
                padding: 20px 30px 17px 30px;
            }
            
            .formulaire-inscription {
                padding: 20px 30px 17px 30px;
            }
        }
    }
}

@include media-breakpoint-down(sm) {
    .page-authentication .inscription-form {        
        .inscription {
            .title-form {
                padding: 20px 12px 17px 12px;
            }
            
            .formulaire-inscription {
                padding: 20px 12px 17px 12px;
            }
            .label-newsletter {
                display: none;
            }
        }
    }
}