.iqitmegamenu-wrapper {
    z-index: 97;
    clear: both; }
    .iqitmegamenu-wrapper.cbp-hor-width-0 {
      padding-left: 0px;
      padding-right: 0px; }
    .container-iqit-menu{
      z-index: 10;
      /* position: relative; */
    }

  .cbp-hor-width-1 .container {
    padding-left: 0px;
    padding-right: 0px; }

  .iqitmegamenu {
    background: #cecece; }
    .iqitmegamenu .container .row {
      margin-left: 0px;
      margin-right: 0px; }

  .cbp-sticky.cbp-sticky-transparent {
    opacity: 0.85;
    transition: opacity 300ms ease-in-out; }
    .cbp-sticky.cbp-sticky-transparent:hover {
      opacity: 1; }

  #iqitmegamenu-horizontal.cbp-sticky {
    position: fixed !important;
    top: 0 !important;
    width: 100% !important;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
    z-index: 90;
    left: 0;
    -webkit-backface-visibility: hidden; }
    @media (max-width: 768px) {
      #iqitmegamenu-horizontal.cbp-sticky {
        position: static !important; } }
    #iqitmegamenu-horizontal.cbp-sticky .cbp-hrmenu-tab > a > .cbp-legend {
      display: none; }

  .cbp-hrmenu {
    width: 100%; }
    @media (max-width: 768px) {
      .cbp-hrmenu {
        display: none; } }
    .cbp-hrmenu ul {
      margin: 0;
      padding: 0;
      list-style-type: none; }
    .cbp-hrmenu .col-xs-12 {
      float: left; }
    .cbp-hrmenu .cbp-tab-title {
      display: inline-block;
      vertical-align: middle;
      position: relative;
      top: -1px; }
    .cbp-hrmenu .cbp-manufacturers {
      margin-top: -10px; }
      .cbp-hrmenu .cbp-manufacturers li {
        margin-top: 10px; }
        .cbp-hrmenu .cbp-manufacturers li:hover {
          opacity: 0.85; }
    .cbp-hrmenu .cbp-vertical-title {
      transition: all 300ms ease-in-out;
      padding: 0px 15px; }
      .cbp-hrmenu .cbp-vertical-title .icon {
        margin-right: 10px; }
    .cbp-hrmenu .cbp-categories-row {
      padding: 10px 10px 20px;
      /* margin-top: -10px;  */
    }
      .cbp-hrmenu .cbp-categories-row > div {
        margin-top: 10px; }
        .cbp-hrmenu .menu_row {
          position: static;
        }
    .cbp-hrmenu .cbp-empty-column .cbp-menu-column-inner > .menu_row:first-child {
      margin-top: -20px; }
    .cbp-hrmenu .cbp-tabs-container {
      width: 100%; }
    .cbp-hrmenu .cbp-absolute-column {
      margin: 0px;
      padding: 0px;
      position: absolute;
      width: auto !important;
      z-index: 2; }
    .cbp-hrmenu .cbp-column-title {
      display: block;
      margin-bottom: 2px; }
      .cbp-hrmenu .cbp-column-title .cbp-legend.cbp-legend-inner {
        top: -2px; }
        .cbp-hrmenu .cbp-column-title .cbp-legend.cbp-legend-inner .cbp-legend-arrow:before {
          top: -1px; }
      .cbp-hrmenu .cbp-column-title.cbp-column-title-inline {
        padding: 0px !important;
        border: none  !important;
        margin: 0px  !important;
        margin-right: 10px  !important;
        display: inline-block;
        vertical-align: middle; }
    .cbp-hrmenu .cbp-menu-column {
      padding-left: 0;
      padding-right: 0;
      /* margin-top: 20px;  */
    }
      .cbp-hrmenu .cbp-menu-column .row {
        margin-left: -10px;
        margin-right: -10px; }
    .cbp-hrmenu .cbp-mainlink-iicon, .cbp-hrmenu .cbp-mainlink-icon {
      width: auto;
      display: inline;
      vertical-align: middle;
      margin-right: 4px; }
    .cbp-hrmenu .cbp-onlyicon .cbp-mainlink-iicon, .cbp-hrmenu .cbp-onlyicon .cbp-mainlink-icon {
      margin-right: 0px; }
    .cbp-hrmenu .cbp-legend {
      display: inline-block;
      top: -15px;
      right: 5px;
      background-color: #999999;
      color: #ffffff;
      position: absolute;
      font-weight: normal;
      font-size: 10px;
      padding: 4px 6px;
      text-transform: none;
      -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15);
      line-height: initial;
    }
      .cbp-hrmenu .cbp-legend .cbp-legend-arrow:before {
        font-family: "FontAwesome";
        content: "\F0D7";
        font-size: 15px;
        position: absolute;
        bottom: -10px;
        right: 5px; }
      .cbp-hrmenu .cbp-legend.cbp-legend-inner {
        position: relative;
        top: 0px;
        margin-left: 5px;
        right: 0px;
        padding: 2px 4px;
        vertical-align: middle; }
        .cbp-hrmenu .cbp-legend.cbp-legend-inner .cbp-legend-arrow:before {
          content: "\f0d9";
          bottom: 0px;
          top: 0px;
          margin-top: 1px;
          z-index: 2;
          right: auto;
          left: -4px; }
    .cbp-hrmenu .cbp-tab-content {
      border-left: 1px solid #cecece;
      margin-top: 0px !important;
      margin-bottom: 0px !important;
      padding: 0px;
      vertical-align: top; }
    .cbp-hrmenu .cbp-products-big * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box; }
    .cbp-hrmenu .cbp-products-big .quick-view {
      font-size: 0px; }
    .cbp-hrmenu .cbp-products-big .online-label, .cbp-hrmenu .cbp-products-big .new-label, .cbp-hrmenu .cbp-products-big .sale-label {
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box; }
    .cbp-hrmenu .cbp-products-big li.ajax_block_product {
      text-align: center;
      margin-bottom: 10px; }
      .cbp-hrmenu .cbp-products-big li.ajax_block_product:hover {
        padding-top: 0px;
        padding-bottom: 0px; }
        .cbp-hrmenu .cbp-products-big li.ajax_block_product:hover .functional-buttons-grid {
          visibility: visible;
          opacity: 0.9;
          margin-bottom: 0px; }
           .cbp-hrmenu .price.product-price{
            font-size: 14px;
            line-height: 14px;
           }
           .cbp-hrmenu .old-price.product-price{
            font-size: 13px;
           }
    .cbp-hrmenu .cbp-products-list .product-name, .cbp-hrmenu .cbp-products-list .product-name-container {
      height: auto;
      line-height: inherit; }
    .cbp-hrmenu .cbp-products-list > li {
      padding-top: 9px;
      padding-bottom: 9px; }
    .cbp-hrmenu .cbp-products-list .product-image-container {
      float: left;
      margin-right: 10px;
      max-width: 60px;
      min-width: 30px; }
    .cbp-hrmenu .cbp-hrsub-tabs-names {
      margin-right: -10px;
      margin-left: -10px; }
      .cbp-hrmenu .cbp-hrsub-tabs-names li {
        position: relative;
        border-bottom: 1px solid #cecece; }
        .cbp-hrmenu .cbp-hrsub-tabs-names li .cbp-inner-border-hider {
          position: absolute;
          top: 0px;
          background: white;
          display: block;
          height: 100%;
          z-index: 1;
          display: none; }
        .cbp-hrmenu .cbp-hrsub-tabs-names li.active .cbp-inner-border-hider {
          display: block; }
        .cbp-hrmenu .cbp-hrsub-tabs-names li a {
          position: relative;
          display: block;
          transition: none;
          padding: 14px 16px; }
    .cbp-hrmenu.cbp-submenu-notarrowed .cbp-submenu-aindicator {
      display: none; }
    .cbp-hrmenu .cbp-submenu-aindicator {
      margin-left: 3px; }
    .cbp-hrmenu .cbp-submenu-it-indicator {
      position: absolute;
      top: 0px;
      bottom: 0px;
      right: 10px;
      margin: auto;
      height: 15px; }
    .cbp-hrmenu.cbp-menu-centered > ul {
      text-align: center; }
      .cbp-hrmenu.cbp-menu-centered > ul > li {
        text-align: left;
        float: none; }
    .cbp-hrmenu .cbp-links li {
      margin: 0px 0;
      padding-left: 2px;
      position: relative; }
      .cbp-hrmenu .cbp-links li:last-child {
        margin-bottom: 0px; }
      .cbp-hrmenu .cbp-links li.cbp-hrsub-haslevel2 > div > a:after, .cbp-hrmenu .cbp-links li .cbp-hrsub-haslevel3 > div > a:after {
        content: "\f0da";
        display: inline;
        font-family: "FontAwesome";
        padding-left: 4px;
        opacity: 0.2;
        position: relative;
        -webkit-transition: opacity 0.3s ease;
        -moz-transition: opacity 0.3s ease;
        -o-transition: opacity 0.3s ease;
        transition: opacity 0.3s ease; }
      .cbp-hrmenu .cbp-links li a {
        padding-top: 10px;
        padding-bottom: 10px;
        text-transform: uppercase;
        font-weight: 500;
        /* padding-left: 10px; */
        display: inline-block; }
        .cbp-hrmenu .cbp-links li a:before {
          content: "\f105";
          display: inline;
          font-family: "FontAwesome";
          position: absolute;
          left: 0px;
          -webkit-transition: left 0.3s ease, right 0.3s ease;
          -moz-transition: left 0.3s ease, right 0.3s ease;
          -o-transition: left 0.3s ease, right 0.3s ease;
          transition: left 0.3s ease, right 0.3s ease; }
        .cbp-hrmenu .cbp-links li a:hover:before {
          left: 3px; }
    .cbp-hrmenu .cbp-links.cbp-valinks-vertical li {
      display: inline-block;
      margin: 0px;
      margin-right: 12px;
      padding: 0px; }
    .cbp-hrmenu .cbp-links.cbp-valinks-vertical.cbp-valinks-vertical2 {
      display: inline-block;
      vertical-align: middle; }

  .cbp-category-thumb{
      display: block;
      margin-bottom: 10px;
  }
  /* vertical style  */
  .cbp-hrmenu.cbp-vertical > ul > li {
    float: none;
    display: block; }

  .cbp-vertical-on-top {
    float: left;
    width: 250px;
    position: relative; }
    .cbp-vertical-on-top > .cbp-vertical > ul {
      position: absolute;
      visibility: hidden;
      opacity: 0; }
    .cbp-vertical-on-top.cbp-vert-expanded > .cbp-vertical > ul {
      visibility: visible;
      opacity: 1; }
    .cbp-vertical-on-top nav#cbp-hrmenu1 {
      margin-bottom: 0px; }

  #index .cbp-homepage-expanded > .cbp-vertical > ul {
    visibility: visible;
    opacity: 1; }

  #index .cbp-sticky .cbp-homepage-expanded > .cbp-vertical > ul {
    visibility: hidden;
    opacity: 0; }

  #index .cbp-sticky .cbp-vert-expanded > .cbp-vertical > ul {
    visibility: visible;
    opacity: 1; }

  .cbp-hrmenu.cbp-vertical {
    width: 100%;
    margin-bottom: 20px; }
    .cbp-hrmenu.cbp-vertical .cbp-submenu-aindicator {
      position: absolute;
      right: 8px;
      margin-top: 1px; }
    .cbp-hrmenu.cbp-vertical .cbp-legend-vertical {
      top: -8px;
      right: 14px; }

  .cbp-hrmenu.cbp-vertical > ul {
    width: 100%;
    max-width: 100%;
    padding: 0px; }

  .cbp-hrmenu.cbp-vertical > ul > li > a, .cbp-hrmenu.cbp-vertical > ul > li .span.cbp-main-link {
    padding-left: 15px;
    padding-right: 15px;
    display: block; }
  .cbp-hrmenu.cbp-vertical > ul > li:first-child > a, .cbp-hrmenu.cbp-vertical > ul > li:first-child .span.cbp-main-link {
    border-top: none; }

  .cbp-hrmenu.cbp-vertical .cbp-hrsub-wrapper {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 100; }

  .cbp-hrmenu.cbp-vertical .cbp-hropen .cbp-hrsub-wrapper {
    visibility: visible;
    opacity: 1.0; }

  /* first level ul style */
  .cbp-hrmenu > ul,
  .cbp-hrmenu .cbp-hrsub-inner {
    margin: 0 auto; }

  .cbp-hrmenu > ul > li {
    display: inline-block;
    float: left; }

  .cbp-hrmenu > ul > li > a, .cbp-hrmenu > ul > li > span.cbp-main-link {
    display: inline-block;
    position: relative;
    margin-top: 10px; /* fix error typo */
    padding-bottom: 10px;
    text-decoration: none;
    cursor: pointer;
    -webkit-transition: color 0.3s ease, background-color 0.3s ease;
    -moz-transition: color 0.3s ease, background-color 0.3s ease;
    -o-transition: color 0.3s ease, background-color 0.3s ease;
    transition: color 0.3s ease, background-color 0.3s ease; }
  .cbp-hrmenu > ul > li:first-child > a, .cbp-hrmenu > ul > li:first-child > span.cbp-main-link {
    border-left: none !important; }

  /* sub-menu */
  .cbp-hrmenu.cbp-arrowed .cbp-triangle-container {
    display: block; }

  .cbp-hrmenu .cbp-triangle-top {
    width: 0;
    height: 0;
    position: absolute;
    z-index: 1;
    border-left: 12px solid transparent;
    border-right: 12px solid transparent;
    border-bottom: 12px solid #fff;
    top: 1px; }

  .cbp-hrmenu .cbp-triangle-top-back {
    width: 0;
    height: 0;
    position: absolute;
    left: -1px;
    border-left: 13px solid transparent;
    border-right: 13px solid transparent;
    border-bottom: 13px solid #EAEAEA; }

  .cbp-hrmenu .cbp-triangle-container {
    display: none;
    left: 0px;
    top: 0px;
    position: absolute; }

  .cbp-hrmenu .cbp-triangle-left, #columns .cbp-hrmenu .cbp-triangle-left {
    position: absolute;
    width: 0;
    height: 0;
    left: 1px;
    z-index: 1;
    border-top: 12px solid transparent;
    border-bottom: 12px solid transparent;
    border-right: 12px solid #fff; }

  .cbp-hrmenu .cbp-triangle-left-back, #columns .cbp-hrmenu .cbp-triangle-left-back {
    position: absolute;
    width: 0;
    height: 0;
    top: -1px;
    left: 0px;
    border-top: 13px solid transparent;
    border-bottom: 13px solid transparent;
    border-right: 13px solid #EAEAEA; }

  .cbp-horizontal.cbp-arrowed .cbp-triangle-container {
    position: absolute;
    bottom: -13px; }

  .cbp-vertical.cbp-arrowed .cbp-hrsub-inner {
    margin-left: 12px; }

  .cbp-horizontal.cbp-arrowed .cbp-hrsub-inner {
    margin-top: 12px; }

  .cbp-hrmenu .cbp-hrsub {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    display: none;
    padding-bottom: 20px;
    padding: 0px !important; }

  .cbp-hropen .cbp-hrsub {
    visibility: visible;
    opacity: 1.0;
    z-index: 1; }

  .cbp-hrmenu .cbp-hrsub-inner {
    background: #fff;
    border: 1px solid #EAEAEA;
  margin-left: 0;
margin-right: 0;
box-shadow: 0 10px 20px -5px rgba(0,0,0,0.2); }
    /* .cbp-hrmenu .cbp-hrsub-inner > .row { */
      /* margin-left: 10px; */
      /* margin-right: 10px; } */
      /* .cbp-hrmenu .cbp-hrsub-inner > .row:last-child { */
        /* margin-bottom: 20px; } */

  /* .cbp-hrsub-wide .cbp-hrsub-inner .container > .row:last-child { */
    /* margin-bottom: 20px; } */

  .cbp-hrmenu .cbp-notfit {
    right: 0px; }

  .cbp-hrmenu .cbp-show {
    display: block; }
  .cbp-category-link-w{
    position: relative;

  }
  .cbp-category-tree{
      display: inline-block;
  }
  .cbp-hrmenu ul.cbp-hrsub-level2 {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    left: 100%;
    margin-top: -20px;
    padding: 8px 10px;
    z-index: 3;
    width: auto;
    background: #fff;
    border: 1px solid #EAEAEA;
    white-space: nowrap; }
  .cbp-hrmenu ul.cbp-hrsub-level3{
    left: 101%;
  }


  .cbp-hrmenu .pull-right {
    float: right !important;
  }


  .cbp-hrsub-haslevel3 > .cbp-category-link-w > ul {
          visibility: hidden;
      opacity: 0;
      position: absolute;
      left: 100px;
      margin-top: -20px;
      padding: 8px 10px;
      z-index: 3;
      width: auto;
  transition: visibility 180ms ease-in-out,opacity 180ms ease-in-out;
      white-space: nowrap;
  left: 101%;
  }
  .cbp-hrsub-haslevel3:hover > .cbp-category-link-w  > ul {
      visibility: visible;
      opacity: 1.0;
  }

  .cbp-hrsub-haslevel3:hover .cbp-hrsub-level2{
    visibility: visible;
    opacity: 1.0;
  }
   .cbp-hrsub-haslevel2:hover > div > ul.cbp-hrsub-level2 {
    visibility: visible;
    opacity: 1.0; }

  .cbp-hrmenu .cbp-tab-pane {
    display: none; }
  .cbp-hrmenu .cbp-tab-pane > .clearfix > .row {
    margin: 0px;
  }
    .cbp-hrmenu .cbp-tab-pane > div > .row:last-child {
      margin-bottom: 20px; }

  .cbp-hrmenu .cbp-hropen .cbp-tab-pane.active {
    visibility: visible;
    opacity: 1.0; }

  .cbp-hrmenu .cbp-tab-pane.active {
    display: table-cell; }

  /* wide submenu wrapper  */
  .cbp-hor-width-0 .cbp-hrsub-wide .cbp-hrsub {
    width: 100%;
    left: 0; }

  /* wide submenu submenucontent  */
  .cbp-hrsub-wide.cbp-hrsub-widec .cbp-hrsub-inner {
    width: 100%;
    max-width: 100%; }

  /* narrow submenu wrapper  */
  /* .cbp-hrsub-narrow { */
    /* position: relative; } */

  /* submenu effects  */
  .cbp-fade .cbp-hrsub {
    transition: visibility 300ms ease-in-out, opacity 300ms ease-in-out; }

  .cbp-fade .cbp-hrsub-level2 {
    transition: visibility 300ms ease-in-out, opacity 300ms ease-in-out; }

  .cbp-fade .cbp-hrsub-wrapper {
    transition: visibility 300ms ease-in-out, opacity 300ms ease-in-out; }

  .cbp-fade.cbp-vertical > ul {
    transition: visibility 300ms ease-in-out, opacity 300ms ease-in-out; }

  .cbp-fade-slide-bottom .cbp-hrsub {
    transition: all 300ms ease-in-out;
    margin-top: 15px; }

  .cbp-fade-slide-bottom .cbp-hropen .cbp-hrsub {
    transition: all 300ms ease-in-out;
    margin-top: 0px; }

  .cbp-fade-slide-bottom .cbp-hrsub-level2 {
    transition: visibility 300ms ease-in-out, opacity 300ms ease-in-out; }

  .cbp-fade-slide-top .cbp-hrsub {
    transition: all 300ms ease-in-out;
    margin-top: -15px;
    z-index: -20; }

  .cbp-fade-slide-top .cbp-hropen .cbp-hrsub {
    transition: all 300ms ease-in-out;
    margin-top: 0px;
    z-index: 1; }

  .cbp-fade-slide-top .cbp-hrsub-level2 {
    transition: visibility 300ms ease-in-out, opacity 300ms ease-in-out; }

  .cbp-hrmenu .cbp-hrsub-inner:before,
  .cbp-hrmenu .cbp-hrsub-inner:after {
    content: "";
    display: table; }

  .cbp-hrmenu .cbp-hrsub-inner:after {
    clear: both; }

  .cbp-hrsub h4 {
    color: #afdefa;
    padding: 2em 0 0.6em;
    margin: 0;
    font-size: 160%;
    font-weight: 300; }

  /* Catégories spéciales */
  /* Produits de fêtes */
  #cbp-hrmenu .cbp-hrsub-inner .cbp-categories-row #cbp-category-66 a{
    color:#ff6955;
  }
  #cbp-hrmenu .cbp-hrsub-inner .cbp-categories-row #cbp-category-66 a:hover{
    opacity:0.7;
  }
  /* @media (min-width: 1000px) { */
    /* .cbp-spmenu-push-toright { */
      /* left: 0px !important; } } */
  /* Responsive styling*/
  #iqitmegamenu-mobile {
    display: none;
    text-align: left; }
    @media (max-width: 768px) {
      #iqitmegamenu-mobile {
        display: block; } }
    #iqitmegamenu-mobile ul, #iqitmegamenu-mobile li {
      list-style-type: none; }
    #iqitmegamenu-mobile #iqitmegamenu-shower {
      text-transform: uppercase;
      padding: 12px 15px;
      cursor: pointer;
      line-height: 36px; }
    #iqitmegamenu-mobile .iqitmegamenu-icon {
      margin-right: 10px;
      color: #000;
      display: block;
      background-color: #fff;
      font-weight: bold;
      font-size: 24px;
      float: left;
      width: 36px;
      text-align: center;
      cursor: pointer; }
    #iqitmegamenu-mobile .iqitmegamenu-accordion {
      z-index: 99999;
      list-style: none;
      padding: 0px;
      overflow: hidden;
      height: auto;
      max-height: 0px;
      margin: 0px;
      padding-top: 50px;
      -webkit-transition: all 0.5s ease;
      -webkit-transition-delay: 0s;
      -moz-transition: all 0.5s ease 0s;
      -o-transition: all 0.5s ease 0s;
      transition: all 0.5s ease 0s; }
      #iqitmegamenu-mobile .iqitmegamenu-accordion.showedmenu {
        border-top: none;
        padding: 12px;
        max-height: 9999px;
        -webkit-transition: all 0.5s ease;
        -webkit-transition-delay: 0s;
        -moz-transition: all 0.5s ease 0s;
        -o-transition: all 0.5s ease 0s;
        transition: all 0.5s ease 0s; }
      #iqitmegamenu-mobile .iqitmegamenu-accordion > li {
        border-bottom: 1px dashed #dddddd; }
        #iqitmegamenu-mobile .iqitmegamenu-accordion > li:last-child {
          border-bottom: none; }
        #iqitmegamenu-mobile .iqitmegamenu-accordion > li > a {
          text-transform: uppercase;
          display: block;
          padding: 10px 0; }
        #iqitmegamenu-mobile .iqitmegamenu-accordion > li ul {
          background-color: #f8f8f8; }
          #iqitmegamenu-mobile .iqitmegamenu-accordion > li ul a {
            display: block;
            padding: 10px 0;
            border-top: 1px dashed #dddddd; }
      #iqitmegamenu-mobile .iqitmegamenu-accordion ul {
        list-style: none;
        padding: 0 0 0 0; }
        #iqitmegamenu-mobile .iqitmegamenu-accordion ul li {
          font-weight: normal;
          cursor: auto;
          padding: 0 0 0 7px; }
      #iqitmegamenu-mobile .iqitmegamenu-accordion a {
        text-decoration: none; }
        #iqitmegamenu-mobile .iqitmegamenu-accordion a:hover {
          text-decoration: none; }
  .cbp-mobilesubmenu {
    position: relative;
    z-index: 999999;
  }
  #iqitmegamenu-accordion {
    display: none; }

    #iqitmegamenu-accordion > li ul {
      display: none; }

    @media (max-width: 768px) {
      #iqitmegamenu-accordion {
        display: block; } }

    #iqitmegamenu-accordion  > li ul.cbpm-ul-showed {
        display: block; }

    #iqitmegamenu-accordion.cbp-spmenu > li ul ul {
      margin: 0px; }
      #iqitmegamenu-accordion.cbp-spmenu > li ul ul a {
        text-transform: none;
        border: none; }
      #iqitmegamenu-accordion.cbp-spmenu > li ul ul ul a {
        text-transform: none;
        font-weight: normal; }

  #iqitmegamenu-mobile .iqitmegamenu-accordion li a {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }

  .cbp-spmenu div.responsiveInykator {
    margin-right: 10px; }

    #cbp-close-mobile {
    padding: 0px;
    text-align: center;
    width: 50px;
    height: 50px;
    position: absolute;
    /* left: -50px;  */
    top: 0;
    left: 0;
    /* visibility: hidden; */
    /* opacity: 0; */
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease;
    border: none !important;
    }
    #cbp-close-mobile i {
      line-height: 50px;
      font-size: 28px; }
  .cbp-spmenu-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0px;
    top: 0px;
    z-index: 99999;
    visibility: hidden;
    opacity: 0;
    display: none;
    background:rgba(0, 0, 0, 0.45); }
    @media (max-width: 768px) {
      .cbp-spmenu-overlay {
        display: block; } }

  .cbp-spmenu-overlay-show {
    visibility: visible;
    opacity: 1; }
  .cbp-spmenu-overlay-show #cbp-close-mobile {
    left: 240px;
    visibility: visible;
    opacity: 1;
  }
  .cbp-spmenu {
    position: fixed;
    z-index: 5103;
    /* -webkit-box-shadow: inset -134px 0px 10px -133px rgba(0, 0, 0, 0.4); */
    /* -moz-box-shadow: inset -134px 0px 10px -133px rgba(0, 0, 0, 0.4); */
    /* box-shadow: inset -134px 0px 10px -133px rgba(0, 0, 0, 0.4);  */
      overflow-y: auto;}

  .cbp-spmenu h3 {
    color: #afdefa;
    font-size: 1.9em;
    padding: 20px;
    margin: 0;
    font-weight: 300;
    background: #0d77b6; }

  .cbp-spmenu a {
    display: block;
    color: #fff;
    font-size: 1.1em;
    font-weight: 300; }

  /* .cbp-spmenu > li > ul > li > a:hover { */
    /* margin-left: -10px; */
    /* margin-right: -10px; */
    /* padding-left: 23px; } */
  /*  */
  /* .cbp-spmenu a:active { */
    /* background: #afdefa; */
    /* color: #47a3da; } */

  /* Orientation-dependent styles for the content of the menu */
  .cbp-spmenu-vertical {
    /* width: 240px; */
    width: calc(100% - 60px );
    height: 100%;
    top: 0; }

  .cbp-spmenu-vertical a {
    border-bottom: 1px solid #258ecd;
    padding: 1em; }

  /* Vertical menu that slides from the left or right */
  .cbp-spmenu-left {
    /* left: -240px;  */
    left: calc(-100% + 60px );
  }

  .cbp-spmenu-left.cbp-spmenu-open {
    left: 0px; }

  /* Push classes applied to the body */
  .cbp-spmenu-push {
    overflow-x: hidden;
    position: relative;
    left: 0; }
  @media (max-width: 768px){
  .cbp-spmenu-push-toright {
    /* left: 240px;  */
    left: 0;
    width: 100%;
    /* position: fixed; */
  }
    }

  .cbp-spmenu-push-toleft {
      /* left: -240px; */
      left: calc(-100% + 60px );
   }

  /* Transitions */
  .cbp-spmenu,
  .cbp-spmenu-push {
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    transition: all 0.3s ease; }

  /* Example media queries */
  @media screen and (max-width: 55.1875em) {
    .cbp-spmenu-top {
      top: -110px; }

    .cbp-spmenu-bottom {
      bottom: -110px; } }
  @media screen and (max-height: 26.375em) {
    .cbp-spmenu-vertical {
      font-size: 90%;
      width: 190px; }

    .cbp-spmenu-left,
    .cbp-spmenu-push-toleft {
      left: -190px; }

    .cbp-spmenu-right {
      right: -190px; }

    .cbp-spmenu-push-toright {
      left: 190px; } }
  .container-xs-height {
    display: table;
    padding-left: 0px;
    padding-right: 0px; }

  .row-xs-height {
    display: table-row; }
    .row-xs-height:before {
      display: none; }
    .row-xs-height:after {
      display: none; }

  .col-xs-height {
    display: table-cell;
    float: none;
    vertical-align: top; }

  #iqitmegamenu-horizontal #search_block_top_content {
    width: auto;
    float: right;
    position: relative;
    width: 160px;
    right: 0px; }
  #iqitmegamenu-horizontal #search_block_top {
    position: absolute;
    top: 0px;
    width: 150px;
    right: 0px;
    bottom: 0px;
    margin: auto; }

  @media (max-width: 768px) {
    #iqitmegamenu-horizontal > .container {
      position: relative; } }

  @media (max-width: 767px) {
    #iqitmegamenu-horizontal #search_block_top_content {
      width: 100%;
      margin-bottom: 10px; } }
  @media (min-width: 768px) and (max-width: 999px) {
    #iqitmegamenu-horizontal #search_block_top_content {
      position: absolute;
      right: 20px;
      top: 10px;
      bottom: 10px;
      margin-right: 0px !important; } }

  @media (max-width: 767px) {
    #iqitmegamenu-horizontal #search_block_top {
      left: 0px; } }

  .cbp-hor-width-1 #iqitmegamenu-horizontal #search_block_top_content {
    margin-right: 15px; }

  @media (max-width: 767px) {
    #iqitmegamenu-horizontal {
      background: transparent !important;
      border: none !important; } }


  .cbp-hrmenu .col-xs-1, .cbp-hrmenu .col-xs-2, .cbp-hrmenu .col-xs-3, .cbp-hrmenu .col-xs-4, .cbp-hrmenu .col-xs-5, .cbp-hrmenu .col-xs-6, .cbp-hrmenu .col-xs-7, .cbp-hrmenu .col-xs-8, .cbp-hrmenu .col-xs-9, .cbp-hrmenu .col-xs-10, .cbp-hrmenu .col-xs-11, .cbp-hrmenu .col-xs-12, .cbp-hrmenu .col-sm-1, .cbp-hrmenu .col-sm-2, .cbp-hrmenu .col-sm-3, .cbp-hrmenu .col-sm-4,
  .cbp-hrmenu .col-sm-5, .cbp-hrmenu .col-sm-6, .cbp-hrmenu .col-sm-7, .cbp-hrmenu .col-sm-8, .cbp-hrmenu .col-sm-9, .cbp-hrmenu .col-sm-10, .cbp-hrmenu .col-sm-11, .cbp-hrmenu .col-sm-12, .cbp-hrmenu .col-md-1, .cbp-hrmenu .col-md-2, .cbp-hrmenu .col-md-3, .cbp-hrmenu .col-md-4, .cbp-hrmenu .col-md-5, .cbp-hrmenu .col-md-6, .cbp-hrmenu .col-md-7, .cbp-hrmenu .col-md-8,
  .cbp-hrmenu .col-md-9, .cbp-hrmenu .col-md-10, .cbp-hrmenu .col-md-11, .cbp-hrmenu .col-md-12, .cbp-hrmenu .col-lg-1, .cbp-hrmenu .col-lg-2, .cbp-hrmenu .col-lg-3, .cbp-hrmenu .col-lg-4, .cbp-hrmenu .col-lg-5, .cbp-hrmenu .col-lg-6, .cbp-hrmenu .col-lg-7, .cbp-hrmenu .col-lg-8, .cbp-hrmenu .col-lg-9, .cbp-hrmenu .col-lg-10, .cbp-hrmenu .col-lg-11, .cbp-hrmenu .col-lg-12
  {
    padding-left: 10px;
    padding-right: 10px;
  }

  #iqitmegamenu-horizontal.cbp-nosticky .container{
  max-width: 100%;
  }

  .cbp-hor-width-0 #iqitmegamenu-horizontal{
  margin: 0 -500%;
  padding: 0 500%;

  }

  .cbp-hor-width-0 #iqitmegamenu-horizontal  .container{
  padding-left: 10px;
  padding-right: 10px;
  }

  .cbp-hor-width-0 #iqitmegamenu-horizontal.cbp-sticky{
    margin: 0px;
    padding: 0px;
  }

  body, #page{
      overflow-x: hidden;
  }

  .col-xs-15,
  .col-sm-15,
  .col-md-15,
  .col-lg-15 {
      position: relative;
      min-height: 1px;
      padding-right: 10px;
      padding-left: 10px;
  }

  .col-xs-15 {
      width: 20%;
      float: left;
  }
  @media (min-width: 768px) {
  .col-sm-15 {
          width: 20%;
          float: left;
      }
  }
  @media (min-width: 992px) {
      .col-md-15 {
          width: 20%;
          float: left;
      }
  }
  @media (min-width: 1200px) {
      .col-lg-15 {
          width: 20%;
          float: left;
      }
  }